<section class="homeContainer">
	<div class="menu-inner">
		<nav>
			<div class="menu-elts">
				<div class="menu_elt menu_home color-7">
					<a class="link link--kukuri" href="#!/links" data-letters="Voyageurs" ng-click="closeMenu();">
					Voyageurs
					<img src="img/Sandals_64.png" class="linksLogo">
					</a>
				</div>
				<div class="menu_elt menu_home color-1">
					<img src="img/heaven_earth_drib.jpg" class="homeAvatar"/>
				</div>
				<div class="menu_elt menu_gallery color-4">
					<a href="#!/albums" class="link link--nukun" ng-click="closeMenu();">
						<span>GallEry</span>
					</a>
				</div>
				<div class="menu_elt menu_suggestions color-3">
					<a href="#!/suggestions" class="link link--manko" ng-click="closeMenu();">
						<div class="menu_suggestions">
							Suggestions
						</div>
					</a>
				</div>
				<div class="menu_elt menu_agenda color-9">
					<a href="#!/agenda" class="link link--takiri" ng-click="closeMenu();">
						Agenda
					</a>
				</div>
				<div class="menu_elt menu_articles color-8">
					<a href="#!/articles" class="link link--kumya" ng-click="closeMenu();">
						<span data-letters="ArTicles">ArTicles</span>
					</a>
				</div>
				<div class="menu_elt menu_infos color-11">
					<span>{{date | date:dateFormat}}</span>
					<p id="caption"></p>
				</div>
				<div class="menu_elt menu_cadonne" style="display: none;">
					<img id="cadonne" src="img/YJMyY0g.gif">
				</div>
			</div>
		</nav>
	</div>
</section>