<section class="homeContainer">
	<div class="menu active">
		<div class="menu-inner">
			<nav>
				<div class="menu-info">
					<div class="menu-phrase">
						<p>16 Jun</p>
						Yes, finally taco <strong>_Tuesday.</strong>
					</div>
				</div>
				<div class="menu-elts">
					<a ng-repeat="item in menu" href="#!/{{item.link}}" class="simple-border-box" ng-click="closeMenu();">
						<div class="sbb-contents">
							<img ng-src="img/{{item.icon}}"/>
							{{item.title | translate}}
							<span class="small-text">_sweet home./</span>
						</div>
					</a>
				</div>
			</nav>
		</div>
	</div>
</section>