<div class="site-loading-logo centered-ux" style="margin: 50px 0 120px 0; text-align: center; color: #757575;">
	LES COQS SOCCER
</div>
<div class='login'>
	<input type="button" ng-click="showLogin();" ng-if="errorMessage" value="Retour au formulaire" style="text-align: center; margin: 20px 80px; background: #757575;">
	</input>

	<div class='login_inner' ng-show="showSignin">
	  	<form class="formSignin" name="form" action="users/session" method="POST">
	   		<div class='login_inner__avatar'>
	   			<img src="img/coq.png">
	   		</div>
			<input ng-model='email' name="email" placeholder='Email' type='email' style="border-radius: 2px 5px 0 0;">
			<input ng-model='password' name="password" placeholder='Mot de passe' type='password' style="border-radius: 0 0 5px 5px;">
			<input type='button' ng-click="signin(formLogin);" value='Connexion'>
	  	</form>
	</div>

	<div ng-show="!showSignin" ng-class="(isValid) ? 'loginContainerSucess' : 'loginContainerError'">
		<div class='login_inner__check' ng-class="(isValid) ? 'loginSucess' : 'loginError'">
			<div class='login_inner__check--complete'>
			  	<i class='fa loginValidationIcon' ng-class="(isValid) ? 'fa-check' : 'fa-times'"></i>
			  	<div ng-if="errorMessage !== ''" style="color: #F44336; width: 200px; margin: 20px -70px;">
			  		{{errorMessage}}
			  	</div>
			</div>
		</div>
	</div>
</div>