<aside id="sidebar" class="sidebar_hide" style="text-align:center;">

		<div id="sidebar-trigger">
			<div class="menu-icon">
				<i class="icon-m-menu"></i>
			</div>
		</div>

		<!--End sidebar-trigger-->
		<div class="sidebar-main">

		<!--Logo-->
		<h1 id="logo" style="padding-left: 65px;">
			<a href="#!" title="Aside Responsive HTML Theme">
				Le Site
			</a>
		</h1>

		<!--Menu-->
		<nav id="navi" class="clearfix">
			<div id="navi_wrap" class="menu-demo-menu-container">
				<div class="testimonial-thum" style="text-align:center;margin-left:-40px;">
					<a href="#!/users/profile">
                    	<img ng-src="{{global.user.avatar && global.user.avatar + '?dim=300x300' || 'img/Professor.png'}}" alt="{{global.user.username}}" draggable="false" class="sidebarAvatar">
                    </a>
                </div>
				<ul class="menu">
					<li ng-repeat="item in menu" class="menu-item menu-item-type-post_type menu-item-object-page page_item" ng-class="{'menu-item-has-children': item.children.length > 0, 'current_page_item current-menu-item' : isCurrentPath(item)}">
						<a ng-href="{{item.link}}">
							{{item.name}}
						</a>
						<ul class="sub-menu" ng-show="item.children.length > 0">
							<li ng-repeat="child in item.children" class="menu-item menu-item-type-post_type menu-item-object-page">
								<a ng-href="{{child.link}}">{{child.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<!-- End Menu -->
		<div class="sidebar-bottom-wrap" style="left: 60px;">

			<!--Search bar-->
			<!-- <form id="search_form_1" name="" method="get" class="search-form_header" action="#">
				<input type="text" onblur="if (this.value == '') {this.value = 'SEARCH';}" onfocus="if (this.value == 'SEARCH') {this.value = '';}" id="search" name="search" value="SEARCH" class="textboxsearch">
				<span class="submit-wrap"><input type="submit" value="" class="submitsearch" name="submitsearch"><i class="fa fa-long-arrow-right middle-ux"></i></span>
			</form> -->

			<div class="copyright">Copyright alex@2015</div>
		</div>
	</div>
</aside>