<div class="message-box" style="text-align:center;">
	<p class="box-close" style="position: absolute;top:10px;right:30px;z-index: 1000;">
		<i class="icon-m-close-thin liquid-item-close" style="color: black;z-index: 8040; right: 0; top: 10px; cursor: pointer;position: absolute;font-size: 18px;" ng-click="cancel();">
		</i>
	</p>
	<div class='app_inner'>
		<div class="profile-card user-card card">
			<div class="banner">
			</div>
			<header style="margin-top: 40px;">
				<h1 style="color: black;">
					La collecte de points
				</h1>
				<p>
					et les grades associés
				</p>
				<p>
					Les règles d'attribution de points sont les suivants
				</p>
			</header>
			<div class="card-footer">
				<ul class="stats">
					<li>
						<a href='#!/articles'>
							<strong>
								5
							</strong>
							<span>
								Albums
							</span>
						</a>
					</li>
					<li>
						<a href='#!/articles'>
							<strong>
								12
							</strong>
							<span>
								Articles
							</span>
						</a>
					</li>
					<li>
						<a href='#!/articles'>
							<strong>
								27
							</strong>
							<span>
								Commentaires
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>