<div class="message-box" style="text-align:center;">
	<p class="box-close" style="position: absolute;top:10px;right:30px;z-index: 1000;">
		<i class="icon-m-close-thin liquid-item-close" style="color: white;z-index: 8040; right: 0; top: 10px; cursor: pointer;position: absolute;font-size: 18px;" ng-click="cancel();">
		</i>
	</p>
	<div>
		<div class="profile-card user-card card ruleCard">
			<div class="banner">
				<img src="img/logo-euro-2016-france-Rogne1.jpg"/>
			</div>
			<header style="margin-top: 0;">
				<h3 style="margin-top: 20px;">
					Les règles?
				</h3>
				<p>
					On peut (et on doit) parier sur chacun des matchs de l'euro, et ceci avant qu'il ait démarrer.
					Personne, à part toi ne peut voir les paris des autres avant le début du match.
					Tu marque des points une fois que le match est terminé et que le score est entré sur le site par une personne de confiance (à définir, même si quelques uns sont déjà visés :) ). Tous les soirs, les points seront mis à jour automatiquement après la rentré des scores rééls.
				</p>
				<h3>
					Les points
				</h3>
				<p>
					15 points pour le pays vainqueur.
					<br/>
					5 points pour un score exact.
					<br/>
					2 points pour le bon vainqueur.
					<br/>
					1 point (peut se cumuler) si tu as une différence de but inférieure à deux.
					<br/>
					0 points pour un pari raté.
				</p>
			</header>
			<div class="card-footer">
				<ul class="stats">
					<li>
						<a href='#!/euro'>
							<span ng-if="!global.user.favoriteEuroTeam">
								Choisis ton Equipe
							</span>
							<span ng-if="global.user.favoriteEuroTeam">
								Aller parier>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
