<div id="post-662" class="page type-page status-publish hentry" >
	<div class="row-fluid">
		<div id="content_wrap">
			<div class="content-wrap-inn bottom-space">
				<div class="pagebuilder-wrap">
					<div class="fullwrap_moudle">
						<div class="row-fluid">
							<div class="fullwidth-wrap top-space-80-in bottom-space-40-in fullwidth-text-white bottom-space-40 ">
								<div class="parallax" data-ratio="0.3">
									<img class="parallax-img" src="img/background-testimonial.jpg" style="-webkit-filter: grayscale(100%); opacity: 0.6;">
								</div>
								<div class="container">
									<div class="row-fluid">
										<div class="span12 moudle">
											<div class="flex-slider-wrap testimonial-wrap ux-mod-nobg" data-direction="false" data-control="true" data-speed="5" data-animation="fade">
												<div class="flexslider">
													<div class="testimonial-thum">
														<img ng-src="{{user.avatar && user.avatar + '?dim=300x300' || 'img/Professor.png'}}" class="attachment-thumbnail wp-post-image" alt="13" draggable="false">
													</div>
													<blockquote>
														<p style="color: #de3926;">{{user.presentation}}</p>
														<cite>
														<a href="http://ximudesign.com/aside/" style="color: #de3926;">
														---- {{user.name || user.username}}
														</a>
														</cite>
													</blockquote>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="container">
							<div class="row-fluid">
								<div class="span12 moudle moudle_has_animation bouncdein-up-translate animation-default-ux animation-scroll-ux  bottom-space-40  animation_hidden bouncdein-up-ed" style="opacity: 1;">
									<div data-post="20140417-063009-451" class="text_block ux-mod-nobg ">
										<a name="20140417-063009-451" class="20140417-063009-451"></a>
										<h1 style="text-align: center;"><span style="line-height: 1.5em;">
										CONTACT</span></h1>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row-fluid">
								<div class="span12 general_moudle">
									<div class="row-fluid">

										<div class="span4 moudle moudle_has_animation bouncdein-up-translate animation-default-ux animation-scroll-ux  bottom-space-40  animation_hidden bouncdein-up-ed" style="opacity: 1;">
											<div data-animation="rorate" class="iocnbox icon_left  ux-mod-nobg">
												<div class="icon_wrap">
													<i class="fa fa-cogs"></i>
												</div>
												<div class="icon_text">
													<h3 style="text-transform: uppercase;">
														{{user.name}}
													</h3>

													<label>Email</label>
													<p>
													 	{{user.email}}
													</p>

													<div ng-repeat="skill in user.skills" style="margin-top: 20px;">
														<label>{{skill.name}}</label>
														<p>
														 	{{skill.value}}
														</p>
													</div>
												</div>
											</div>
										</div>

										<div class="span4 moudle iocnbox" style="opacity: 1;">
						                                                            <h3 style="text-transform: uppercase;">Côte de popularité</h3>
						                                                            (Pour l'instant c'est (un peu) aléatoire, mais bientôt faudra pas faire de la merde sous peine d'être le bisu du site).
											<section class="infrographic pie ux-mod-nobg" style="margin-top: 20px;">
						                                                            <section class="pie-item">
						                                                                <div style="display: inline; width: 120px; height: 120px;">
						                                                                    <input class="knob" data-width="120" data-height="120"
						                                                                        data-thickness=".03" data-bgcolor="#FAFAFA" value="75" data-val="75" data-readonly="true" data-fgcolor="#00CF75" readonly="readonly" style="width: 64px; height: 40px; position: absolute; vertical-align: middle; margin-top: 40px; margin-left: -92px; border: 0px; font-weight: 300; font-style: normal; font-variant: normal; font-size: 26px; line-height: normal; font-family: Arial; text-align: center; color: rgb(0, 207, 117); padding: 0px; -webkit-appearance: none; background: none;">
						                                                                </div>
						                                                            </section>
						                                                        </section>
										</div>

										<div class="span4 moudle moudle_has_animation bouncdein-right-translate animation-default-ux animation-scroll-ux  bottom-space-40  animation_hidden bouncdein-right-ed" style="opacity: 1;">
											<div data-animation="rorate" class="iocnbox icon_left  ux-mod-nobg">
												<div class="icon_wrap">
													<i class="fa fa-comments"></i>
												</div>
												<div class="icon_text">
													<a ng-href="#!/conversations/{{user._id}}">
													<h3>TAPER LA DISCUTE</h3>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container userDetailBlog">
							<h2 style="margin: 0 60px 40px 0;">Ses derniers articles</h2>
							<div class="isotope masonry isotope_fade" data-size="brick" style="margin: -40px 0px 0px -40px; display: none;">
								<cm-blog-post ng-repeat="article in articles" ng-if="$index < 6" type="{{article.type || 'standard'}}" format="tiles">
								</cm-blog-post>
							</div>
							<p ng-if="articles.length === 0" style="margin-top: 20px;">Que neni</p>
						</div>
						<div class="row-fluid" style="margin-top: 40px;">
							<div class="span12 moudle">
								<div class="container-isotope clear" data-post="20140417-063206-425">
									<h2 style="margin: 40px 60px 20px;">Ses derniers albums photos</h2>
									<p ng-if="albums.length === 0" style="margin-left: 60px;">Que neni</p>
									<div class="isotope masonry isotope-liquid-list isotope_fade" data-space="0px" data-width="width2" data-size="small" style="display: none; margin: 0px 40px 0px 40px;">
										<div class="width2 isotope-item hover-effect" ng-repeat="album in albums" ng-if="$index < 8" style="border: none; padding: 20px;">
											<div class="inside liquid_inside brick-inside">
												<div class="brick-content brick-hover">
													<a class="liquid_list_image" data-postid="{{album._id}}" ng-href="#!/albums/view/{{album._id}}" data-color="bg-theme-color-10" data-type="image" style="display: block;">
													<div class="brick-hover-mask" style="display: flex;height: 100%;margin: auto;">
														<i class="fa fa-play-circle" style="font-size: -webkit-xxx-large; color: #de3926; margin: auto;"></i>
													</div>
													<img
													ng-src="{{album.coverPicPath}}?dim=300x300"
													class="attachment-imagebox-thumb wp-post-image"
													alt="{{album.name}}">
													</a>
												</div>
												<div class="latest-posts-tit-wrap">
													<h2 class="latest-posts-tit text-center">
													<a ng-href="#!/albums/view/{{album._id}}" class="content-portfolio-images-on-right.html">
													<span class="latest-posts-tit-a-inn ellipsis" style="display: block;">
													<i class="fa fa-folder"></i>
													&nbsp;&nbsp;{{album.name}}
													</span>
													</a>
													</h2>
												</div>
											</div>
											<!--Loading for album summary-->
											<div style="display: none;" class="inside liquid-loading-wrap bg-theme-color-10">
												<div class="ux-loading"></div>
												<div class="ux-loading-transform">
													<div class="loading-dot1" style="background-color:#FFFFFF;">&nbsp;</div>
													<div class="loading-dot2" style="background-color:#FFFFFF;">&nbsp;</div>
												</div>
												<img ng-src="{{album.coverPicPath}}?dim=300x300" class="liquid-hide wp-post-image">
												<div class="latest-posts-tit-wrap">
													<h2 class="latest-posts-tit text-center">
													<a class="content-portfolio-images-on-right.html">
													<span class="latest-posts-tit-a-inn ellipsis">
													<i class="fa fa-folder"></i>
													&nbsp;&nbsp;{{album.name}}
													</span>
													</a>
													</h2>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<cm-page-builder></cm-page-builder>