<section class="rightcontainer">

	<div class="subtitle">
        <h1>La fine équipe</h1>
    </div>

	<div class="pagecontent">
		<div class="box" ng-repeat="user in team">
      		<div class="boxInner">
      			<a href="#!" data-ng-click="showUserDetail($event, user)">
					<img ng-src="{{user.avatar || 'img/photos/team2.jpg'}}" alt="user.name"/>
					<div class="titleBox">{{user.name || user.username}}</div>
				</a>
			</div>
		</div>

		<!-- <hr/>
		<h2>Classement de la semaine</h2>
        <dl class="faq">
            <dt>Deserunt lorem voluptate</dt>
            <dd>Si quamquam est appellat a nulla est si tamen probant. Id ad dolor ingeniis, dolor quibusdam an fore culpa, quid se ubi tamen proident, malis probant concursionibus. A quorum familiaritatem, aliquip multos probant.O quid laboris ut nam eu illum mentitum. Legam aut pariatur sed iis nisi admodum instituendarum, varias mandaremus do offendit a an e arbitrantur quo ad ex fore mentitum.</dd>
            <dt>Officia magna si quibusdam</dt>
            <dd>Occaecat aliqua ipsum eu velit hic qui anim incurreret iudicem ut veniam cernantur transferrem, ex velit in veniam. Consequat cohaerescant se ullamco, appellat qui enim excepteur vidisse nisi ingeniis te excepteur ab minim enim adipisicing deserunt quorum excepteur a quorum possumus. O quid laboris ut nam eu illum mentitum. Legam aut pariatur sed iis nisi admodum instituendarum.</dd>
            <dt>Multos voluptate hic</dt>
            <dd>Incurreret nam arbitror graviterque a vidisse quo si varias voluptate, quorum firmissimum iudicem quorum incurreret, a cernantur ne vidisse, occaecat duis noster doctrina anim. O quid laboris ut nam eu illum mentitum. Legam aut pariatur sed iis nisi admodum instituendarum, varias mandaremus do offendit a an e arbitrantur quo ad ex fore mentitum varias mandaremus do offendit a an e arbitrantur quo ad ex fore mentitum</dd>
        </dl> -->

	</div>

</section>