<!-- <section class="rightcontainer">

    <div class="subtitle">
        <h1>La fine équipe</h1>
    </div>
    <div class="pagecontent">
        <div class="box" ng-repeat="user in team">
            <div class="boxInner">
                <a href="#!" data-ng-click="showUserDetail($event, user)">
                <img ng-src="{{user.avatar || 'img/photos/team2.jpg'}}" alt="user.name"/>
                <div class="titleBox">{{user.name || user.username}}</div>
                </a>
            </div>
        </div>
    </div>
</section> -->
<div id="post-574" class="post-574 page type-page status-publish hentry">
    <div class="row-fluid " style="min-height: 799px;">
        <div id="content_wrap" class="">
            <div class="content-wrap-inn top-space bottom-space ">
                <div class="pagebuilder-wrap">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span12 moudle">
                                <div data-post="20140425-001758-102"
                                    class="text_block ux-mod-nobg ">
                                    <a name="20140425-001758-102" class="20140425-001758-102"></a>
                                    <br>
                                    <h1>
                                    OUR TEAM IS <span class="word-fadein-fadeout-ux"><span
                                    style="display: inline; opacity: 0.9396581550952778;">EXPERIENCED</span><span
                                    style="display: none;">CREATIVE</span><span
                                    style="display: none;">EFFCIENT</span></span>
                                    </h1>
                                    <br>
                                    <br> Tignissim adipiscing tristique ac, diam turpis vel
                                    arcu magnis, nunc in, tincidunt etiam a rhoncus, tristique
                                    mattis, nascetur massa diam hac cum amet. Integer est.
                                    Adipiscing aliquam a odio phasellus auctor penatibus, ac
                                    facilisis! Hac est tortor vel mid! Montes vel pellentesque ut.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row-fluid">
                            <div
                                class="span12 moudle moudle_has_animation animation-default-ux animation-scroll-ux  bottom-space-40  animation_hidden fadeined"
                                style="opacity: 1;">
                                <!--gallery isotope-->
                                <div class="row-fluid">
                                    <a name="20140425-001909-709" class="20140425-001909-709"></a>
                                    <div class="container-isotope"
                                        data-post="20140425-001909-709">
                                        <div class="isotope grid_list team-isotope isotope_fade"
                                            data-space="40px"
                                            data-size="medium">
                                            <div ng-repeat="user in team"
                                                class="width2 isotope-item animation-default-ux animation-scroll-ux fadeined">
                                                <div class="inside card" style="padding: 40px 0 0 40px;">
                                                    <div class="team-item">
                                                        <div class="img-wrap">
                                                            <img
                                                            ng-src="{{user.avatar || 'img/photos/team2.jpg'}}"
                                                            class="team-img wp-post-image" alt="13">
                                                        </div>
                                                        <div class="team-item-con-back">
                                                            <div class="team-item-con-back-inn">
                                                                <a class="team-item-title" title="Ricky Barclay"
                                                                href="http://ximudesign.com/aside/team/ricky-barclay/">
                                                                {{user.name || user.username}}
                                                                </a>
                                                                <div class="team-item-con-h">
                                                                    <p class="team-position">CTO</p>
                                                                    <p class="team-email">Ricky@gmail.com</p>
                                                                    <p class="team-phone">+00 302 32</p>
                                                                </div>
                                                                <p class="team-icons">
                                                                <a href=""> <i class="fa fa-github-square"></i>
                                                                </a>
                                                                </p>
                                                                <!--End team-icons-->
                                                            </div>
                                                            <!--End team-item-con-back-inn-->
                                                        </div>
                                                        <!--End team-item-con-back-->
                                                    </div>
                                                </div>
                                                <!--End inside-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--End container-isotope-->
                                </div>
                                <!--End row-fluid-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End content-wrap-inn-->
        </div>
        <!--end content_wrap-->
    </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
    var ux_pb = new ThemePageBuilder();
    ux_pb.init();
});
</script>