<div class="row-fluid" style="min-height: 100vh; margin-top: 100px;">
	<div id="content_wrap">
		<div class="content-wrap-inn bottom-space">
			<div class="pagebuilder-wrap">
				<section class="container">
					<div class="row active-with-click">
						<div class="span12 bottom-space-60" style="margin-left: 40px;">
							<div class="isotope masonry" data-size="large" data-width="width2" style="margin: -20px 0px 0px -20px;">
								<div class="width2 isotope-item hover-effect" ng-repeat="user in team | orderBy:user.euroPoints">
									<div class="inside" style="padding: 20px;">
										<div class="profile-card user-card card item_des">
											<div class="banner">
												<img src="img/logo-euro-2016-france-Rogne1.jpg"/>
											</div>
											<div class="user-image">
												<img ng-src="{{ user.avatar && user.avatar + '?dim=100x100' || 'img/Professor.png' }}" style="background: white;"/>
											</div>
											<header>
												<h1 style="color: black;">
													{{ user.username }}
												</h1>
												<p style="font-size: 20px; font-weight: 500">
													{{ user.euroPoints || 0 }} pts
												</p>
												<p style="font-size: 20px; font-weight: 500; color: red;">
													Classement : {{ $index + 1 }}
												</p>
											</header>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<cm-isotope>
</cm-isotope>
