<div style="margin-top: 60px;">
	<div class="row-fluid">
		<div id="content_wrap">
			<div class="content-wrap-inn bottom-space">
				<div class="pagebuilder-wrap">
					<div style="width: calc(100% - 120px);background: white; margin: 40px 60px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); color: #7b7b7b; border-radius: 2px;">
						<div class="container">
							<div id="comments">
								<div id="respondwrap">
									<div id="respond" class="comment-respond">
										<form role="form">
											<div class="span6 bottom-space-20">
												<h3 style="padding-bottom: 30px;">
													Infos du compte
												</h3>
												<div class="flex-slider-wrap testimonial-wrap ux-mod-nobg" data-direction="false" data-control="true" data-speed="5" data-animation="fade" style="padding-bottom: 0;">
													<div class="flexslider" style="text-align: center;">
														<div class="testimonial-thum">
															<img ng-src="{{ user.avatar && user.avatar + '?dim=300x300' || 'img/Professor.png' }}" class="attachment-thumbnail wp-post-image" alt="13" draggable="false"/>
														</div>
														<label>
															Changer la photo
														</label>
														<input nv-file-select type="file" uploader="uploader" class="manual-file-chooser js-manual-file-chooser js-avatar-field" value="Changer la photo"/>
													</div>
												</div>
												<label>
													{{ 'profile_username' | translate }}
												</label>
												<input type="text" data-ng-model="user.username" style="margin-bottom: 20px;"/>
												<label>
													{{ 'profile_email' | translate }}
												</label>
												<input type="text" data-ng-model="user.email" style="margin-bottom: 20px;"/>
												<label>
													Le petit mot aux copaings
												</label>
												<textarea data-ng-model="user.presentation">
												</textarea>
												<div ng-repeat="skill in user.skills">
													<label>
														{{ skill.name }}
													</label>
													<input type="text" data-ng-model="skill.value" style="margin-bottom: 20px;"/>
												</div>
												<h3 style="padding-bottom: 30px;">
													Ajouter des infos
												</h3>
												<div>
													<label>
														Libéllé de l'info
													</label>
													<input type="text" placeholder="Ex: Numéro de téléphone" data-ng-model="skill.name"/>
													<label>
														Contenu de l'info
													</label>
													<input type="text" placeholder="Ex: 06 666 6666 66" data-ng-model="skill.value"/>
													<input type="button" ng-click="addSkill();" ng-disabled="skillName === 0" value="Ajouter" style="color: white; width: 200px;"/>
												</div>
											</div>
											<div class="span6 moudle bottom-space-20" style="padding-left: 20px;">
												<h3 style="padding-bottom: 30px;">
													Mes publications
												</h3>
												<div id="profile-timeline" ng-if="userContents.length > 0">
													<div class="timelineContainer">
														<cm-profile-timeline ng-repeat="item in userContents | orderBy:'-created'" type="{{ item.type || 'standard' }}">
														</cm-profile-timeline>
													</div>
												</div>
												<h2 ng-if="userContents.length === 0">
													Aucune publications
												</h2>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
