extends ../layouts/authentication

block content
  .login-box
      if message && message.length
        .info-box
          span.info-box-close(data-dismiss="info-box")
          strong #{message}
      block auth
