<div class="modal-header">
    <button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Confirmation pour supprimer - {{article.name}}</h4>
</div>
<div class="modal-body">
    <p>T'es sur de vouloir supprimer l'article "{{article.name}}"?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="cancel()">Annuler</button>
    <button type="button" class="btn btn-danger" data-ng-click="ok()">Supprimer</button>
</div>