<div>
	<div class="timeline-item suggestion">
		<div class="timeline-content">
			<h2 style="background: #1b2d41;">
				<div class="timeline-action">
					<a class="fa fa-edit" ng-href="#!/suggestions/edit/{{ item._id }}">
					</a>
					<a class="fa fa-times" ng-href="#" ng-click="deleteSuggestion($event, item);">
					</a>
				</div>
				Tu demande à l'assemblée des suceurs:
			</h2>
			<a href="#!/suggestions">
				<div class="three-line-ellipsis item_des bg-theme-color-7" style="margin: 0 -20px -20px;">
					<p style="padding: 0; margin-left: 10px;" class="three-line-ellipsis">
						{{ item.content }}
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
