<section class="mainContent" data-ng-controller="agendaController">

    <section class="controls no-select" style="position: absolute; left: 0; top: 0;">
      <div class="tControls">
        <div class="top" style="margin-top: 50px;">
          <button ng-click="items.showCreationForm()" class="btn" title="Créer un nouvel article" alt="Créer un nouvel article">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
          <button ng-click="items.showEditionForm()" ng-disabled="!items.selected" class="btn" title="Editer l'article" alt="Editer l'article">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
          <button ng-click="remove(items.selected.article)" ng-disabled="!items.selected" class="btn">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
        <div class="middle">
          <button ng-click="items.prev();" class="btn" ng-disabled="!items.hasPrev()">
            <i class="glyphicon glyphicon-arrow-up"></i>
          </button>
          <button ng-click="items.next();" class="btn" ng-disabled="!items.hasNext()">
            <i class="glyphicon glyphicon-arrow-down"></i>
          </button>
        </div>
        <div class="bottom">
          <button ng-click="refresh()" class="btn" title="Refresh feeds" alt="Refresh feeds">
            <i class="glyphicon glyphicon-refresh"></i>
          </button>
        </div>
      </div>
    </section>

    <section class="summaries" style="position: absolute; left: 50px; top: 50px; height: calc(100% - 50px);">
      <article ng-repeat="item in items.all"
               id="{{item.id}}"
               ng-class="{active: item.selected && items.selected}" class="well summary"
               ng-click="items.selectItem($index);">
        <div class="row-fluid" >
          <div class="span6 pub-name">
            {{item.feedTitle}}
          </div>
          <div class="span6 pub-date">
            {{item.date}}
          </div>
        </div>
        <h3 class="pub-title">{{item.title}}</h3>
      </article>
    </section>

    <section class="entries" style="padding-top: 0; margin-left: 350px;">

      <article class="well entry active"
               ng-show="items.selected && items.onCreation === false && items.onEdition === false">
        <div class="row-fluid">
          <h2>{{items.selected.title}}</h2>
          <span class="author">{{items.selected.user.name}}</span> - le <span class="pub-name">{{items.selected.created | date:'medium'}}</span>
          <hr />
          <w-Viewarticle></w-Viewarticle>
        </div>
      </article>

      <div class="btn-group btn-toggle" style="float:right;">
        <button class="btn" ng-class="(display === 'calendar')? 'btn-primary active' : 'btn-default';" ng-click="display = 'calendar'">Agenda</button>
        <button class="btn" ng-class="(display === 'map')? 'btn-primary active' : 'btn-default';" ng-click="display = 'map'">Map</button>
      </div>
      <div class="alert alert-info ng-binding col-md-4">
          <a class="close" ng-click="remove($index)">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
          <label class="ng-pristine ng-valid">Mon Agenda</label>
      </div>
      <div class="clear"></div>
      <div class="alert alert-info ng-binding col-md-4">
          <a class="close" ng-click="remove($index)">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
            <label class="ng-pristine ng-valid">Agenda de la communauté</label>
      </div>
      <div class="clear"></div>

      <article  id="directives-calendar"
                class="well entry active"
                ng-show="display === 'calendar'">
        <div class="well">
          <div class="row-fluid">
            <div id="modal" ng-controller="Modal" style="float: right;">
              <button class="btn btn-link" ng-click="open('modal.html', 'UserEventController')">Ajouter un évènement</button>
            </div>
            <div class="span8">
                <tabset>
                    <tab select="renderCalender(myCalendar1);">
                      <tab-heading>
                          <i class="glyphicon glyphglyphicon glyphicon-bell"></i>Calendrier
                      </tab-heading>
                      <div class="btn-toolbar">
                        <div class="btn-group">
                          <button class="btn btn-success" ng-click="changeView('month', myCalendar1)">Mois</button>
                          <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar1)">Semaine</button>
                          <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar1)">Jour</button>
                        </div>
                      </div>
                    <div class="calendar lead " ng-model="eventSources" calendar="myCalendar1" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                   </tab>
                </tabset>
            </div>
          </div>
        </div>
      </article>

      <article  class="well entry active"
                ng-show="display === 'map'">
        <div class="well">
          <div class="row-fluid">
            <label for="title" class="col-md-2 control-label">Localisation</label>
               <!-- search/go to current location -->
             <div style="margin-bottom: 15px;">
                  <p class="input-group" style="margin-bottom: 15px;">
                    <input type="text" class="form-control" ng-model="search"/>
                    <span class="input-group-btn">
                    <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="search" >
                      &nbsp;<i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button class="btn" type="button" ng-click="gotoCurrentLocation()" title="current location">
                      &nbsp;<i class="glyphicon glyphicon-home"></i>
                    </button>
                    </span>
                  </p>
                  <google-map center="map.center" zoom="map.zoom"></google-map>
              </div>
            </div>
        </div>
      </article>

    </section>
</section>

