<style type="text/css">
		body {
			font-family: "helvetica";
			color : #333;
		}
		.chart {
			float:left;
			width: 50%;
			height:400px;
		}
</style>
<section data-ng-controller="GraphController">
	
	<select ng-model='chartType'>
		<option value="pie">pie</option>
		<option value="bar">bar</option>
		<option value="line">line</option>
		<option value="point">point</option>
		<option value="area">area</option>
	</select>

	<div class='charts'>
		<div ac-chart="chartType" ac-data="data" ac-config="config" id='chart' class='chart'></div>
	</div>

	<div class='charts'>
		<div ac-chart="chartType" ac-data="data1" ac-config="config1" id='chart' class='chart'></div>
	</div>

</section>