<div class="container" data-ng-controller="HeaderController">
    <ul class="navbar-nav nav" style="margin-left: 50px;">
        <li>
            <a class="navbar-brand" href="#!/articles">Home</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li><a href="signup">Créer un compte</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">Se connecter</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li class="dropdown">
            <img src="{{global.user.path || 'images/pf-5.jpg'}}" class="avatar img-circle" alt="avatar" style="height: 40px; width: auto; vertical-align: middle;"/>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display:inline-block;">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ng-href="#!/profile">Profil</a>
                </li>
                <li><a href="/signout">Se déconnecter</a>
                </li>
            </ul>
        </li>
    </ul>
</div>