<div class="modal-header">
    <h3>Créer un nouvel évènement</h3>
</div>
<div class="modal-body">
	<section>
		<form class="form-horizontal" role="form">
			<div class="form-group">
			    <label for="title" class="col-md-2 control-label">Titre</label>
				<div class="col-md-10">
					<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Titre de l'évènement" required>
				</div>
			</div>
			<div class="form-group">
			    <label for="title" class="col-md-2 control-label">Contenu</label>
				<div class="col-md-10">
					<textarea class="form-control" data-ng-model="content" id="content" placeholder="Contenu de l'évènement" required style="min-height:150px;"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div>
				    <label for="title" class="col-md-2 control-label">Début</label>
			        <div class="col-md-10">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="startDate" is-open="$parent.openedStartDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
			              <span class="input-group-btn">
			                <button class="btn btn-default" ng-click="open($event, 'startDate')"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
			    </div>
			</div>
			<div class="form-group">
				<div>
				    <label for="title" class="col-md-2 control-label">Fin</label>
			        <div class="col-md-10">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="endDate" is-open="$parent.openedEndDate" min="maxDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
			              <span class="input-group-btn">
			                <button class="btn btn-default" ng-click="open($event, 'endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
			    </div>
			</div>
			<div class="form-group">
				<div>
				    <label for="title" class="col-md-2 control-label">Notifier les utilisateurs</label>
				    <div class="col-md-10">
				        <div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    User 1
						    </input>
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    User 2
						    </input>
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    User 3
						    </input>
						  </label>
						</div>
					</div>
			    </div>
			</div>
	    </form>
    </section>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

