<section data-ng-controller="ArticlesController">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
        <div class="left-col">
            <div class="member-avatar">
                <img src="images/member-1.jpg" alt=""/>
            </div>
        </div>
        <div class="clear"></div>
        <div class="form-group">
            <label for="title" class="col-md-2 control-label">Nom</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="global.user.name" id="title" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-md-2 control-label">Mot de passe</label>
            <div class="col-md-10">
                <input type="password" class="form-control" data-ng-model="global.user.password" id="password" required>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-md-2 control-label">Confirmer</label>
            <div class="col-md-10">
                <input type="password" class="form-control" id="passwordConfirm" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Mettre à jour le profil</button>
            </div>
        </div>
    </form>
</section>