<ul class="nav main-menu">
<li>
	<a href="#!/home" class="active ajax-link">
		<i class="fa fa-dashboard"></i>
		<span class="hidden-xs">Dashboard</span>
	</a>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-bar-chart-o"></i>
		<span class="hidden-xs">Charts</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="ajax-link" href="#!/charts_xcharts">xCharts</a></li>
		<li><a class="ajax-link" href="#!/charts_flot">Flot Charts</a></li>
		<li><a class="ajax-link" href="#!/charts_google">Google Charts</a></li>
		<li><a class="ajax-link" href="#!/charts_morris">Morris Charts</a></li>
		<li><a class="ajax-link" href="#!/charts_coindesk">CoinDesk realtime</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-table"></i>
		 <span class="hidden-xs">Tables</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="ajax-link" href="#!/tables_simple">Simple Tables</a></li>
		<li><a class="ajax-link" href="#!/tables_datatables">Data Tables</a></li>
		<li><a class="ajax-link" href="#!/tables_beauty">Beauty Tables</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-pencil-square-o"></i>
		 <span class="hidden-xs">Forms</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="ajax-link" href="#!/forms_elements">Elements</a></li>
		<li><a class="ajax-link" href="#!/forms_layouts">Layouts</a></li>
		<li><a class="ajax-link" href="#!/forms_file_uploader">File Uploader</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-desktop"></i>
		 <span class="hidden-xs">UI Elements</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="ajax-link" href="#!/ui_grid">Grid</a></li>
		<li><a class="ajax-link" href="#!/ui_buttons">Buttons</a></li>
		<li><a class="ajax-link" href="#!/ui_progressbars">Progress Bars</a></li>
		<li><a class="ajax-link" href="#!/ui_jquery-ui">Jquery UI</a></li>
		<li><a class="ajax-link" href="#!/ui_icons">Icons</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-list"></i>
		 <span class="hidden-xs">Pages</span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#!/page_login">Login</a></li>
		<li><a href="#!/page_register">Register</a></li>
		<li><a id="locked-screen" class="submenu" href="#!/page_locked">Locked Screen</a></li>
		<li><a class="ajax-link" href="#!/page_contacts">Contacts</a></li>
		<li><a class="ajax-link" href="#!/page_feed">Feed</a></li>
		<li><a class="ajax-link add-full" href="#!/page_messages">Messages</a></li>
		<li><a class="ajax-link" href="#!/page_pricing">Pricing</a></li>
		<li><a class="ajax-link" href="#!/page_invoice">Invoice</a></li>
		<li><a class="ajax-link" href="#!/page_search">Search Results</a></li>
		<li><a class="ajax-link" href="#!/page_404">Error 404</a></li>
		<li><a href="#!/page_500">Error 500</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-map-marker"></i>
		<span class="hidden-xs">Maps</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="ajax-link" href="#!/maps">OpenStreetMap</a></li>
		<li><a class="ajax-link" href="#!/map_fullscreen">Fullscreen map</a></li>
	</ul>
</li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-picture-o"></i>
		 <span class="hidden-xs">Gallery</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="ajax-link" href="#!/gallery_simple">Simple Gallery</a></li>
		<li><a class="ajax-link" href="#!/gallery_flickr">Flickr Gallery</a></li>
	</ul>
</li>
<li>
	 <a class="ajax-link" href="#!/typography">
		 <i class="fa fa-font"></i>
		 <span class="hidden-xs">Typography</span>
	</a>
</li>
 <li>
	<a class="ajax-link" href="#!/calendar">
		 <i class="fa fa-calendar"></i>
		 <span class="hidden-xs">Calendar</span>
	</a>
 </li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle">
		<i class="fa fa-picture-o"></i>
		 <span class="hidden-xs">Multilevel menu</span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">First level menu</a></li>
		<li><a href="#">First level menu</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle">
				<i class="fa fa-plus-square"></i>
				<span class="hidden-xs">Second level menu group</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Second level menu</a></li>
				<li><a href="#">Second level menu</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">
						<i class="fa fa-plus-square"></i>
						<span class="hidden-xs">Three level menu group</span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">Three level menu</a></li>
						<li><a href="#">Three level menu</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle">
								<i class="fa fa-plus-square"></i>
								<span class="hidden-xs">Four level menu group</span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Four level menu</a></li>
								<li><a href="#">Four level menu</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle">
										<i class="fa fa-plus-square"></i>
										<span class="hidden-xs">Five level menu group</span>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#">Five level menu</a></li>
										<li><a href="#">Five level menu</a></li>
										<li class="dropdown">
											<a href="#" class="dropdown-toggle">
												<i class="fa fa-plus-square"></i>
												<span class="hidden-xs">Six level menu group</span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#">Six level menu</a></li>
												<li><a href="#">Six level menu</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#">Three level menu</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</li>
</ul>