<ul class="nav main-menu" collapse="navCollapsed" ng-class="{sidebar-show : navCollapsed">
	<li>
		<a href="#!/home" class="ajax-link" ng-class="{ active: isCurrentPath('#!/home') }">
			<i class="fa fa-dashboard"></i>
			<span class="hidden-xs">Home</span>
		</a>
	</li>
	<li>
		<a href="#!/agenda" class="ajax-link" ng-class="{ active: isCurrentPath('#!/agenda') }">
			 <i class="fa fa-calendar"></i>
			 <span class="hidden-xs">Agenda</span>
		</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-pencil-square-o"></i>
			 <span class="hidden-xs">Articles</span>
		</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-list"></i>
			 <span class="hidden-xs">Liens</span>
		</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-picture-o"></i>
			 <span class="hidden-xs">Photos</span>
		</a>
	</li>
	<li>
		 <a class="ajax-link" href="#!/typography">
			 <i class="fa fa-font"></i>
			 <span class="hidden-xs">Suggestions</span>
		</a>
	</li>
</ul>