<section>
	<form class="form-horizontal" role="form">
		<div class="form-group">
		    <label for="title" class="col-md-2 control-label">Titre</label>
			<div class="col-md-10">
				<input type="text" class="form-control" UserEventDirective title="title" id="title" placeholder="Titre de l'évènement" required>
			</div>
		</div>
		<div class="form-group">
		    <label for="title" class="col-md-2 control-label">Contenu</label>
			<div class="col-md-10">
				<textarea class="form-control" UserEventDirective content="content" id="content" placeholder="Contenu de l'évènement" required style="min-height:150px;"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div>
			    <label for="title" class="col-md-2 control-label">Début</label>
		        <div class="col-md-10">
		            <p class="input-group">
		              <input type="text" start="start" class="form-control" datepicker-popup="{{format}}" is-open="$parent.openedStartDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
		              <span class="input-group-btn">
		                <button class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		    </div>
		</div>
		<div class="form-group">
			<div>
			    <label for="title" class="col-md-2 control-label">Fin</label>
		        <div class="col-md-10">
		            <p class="input-group">
		              <input type="text" end="end" class="form-control" datepicker-popup="{{format}}" is-open="$parent.openedEndDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
		              <span class="input-group-btn">
		                <button class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		            </p>
		        </div>
		    </div>
		</div>
		<div class="form-group">
			<div>
			    <label for="title" class="col-md-2 control-label">Localisation</label>
		        <google-map center="map.center" zoom="map.zoom"></google-map>
		    </div>
		</div>
    </form>
</section>