<div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap">
			<div class="content-wrap-inn">

				<!-- Header -->
				<div class="bp-header__main">
			        <span class="bp-header__present">LESCOQSSOCCER <span class="bp-tooltip bp-icon bp-icon--about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
			        <h1 class="bp-header__title">
			        	{{article.title}}
			        </h1>
			        <nav class="bp-nav">
			            <a class="bp-nav__item bp-icon bp-icon--prev" href="#!" data-info="Article précédent" data-ng-click="showPrevious($event);">
			            	<span>Précédent</span>
			            </a>
			            <a class="bp-nav__item bp-icon bp-icon--list" href="#!" data-info="Retour à la liste" data-ng-click="backToList($event);">
			            	<span>Retour à la liste</span>
			            </a>
			            <a class="bp-nav__item bp-icon bp-icon--next" href="#!" data-info="Article suivant" data-ng-click="showNext($event);">
			            	<span>Suivant</span>
			            </a>			            
			        </nav>
			    </div>

			     <!-- Content -->
				<div class="pagebuilder-wrap">
					<div class="container" style="width: calc(100% - 120px);background: white; margin: 40px 60px; box-shadow: 0 1px 2px rgba(0,0,0,0.15); color: #7b7b7b; border-radius: 5px;">
						<div class="title-bar-wrap" style="padding: 40px 0 0;">
							<div id="title-wrap">
								<div class="title-wrap-inn">
									<div id="main-title" style="text-align: center;">
										<div class="item_des bg-theme-color-7" style="padding-top: 20px;">
											<div class="post-meta" style="font-size: initial; color: white;">
												<img class="img-circle" ng-src="{{article.user.avatar}}?dim100x100" alt="{{article.user.username}}" style="width: 80px; height: 80px; margin: -20px 0 20px 0;" />
												<p>par 
													<b style="text-transform: uppercase;">
														{{article.user.username}},
													</b>
												</p>
												<span class="date">
													le {{article.created | date:"dd MMM yyyy"}}
												</span>
												<span class="post-meta-unit tag"></span>
											</div>
											<p style="margin: 0 30px 40px 20px; font-size: medium; text-align: justify; color: white;">
												{{article.content}}
											</p>
							                <div class="iterblock-expt">
												<div class="suggestionsResult" style="margin: 0; padding: 0px 30px 0 20px;">
													<div class="row-fluid">
									                    <div class="moudle">
									                        <section class="infrographic bar ux-mod-nobg">
									                            <h1 style="text-transform: uppercase;">ça donne</h1>
									                            <div class="bar-percent">
									                                <div class="bignumber-item" data-digit="{{getSuggestionAnswerLength(article, 'yes')}}">
									                                   {{getSuggestionAnswerLength(article, 'yes')}}
									                                </div>% ({{article.yes.length}} votes)
									                            </div>
									                            <div class="progress-outer">
									                                <div class="progress-wrap progress bg-theme-color-1"
									                                    data-progress-percent="{{getSuggestionAnswerLength(article, 'yes')}}">
									                                    <div class="progress-bar progress">
									                                        <div class="pr-head" ng-class="bg-theme-color-{{$index}}"></div>
									                                    </div>
									                                </div>
									                            </div>
									                        </section>
									                    </div>
									                </div>
									                <div class="row-fluid">
									                    <div class="moudle">
									                        <section class="infrographic bar ux-mod-nobg">
									                            <h1 style="text-transform: uppercase;">C'est mort!</h1>
									                            <div class="bar-percent">
									                                <div class="bignumber-item" data-digit="{{getSuggestionAnswerLength(article, 'no')}}">
									                                   {{getSuggestionAnswerLength(article, 'no')}}
									                                </div>% ({{article.no.length}} votes)
									                            </div>
									                            <div class="progress-outer">
									                                <div class="progress-wrap progress bg-theme-color-1"
									                                    data-progress-percent="{{getSuggestionAnswerLength(article, 'no')}}">
									                                    <div class="progress-bar progress">
									                                        <div class="pr-head" ng-class="bg-theme-color-{{$index}}"></div>
									                                    </div>
									                                </div>
									                            </div>
									                        </section>
									                    </div>
									                </div>
									                <div class="row-fluid">
									                    <div class="moudle">
									                        <section class="infrographic bar ux-mod-nobg">
									                            <h1 style="text-transform: uppercase;">Ne sais pas</h1>
									                            <div class="bar-percent">
									                                <div class="bignumber-item" data-digit="{{getSuggestionAnswerLength(article, 'blank')}}">
									                                   {{getSuggestionAnswerLength(article, 'blank')}}
									                                </div>% ({{article.blank.length}} votes)
									                            </div>
									                            <div class="progress-outer">
									                                <div class="progress-wrap progress bg-theme-color-1"
									                                    data-progress-percent="{{getSuggestionAnswerLength(article, 'blank')}}">
									                                    <div class="progress-bar progress">
									                                        <div class="pr-head" ng-class="bg-theme-color-{{$index}}"></div>
									                                    </div>
									                                </div>
									                            </div>
									                        </section>
									                    </div>
									                </div>
								                </div>
								            </div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div id="comments">
							<div id="respondwrap">
								<div id="respond" class="comment-respond">

									<h3 id="reply-title" class="comment-reply-title" style="color: #7b7b7b;">
										Commentaires
									</h3>

									<div
									class="comments"
									ng-repeat="comment in article.comments | reverse">

										<img class="img-circle" ng-src="{{comment.user.avatar || global.user.avatar}}?dim100x100" alt="{{comment.user.username}}" style="width: 40px; margin-bottom: 10px; height: 40px;"/>

										<p class="meta" style="display: inline-block;">
											<a ng-href="#!/users/detail/{{comment.user._id || global.user._id}}" style="color: #1c1d22;">
												{{comment.user.username || global.user.username}},
											</a> le {{comment.created | date:dateFormat}}
										</p>

										<!-- ajouter les commentaires anonymes -->
										<div class="comments_content">
											<p>
												{{comment.content}}
											</p>
											<a ng-attr-id="{{comment._id}}-reply" href="#!" ng-click="showAnswerForm($event, comment)" class="reply">
												Répondre
											</a>
											<a ng-attr-id="{{comment._id}}-reply-cancel" href="#!" ng-click="hideAnswerForm($event, comment._id)" class="reply reply-cancel" style="display: none;">
												Annuler
											</a>
										</div>

										<div
										class="comments reply"
										ng-repeat="reply in comment.replies | orderBy:'-created'">

											<img class="img-circle" ng-src="{{reply.user.avatar || global.user.avatar}}?dim100x100" alt="{{reply.user.username || global.user.username}}" style="width: 40px; margin-bottom: 10px; height: 40px;"/>

											<p class="meta" style="display: inline-block;">
												<a ng-href="#!/users/detail/{{reply.user._id || global.user._id}}" style="color: #1c1d22;">
													{{reply.user.username || global.user.username}},
												</a> le {{reply.created | date:dateFormat}}
											</p>

											<!-- ajouter les commentaires anonymes -->
											<div class="comments_content">
												<p>
													{{reply.content}}
												</p>

												<div class="clr"></div>
												<div class="reply_icon"></div>
											</div>
										</div>
									</div>

									<h3 id="reply-title" class="comment-reply-title">
										<span class="comm-reply-title">
											LAISSER UN COMMENTAIRE
										</span>
									</h3>

									<form class="comment-form">
										<p>
											<textarea
											name="newComment"
											ng-model="newComment"
											class="requiredFieldcomm"
											cols="100%"
											tabindex="4"
											aria-required="true"
											placeholder="COMMENTAIRE">
											</textarea>
										</p>
										<p class="form-submit" style="text-align: right;">
											<input name="submit" type="button" id="submit" value="AJOUTER" ng-click="addComment();">
										</p>
									</form>

									<form class="comment-form answer" id="formAnswer" style="display: none;">
										<p style="margin-bottom: 0px !important;padding-right: 0;margin-right: -20px;">
											<textarea
											name="answer"
											ng-model="replyText"
											class="requiredFieldcomm"
											cols="100%"
											tabindex="4"
											aria-required="true"
											placeholder="REPONSE">
											</textarea>
										</p>
										<p class="form-submit" style="text-align: right; margin-bottom: 0px !important;padding-right: 0;margin-right: -20px;">
											<input name="submit" type="button" id="submit" value="Répondre" ng-click="addReply();">
										</p>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<cm-page-builder></cm-page-builder>