<div class="post type-post status-publish format-standard hentry category-blog pageContent">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap">
			<div class="content-wrap-inn">
				<!-- Content -->
				<div class="pagebuilder-wrap">
					<div class="container" style="width: calc(100% - 120px);background: white; margin: 40px 60px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); color: #7b7b7b; border-radius: 2px;">
						<div class="title-bar-wrap" style="padding: 40px 0 0;">
							<div id="title-wrap">
								<div class="title-wrap-inn">
									<div id="main-title" style="text-align: center;">
										<div class="item_des bg-theme-color-7" style="padding: 20px 20px 30px 20px;">
											<h1 class="main-title" style="text-transform: uppercase;">
												Vote
											</h1>
											<div class="post-meta" style="font-size: initial;cursor: pointer;" ng-click="showUserDetail($event, article.user);">
												<img class="img-circle" ng-src="{{ article.user.avatar }}?dim100x100" alt="{{ article.user.username }}" style="width: 50px; height: 50px; margin: 0 20px 0; border-radius: 2px;"/>
												<p style="display: inline-block;">
													lancé par
													<b style="text-transform: uppercase;">
														{{ article.user.username }},
													</b>
													<span>
														le {{ article.created | date:"dd MMM yyyy" }}
													</span>
												</p>
												<span class="post-meta-unit tag">
												</span>
											</div>
											<p style="margin: 30px 30px 40px 20px; font-size: x-large; text-align: justify; ">
												{{ article.content }}
											</p>
											<div class="iterblock-expt">
												<div class="suggestionsResult" style="margin: 0; padding: 0px 30px 0 20px;">
													<div class="row-fluid">
														<section class="infrographic bar ux-mod-nobg">
															<h1 style="text-transform: uppercase; margin-bottom: 20px;">
																Les suceurs
															</h1>
														</section>
													</div>
													<div class="moudle" style="margin-top: 20px;">
														<a ng-repeat="answer in article.yes" style="margin: 0 20px;">
															<img ng-src="{{ answer.user.avatar && answer.user.avatar + '?dim=300x300' || 'img/Professor.png' }}" alt="{{ answer.user.username }}" draggable="false" class="img80_80 img-circle" title="{{ answer.user.username }}"/>
														</a>
														<p ng-if="article.yes.length === 0;" style="">
															Aucun suceurs
														</p>
													</div>
													<div class="row-fluid">
														<section class="infrographic bar ux-mod-nobg">
															<h1 style="text-transform: uppercase; margin-bottom: 20px;">
																Les contres
															</h1>
														</section>
													</div>
													<div class="moudle" style="margin-top: 20px;">
														<a ng-repeat="answer in article.no" style="margin: 0 20px;">
															<img ng-src="{{ answer.user.avatar && answer.user.avatar + '?dim=300x300' || 'img/Professor.png' }}" alt="{{ answer.user.username }}" draggable="false" class="img80_80 img-circle" title="{{ answer.user.username }}"/>
														</a>
														<p ng-if="article.no.length === 0;" style="">
															Aucun contre
														</p>
													</div>
													<div class="row-fluid">
														<section class="infrographic bar ux-mod-nobg">
															<h1 style="text-transform: uppercase; margin-bottom: 20px;">
																Les suisses
															</h1>
														</section>
													</div>
													<div class="moudle" style="margin-top: 20px;">
														<a ng-repeat="answer in article.blank" style="margin: 0 20px;">
															<img ng-src="{{ answer.user.avatar && answer.user.avatar + '?dim=300x300' || 'img/Professor.png' }}" alt="{{ answer.user.username }}" draggable="false" class="img80_80 img-circle" title="{{ answer.user.username }}"/>
														</a>
														<p ng-if="article.blank.length === 0;" style="">
															Aucun suisse
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<cm-comments update-method="updateMethod();" object="article">
						</cm-comments>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
