<div class="post type-post status-publish format-standard hentry category-blog pageContent">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap">
			<div class="content-wrap-inn">

			    	<!-- Content -->
				<div class="pagebuilder-wrap">
					<div class="container standardContainer">
						<div class="title-bar-wrap " id="title-bar" style="padding: 50px 0 30px; max-height: inherit;">
							<div id="title-wrap">
								<div class="title-wrap-inn">
									<div id="main-title" style="text-align: center;">
										<div class="tagcloud" style="margin: -20px 0 10px;">
											<a ng-repeat="category in article.categories" title="{{category.value}}" style="font-size: 11px;" class="active">
												{{category.value}}
											</a>
										</div>
										<h1 class="main-title" style="text-transform: uppercase;">
											{{article.title}}
										</h1>
										<div class="post-meta" style="font-size: initial;cursor: pointer;" ng-click="showUserDetail($event, article.user);">
											<img class="img-circle" ng-src="{{article.user.avatar}}?dim100x100" alt="{{article.user.username}}" style="width: 50px; height: 50px; margin: 0 20px 0; border-radius: 2px;" />
											<p style="display: inline-block;">par
												<b style="text-transform: uppercase;">
													{{article.user.username}},
												</b>
												<span>
													le {{article.created | date:"dd MMM yyyy"}}
												</span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="entry">
							<div ng-bind-html="getFormattedContent(article.content)" class="articleContent"></div>
						</div>

						<cm-comments update-method="updateMethod();" object="article">
						</cm-comments>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

