<div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap" class="span8">
			<div class="title-bar-wrap " id="title-bar" style="padding: 50px 0; max-height: 280px;">
				<div id="title-wrap">
					<div class="title-wrap-inn">
						<div id="main-title">
							<h1 class="main-title" style="text-transform: uppercase;">
								{{article.title}}
							</h1>
							<div class="post-meta">
								<span class="post-meta-unit date">
									Date: {{article.created | date:"dd MMM yyyy"}}
								</span>
								<span class="post-meta-unit tag"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="entry">
				<div ng-bind-html="getFormattedContent(article.content)" class="articleContent"></div>
			</div>

			<div id="comments">
				<div id="respondwrap">
					<div id="respond" class="comment-respond">

						<h3 id="reply-title" class="comment-reply-title">
							COMMENTAIRES
						</h3>

						<div
						class="comments"
						ng-repeat="comment in article.comments | orderBy:'-created'">

							<p class="meta">
								<a ng-href="#!/users/detail/{{comment.user._id || global.user._id}}" style="color: #333;">
									{{comment.user.name || global.user.name}}
								</a> - {{comment.created | date:dateFormat}}
							</p>

							<!-- ajouter les commentaires anonymes -->
							<div class="comments_content">
								<p>
									{{comment.content}}
								</p>
								<a ng-attr-id="{{comment._id}}-reply" href="#!" ng-click="showAnswerForm($event, comment)" class="reply">
									Répondre
								</a>
								<a ng-attr-id="{{comment._id}}-reply-cancel" href="#!" ng-click="hideAnswerForm($event, comment._id)" class="reply reply-cancel" style="display: none;">
									Annuler
								</a>
							</div>

							<div
							class="comments reply"
							ng-repeat="reply in comment.replies | orderBy:'-created'">

								<p class="meta">
									<a ng-href="#!/users/detail/{{reply.user._id || global.user._id}}" style="color: #333;">
										{{reply.user.name || global.user.name}}
									</a> - {{reply.created | date:dateFormat}}
								</p>

								<!-- ajouter les commentaires anonymes -->
								<div class="comments_content">
									<p>
										{{reply.content}}
									</p>

									<div class="clr"></div>
									<div class="reply_icon"></div>
								</div>
							</div>
						</div>

						<h3 id="reply-title" class="comment-reply-title">
							<span class="comm-reply-title">
								LAISSER UN COMMENTAIRE
							</span>
						</h3>

						<form class="comment-form">
							<p>
								<textarea
								name="comment"
								ng-model="comment"
								class="requiredFieldcomm"
								cols="100%"
								tabindex="4"
								aria-required="true"
								placeholder="COMMENTAIRE">
								</textarea>
							</p>
							<p class="form-submit" style="text-align: right;">
								<input name="submit" type="button" id="submit" value="AJOUTER" ng-click="addComment();">
							</p>
						</form>

						<form class="comment-form answer" id="formAnswer" style="display: none;">
							<p style="margin-bottom: 0px !important;padding-right: 0;margin-right: -20px;">
								<textarea
								name="answer"
								ng-model="replyText"
								class="requiredFieldcomm"
								cols="100%"
								tabindex="4"
								aria-required="true"
								placeholder="REPONSE">
								</textarea>
							</p>
							<p class="form-submit" style="text-align: right; margin-bottom: 0px !important;padding-right: 0;margin-right: -20px;">
								<input name="submit" type="button" id="submit" value="Répondre" ng-click="addReply();">
							</p>
						</form>

					</div>
				</div>
			</div>
		</div>

		<aside id="sidebar-widget" class="span4">
			<div class="clearfix filters filter-custom" style="margin-top: 20px;">
				<div class="filter-floating-custom" ng-click="showNext();">
					<i class="fa fa-angle-right"></i>
				</div>
				<div class="filter-floating-custom" style="font-size: 30px;" ng-click="backToList();">
					<i class="fa fa-th" style="margin-top: 10px;"></i>
				</div>
				<div class="filter-floating-custom" ng-click="showPrevious();">
					<i class="fa fa-angle-left"></i>
				</div>
			</div>
			<ul class="sidebar_widget" style="padding-top: 0;">
				<li id="tag_cloud-2" class="widget-container widget_tag_cloud">
					<h3 class="widget-title">Tags</h3>
					<div class="tagcloud">
						<a ng-repeat="category in article.categories" title="{{category.value}}" style="font-size: 11px;">
							{{category.value}}
						</a>
						<h4 ng-if="article.categories.length === 0">
							Pas de tags associés
						</h4>
					</div>
				</li>
			</ul>
		</aside>
	</div>
</div>

<cm-page-builder></cm-page-builder>