<div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap">
			<div class="content-wrap-inn">

				<!-- Header -->
				<div class="bp-header__main">
			        <span class="bp-header__present">LESCOQSSOCCER <span class="bp-tooltip bp-icon bp-icon--about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
			        <h1 class="bp-header__title">
			        	{{article.title}}
			        </h1>
			        <nav class="bp-nav">
			        	<a class="bp-nav__item bp-icon bp-icon--edit" href="#!" data-info="Editer" data-ng-click="edit($event);" ng-show="global.user._id === article.user._id">
			            	<span>Editer</span>
			            </a>
			            <a class="bp-nav__item bp-icon bp-icon--trash" href="#!" data-info="Supprimer" data-ng-click="remove($event);" ng-show="global.user._id === article.user._id">
			            	<span>Supprimer</span>
			            </a>
			            <a class="bp-nav__item bp-icon bp-icon--prev" href="#!" data-info="Article précédent" data-ng-click="showPrevious($event);">
			            	<span>Précédent</span>
			            </a>
			            <a class="bp-nav__item bp-icon bp-icon--list" href="#!" data-info="Retour à la liste" data-ng-click="backToList($event);">
			            	<span>Retour à la liste</span>
			            </a>
			            <a class="bp-nav__item bp-icon bp-icon--next" href="#!" data-info="Article suivant" data-ng-click="showNext($event);">
			            	<span>Suivant</span>
			            </a>
			        </nav>
			    </div>

			    <div class="pagebuilder-wrap">
					<div class="container" style="width: calc(100% - 120px);background: white; margin: 40px 60px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); color: #7b7b7b; border-radius: 2px;">

						<div class="title-bar-wrap " id="title-bar" style="padding: 50px 0; max-height: 280px;">
							<div id="title-wrap">
								<div class="title-wrap-inn">
									<div id="main-title" style="text-align: center;">
										<div class="tagcloud" style="margin: -20px 0 10px;">
											<a ng-repeat="category in article.categories" title="{{category.value}}" style="font-size: 11px;" class="active">
												{{category.value}}
											</a>
										</div>
										<h1 class="main-title" style="text-transform: uppercase;">
											{{article.title}}
										</h1>
										<div class="post-meta" style="font-size: initial;">
											<img class="img-circle" ng-src="{{article.user.avatar}}?dim100x100" alt="{{article.user.username}}" style="width: 80px; height: 80px; margin: -20px 0 20px 0;" />
											<p>par
												<b style="text-transform: uppercase;">
													{{article.user.username}},
												</b>
											</p>
											<span class="date">
												le {{article.created | date:"dd MMM yyyy"}}
											</span>
											<span class="post-meta-unit tag"></span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="entry" style="margin-top: 20px;">
							<div class="videoWrapper video-wrap video-post-wrap vimeo" style="padding-bottom: 56.25%">
								<iframe
								ng-src="{{trustSrc(article.videoLink + '?showinfo=0')}}"
								width="100%"
								height="auto"
								frameborder="0"
								webkitallowfullscreen=""
								mozallowfullscreen=""
								allowfullscreen="">
								</iframe>
							</div>
							<p style="margin-top: 20px;">{{article.description}}</p>
						</div>

						<cm-comments update-method="updateMethod();" object="article">
						</cm-comments>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<cm-page-builder></cm-page-builder>