<h1 style="margin-left:15px; padding-left:0;">
	<i class="fa fa-dot-circle-o"></i>
	Photos
	<a href="#!/gallery/{{album._id}}" data-ng-show="album._id" class="pull-right" style="color: lightgray;">
	 	<i class="fa fa-picture-o"></i>
	</a>
	<a href="#!/albums/grid" class="pull-right" style="color: lightgray; margin-right: 10px;">
		<i class="fa fa-th"></i>
	</a>
</h1>
<hr style="margin-left:15px; padding-left:0;">
<section>
    	<!-- <div class="col-md-12" data-ng-include="'/js/gallery/views/subnav.html'"></div> -->

    	<div ng-class="(album._id) ? 'col-md-4' : 'col-md-12'">

            	<div class="well well-sm">

	            	<h4 class="item-header">
	            		<span class="glyphicon glyphicon-cog">
	            		</span>
	            		<span >{{'gallery_detail' | translate}}</span>
	                        </h4>

	            	<form class="form-horizontal" role="form">

		                	<div class="form-group">
		                    		<label for="name" class="col-md-12 control-label">{{'gallery_name' | translate}}</label>
		    			<div class="col-md-12">
			                    		<input class="form-control input-sm" data-ng-model="album.name" type="text">
			                    	</div>
		                	</div>

	                		<input class="form-control input-sm" data-ng-model="album.coverPic" type="hidden">
	                		<input class="form-control input-sm" data-ng-model="album.coverPicPath" type="hidden">

	                		<div class="form-group">
		                    		<label for="name" class="col-md-12 control-label">{{'gallery_cover' | translate}}</label>
		                    		<div class="col-md-12">
		                    			<select
		                    			class="form-control input-sm"
	                    				data-ng-model="coverPic"
	                    				data-ng-change="setCoverPic(coverPic)"
	                    				data-ng-options="f as f.name for f in displayPhotos">
		                    			</select>
		                    		</div>
	                		</div>

		                	<div class="form-group">
			                    	<label for="description" class="col-md-12 control-label">{{'gallery_description' | translate}}</label>
			                    	<div class="col-md-12">
			                    		<textarea class="form-control input-sm" data-ng-model="album.description" rows="2"></textarea>
			                    	</div>
		                	</div>

	            	</form>

	            	<div class="modal-footer">
		            	<a class="btn btn-primary" ng-click="saveAlbum(album, !(album._id))" data-ng-disabled="!album.name">
		            		{{'common_save' | translate}}
		            	</a>
	         		</div>
	          	</div>
	</div>

        	<div class="col-md-8" data-ng-show="album._id">
            	<tabset>

            		<!-- ADD PHOTOS TAB -->
            		<tab>
	                    	<tab-heading>
	                        		<h4 class="">
	                        			<span class="fa fa-plus-circle"></span>
	                        			{{'gallery_add' | translate}}
	                        		</h4>
	                    	</tab-heading>
                		<div class="form-group">
                    			<div data-ng-include="'/js/files/fileUpload.html'"></div>
                		</div>
            		</tab>

            		<!-- GALLERY PREVIEW TAB -->
            		<tab select="">
                    		<tab-heading>
	                        		<h4 class="">
	                        			<span class="fa fa-edit"></span>
	                        			{{'gallery_edit' | translate}} ({{displayPhotos.length}})
	                        		</h4>
	                    	</tab-heading>

                    		<div class="row album-list">
		      		<div class="col-md-12">
		        			<table class="table table-striped table-hover">
			          			<tbody>

						          <!--Row per album  -->
						          <tr data-ng-repeat="photo in displayPhotos">

						              	<td>
						              		<a href="#!/albums/detail/{{album._id}}">{{$index +1}}</a>
						              	</td>
						              	<td>
						              		<a>
						              			<img data-ng-src="{{photo.filepath}}" style="width: 150px; height: auto;">
						              		</a>
						              	</td>
						              	<td>
						              		<a href="#!/albums/detail/{{album._id}}">{{photo.name}}</a>
						              	</td>

						              	<td style="text-align: center">
						                		<a ng-click="deletePhoto(photo);">
						                  		<span class="glyphicon glyphicon-trash" title="Delete Photo"/>
						                		</a>
						              	</td>
						          	</tr>
			          			</tbody>
		        			</table>
		      		</div>
		    	</div>
            		</tab>
            	</tabset>
        	</div>
</section>

