<section class="mainContent">

	<div class="subview" data-ng-include="'/js/gallery/views/subnav.html'"></div>

	<div class="col-md-12">
		<form role="form" style="padding-top: 50px;  padding-right: 45px;">

			<div class="form-group">
				<span
				class="input input--yoshiko"
				data-ng-class="{'input--filled': album.name && album.name !== ''}"
				style="margin-bottom: 0;">
					<input class="input__field input__field--yoshiko" type="text" name="name" data-ng-model="album.name" ng-mouseleave="saveAlbum(album, !(album._id))" required/>
					<label class="input__label input__label--yoshiko" for="name">
						<span class="input__label-content input__label-content--yoshiko">{{'gallery_name' | translate}}</span>
					</label>
				</span>
				<hr/>
			</div>

			<div class="form-group">
				<button
				class="btn"
				ng-click="uploadFiles();"
				data-ng-disabled="!album.name">
					<span tooltip="Rentre d'abord un nom" tooltip-placement="right" ng-show="!album.name"></span>
					Ajouter des photos
				</button>
			</div>

			<div class="form-group" data-ng-disabled="displayPhotos.length === 0">
				<label for="name" class="control-label">{{'gallery_cover' | translate}}</label>
				<select
					class="form-control input-sm"
					data-ng-model="album.coverPic"
					data-ng-change="setCoverPic(coverPic)"
					data-ng-options="f as f.name for f in displayPhotos">
				</select>
			</div>

			<div class="form-group">
				<table class="table table-striped table-hover">
					<tbody>
						<tr data-ng-repeat="photo in displayPhotos">
							<td>
								<a href="#!/albums/detail/{{album._id}}">{{$index +1}}</a>
							</td>
							<td>
								<a>
									<img data-ng-src="{{photo.filepath}}" style="width: 150px; height: auto;">
								</a>
							</td>
							<td>
								<a href="#!/albums/detail/{{album._id}}">{{photo.name}}</a>
							</td>
							<td style="text-align: center">
								<a ng-click="deletePhoto(photo);">
									<span class="glyphicon glyphicon-trash" title="Delete Photo"/>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</form>
	</div>
</section>