<section>

    	<div data-ng-include="'/js/gallery/views/subnav.html'"></div>

    	<div class="row">
        		<div class="col-lg-4"> 

	            	<h3 class="item-header small">{{album.name}}</h3>
	            	<div class="well well-sm">
	            	<h4 class="item-header"><span class="glyphicon glyphicon-cog"></span> Details</h4>

	            	<form class="form-horizontal" role="form">

		                	<div class="form-group">
		                    	<label for="name" class="col-lg-4 control-label">Name</label>
		                    	<div class="col-lg-8">                
		                    		<input class="form-control input-sm" data-ng-model="album.name" type="text">
		                    	</div>
		                	</div>
	             
	                		<input class="form-control input-sm" data-ng-model="album.coverPic" type="hidden">               
	                		<input class="form-control input-sm" data-ng-model="album.coverPicPath" type="hidden">
	              
	                		<div class="form-group">
	                    		<label for="name" class="col-lg-4 control-label">Cover Photo</label>
	                    		<div class="col-lg-8">                  
	                    			<select 	class="form-control input-sm" 
		                    				data-ng-model="coverPic" 
		                    				data-ng-change="setCoverPic(coverPic)" 
		                    				data-ng-options="f as f.name for f in displayPhotos">
	                    			</select>
	                    		</div>
	                		</div>

		                	<div class="form-group">
		                    	<label for="description" class="col-lg-4 control-label">Description</label>
		                    	<div class="col-lg-8">                
		                    		<textarea class="form-control input-sm" data-ng-model="album.description" rows="2"></textarea>
		                    	</div>
		                	</div>

	            	</form>

	            	<div class="modal-footer">
		            	<a class="btn btn-primary" ng-click="saveAlbum(album, !(album._id))" data-ng-disabled="!album.name">Save</a>
		            	<a class="btn btn-default" ng-click="deleteAlbum(album, true)" data-ng-disabled="!album._id">Delete</a>
	         		</div>
	         		
	          </div>
	</div>

        	<div class="col-lg-8" data-ng-show="album._id">
            	
            	<h3 class="item-header small">{{album.name}}</h3>
            	
            	<tabset>
                
                		<!-- EDIT PHOTOS TAB -->
                		<tab>
	                    	<tab-heading>
	                        		<h4 class=""><span class="glyphicon glyphicon-edit"></span> Edit Photos ({{displayPhotos.length}})</h4>
	                    	</tab-heading>
                    
                    		<!-- <div class="form-group">
                        			<input 	class="form-control input-sm" 
		                        			type="text" 
		                        			ng-model="searchText" 
		                        			placeholder="Search photos">
                        			</input>
                    		</div>   -->

                    		<div class="form-group">
                        			<div data-ng-include="'/js/files/fileUpload.html'"></div>
                    		</div>
                		</tab>

                		<!-- GALLERY PREVIEW TAB -->      
                		<tab select="">
                    		<tab-heading>
                        			<h4 class=""><span class="glyphicon glyphicon-film"></span>Gallery</h4>
                    		</tab-heading>
                    		<div class="well well-sm">
                        			<div class="detail-img" ng-repeat="photo in displayPhotos">
                            				<img data-ng-src="{{photo.filepath}}">
                        			</div>      
                    		</div>                    
                		</tab>

            	</tabset>
        	</div>

</section>

