<li data-filter="photos">
	<div class="photo">
	    <a href="!#/albums/{{card._id}}" class="clb-photo">
	        <div class="photo-wrapper">
	            <img
	            style="width: 100%;"
	            src=""
	            data-ng-src="{{card.coverPicPath || 'img/photos/contact.jpg'}}"
	            class="animation-fade"
	            data-imageloaded data-loadedclass="animation-faded">
	        </div>

	        <div class="photo-description">
	            <h3>{{card.name}}</h3>
	        </div>
	    </a>
	</div>
</li>