<figure class="caption-image photoDetail" style="margin-bottom: 10px;">
	<div class="photo-wrapper">
		<a href="#!/albums/view/{{card._id}}">
		<img data-ng-src="{{card.coverPicPath || 'img/photos/contact.jpg'}}" class="animation-fade"
		data-imageloaded data-loadedclass="animation-faded" alt="" style="border: 0;" />
		</a>
	</div>
	<figcaption style="padding: 10px; bottom: inherit; left: inherit; line-height: inherit; height: inherit; position: relative;background: white; color: #414141;">
		<div class="avia-arrow"></div>
		<h4 class="two-line-ellipsis" style="margin-bottom: 0; font-size: 20px; line-height: 40px;">{{card.name}}</h4>
	</figcaption>
</figure>