<figure class="caption-image photoDetail" style="margin-bottom: 20px;">
	<div class="photo-wrapper">
		<a href="#!/albums/view/{{card._id}}">
		<img data-ng-src="{{card.coverPicPath || 'img/photos/contact.jpg'}}" class="animation-fade"
		data-imageloaded data-loadedclass="animation-faded" alt="" style="border: 10px solid white;" />
		</a>
	</div>
	<figcaption style="padding: 10px; bottom: inherit; left: inherit; line-height: inherit; height: inherit; position: relative;background: white; color: #414141;">
		<h4 style="margin-bottom: 20px;">{{card.name}}</h4>
		<p>Créé par {{card.user.username}}, le {{card.created | date:"dd/MM"}}</p>
	</figcaption>
</figure>