<section class="rightcontainer">

	<!-- PAGE TITLE -->
	<div class="page-title">
		<!-- PAGE TITLE TRANSPARENT BG -->
		<div class="bgfilter"></div>
		<h1>Albums</h1>
		<div class="page-title-box">
			<p>Malis imitarentur offendit tamen laboris. Vidisse est sint laborum ne e lorem despicationes, nam veniam probant nostrud qui ipsum et litteris se aliqua. Ea iis aute proident, eiusmod cohaerescant ea commodo, se quo elit incididunt a nulla admodum incurreret. Ab malis fabulas.
			</p>
		</div>
	</div>

	<!-- FILTERS -->
	<ul id="filters1" class="filters">
		<li>
			<a href="#!" data-filter="all" class="active">All</a>
		</li>
		<li>
			<a href="#!" data-filter="photos">Photos</a>
		</li>
		<li>
			<a href="#!" data-filter="videos">Videos</a>
		</li>
		<li>
			<a href="#!" data-filter="links">Links</a>
		</li>
	</ul>
	<div class="clear"></div>

	<!-- GALLERY -->
	<ul id="gridbox1" class="sp-portfolio">
		<div deckgrid class="deckgrid" source="albums" cardTemplate="js/gallery/views/albumCard.html"></div>
	</ul>

	<cm-portfolio></cm-portfolio>
</section>