<div class="modal-body">
    <div class="container" data-ng-controller="GalleryController" style="width:100%;">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img class="image-circle" ng-src="{{slide.src}}" style="margin:auto; min-width:750px;"/>
                <div class="carousel-caption">
                    <h4>{{slide.text}}</h4>
                </div>
            </slide>
        </carousel>
    </div>
</div>
