<div class="modal-body">
	<div id="carousel" class="carousel slide">
		<div class="carousel-inner">
			<div
			class="carousel-img item"
			data-ng-repeat="p in param"
			data-ng-class="(p.active) ? 'active' : ''">
				<img data-ng-src="{{p.filepath}}" style="margin:auto; height:'auto'">
			</div>
		</div>
		<a class="left carousel-control" href="#carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
</div>
