<section class="rightcontainer">

	<div class="subtitle">
		<a href="#!/albums" class="back-icon">
		</a>
		<h1>{{album.name || 'Nouvel album'}}</h1>
		<a href="#!" class="ok-icon" data-ng-click="saveAlbum($event)">
		</a>
	</div>
	<div class="pagecontent">

		<div class="info-box" ng-show="showInfo" style="margin-bottom: 30px;">
            <span class="info-box-close" ng-click="hideInfo()"></span>
            <h4>Mets au moins une photo!!</h4>
        </div>

		<form role="form">
			<div class="half-box">

				<div class="half-left">
					<label for="name" class="control-label">{{'gallery_name' | translate}}</label>
					<input type="text" name="name" data-ng-model="album.name" required/>
				</div>

				<div class="half-right">
					<label for="cover" class="control-label">{{'gallery_cover' | translate}}</label>
					<select
						name="cover"
						ng-model="album.coverPicPath"
						data-ng-options="photo.filepath as photo.name for photo in album.photoList"
						style="margin-bottom: 0;">
					</select>
				</div>

			</div>

			<button
			class="button"
			ng-click="uploadFiles();"
			style="margin-bottom: 30px;">
			Ajouter des photos
			</button>

			<br/>

			<!-- ALBUM IMAGES -->
			<div deckgrid class="deckgrid deckgrid3 createAlbum" source="album.photoList" cardTemplate="js/gallery/views/createCard.html" style="padding: 0;"></div>

		</form>
	</div>
</section>