<div class="clearfix filters filter-floating">
	<div class="filter-floating-triggle hidden-phone" style="top:20px; right: 125px;" ng-click="global.back();">
		<i class="fa fa-arrow-left"></i>
	</div>
	<div class="filter-floating-triggle" style="top:20px; right: 60px;" ng-click="saveAlbum($event);">
		<i class="fa fa-save"></i>
	</div>
</div>

<div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap" class="span10" style="margin-left: 9%;">

			<div class="title-bar-wrap" id="title-bar" style="padding: 50px 0; width: calc(100% - 180px);">
				<div id="title-wrap">
					<div class="title-wrap-inn">
						<div id="main-title">
							<h1 class="main-title ellipsis" style="text-transform: uppercase;">
								{{album.name || 'Nouvel album'}}
							</h1>
						</div>
					</div>
				</div>
			</div>

			<div id="comments">
				<div id="respondwrap">
					<div id="respond" class="comment-respond">
						<form role="form">

							<div class="span6" style="margin-bottom: 20px;">
								<input name="title"
								type="text"
								data-ng-model="album.name"
								class="requiredFieldcomm"
								size="30"
								aria-required="true"
								tabindex="1"
								placeholder="{{'gallery_name' | translate}}"
								style="margin-bottom: 30px;">

								<label>Photo de cover</label>
								<select
									name="cover"
									ng-model="album.coverPicPath"
									data-ng-options="photo.filepath as photo.name for photo in album.photoList"
									style="margin-bottom: 20px; color: black; width: 100%;">
								</select>
							</div>

							<div class="span6">
								<textarea
								name="description"
								type="text"
								data-ng-model="album.description"
								placeholder="DESCRIPTION"
								class="requiredFieldcomm"
								size="30"
								aria-required="true"
								tabindex="1"
								style="height: 125px;">
								</textarea>
							</div>

							<div class="clearfix"></div>

							<button
							class="button"
							ng-click="uploadFiles();"
							style="margin-bottom: 40px;">
							Ajouter des photos
							</button>

							<br/>

							<!-- ALBUM IMAGES -->
							<div class="Collage effect-parent creation">
								<a ng-repeat="photo in album.photoList">
									<i class="fa fa-times" style="cursor: pointer;z-index: 8040;background:white; color: black;position: absolute; font-size: 30px;" ng-click="deletePhoto(photo);"></i>
									<img ng-src="{{photo.filepath}}" alt="{{photo.name}}" style="border: 4px solid white;">
								</a>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<cm-page-builder></cm-page-builder>