<section class="rightcontainer">

	<!-- PAGE TITLE -->
	<div class="page-title" style="padding: 0;">
		<h1 style="width: 100%;">{{album.name}}</h1>
	</div>

	<ul class="filters">
		<li>
			<a href="#!" data-ng-click="download($event);">Télécharger</a>
		</li>
		<li ng-show="global.user._id === album.user">
			<a href="#!/albums/edit/{{album._id}}">Editer</a>
		</li>
		<li ng-show="global.user._id === album.user">
			<a href="#!" data-ng-click="deleteAlbum($event);">Supprimer</a>
		</li>
	</ul>
	<div class="clear"></div>

	<!-- GALLERY -->
	<ul class="sp-portfolio photosContainer">
		<div deckgrid class="deckgrid" source="album.photoList" cardTemplate="js/gallery/views/photoCard.html"></div>
	</ul>

	<cm-colorbox></cm-colorbox>
</section>