<div class="post type-post status-publish format-link has-post-thumbnail hentry category-blog category-uncategorized pageContent">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap">
			<div class="content-wrap-inn">

				<!--Photos content-->
				<div class="pagebuilder-wrap">
					<div class="container photoContainer">
						<div class="row-fluid" ng-show="!showModal">
							<div class="moudle bottom-space-no" style="padding: 0; margin: 20px 0;">
								<div class="row-fluid">
									<div class="container-isotope">

										<!--Loading-->
										<div id="isotope-load">
											<div class="ux-loading" style="display: none;"></div>
											<div class="ux-loading-transform">
												<div class="loading-dot1">&nbsp;</div>
												<div class="loading-dot2">&nbsp;</div>
											</div>
										</div>

										<div class="Collage effect-parent" style="visibility: hidden;">
											<a ng-click="showSlider($event, $index)" ng-repeat="photo in album.photoList">
												<img ng-src="{{photo.filepath}}?dim=300" alt="{{photo.name}}" style="cursor:zoom-in;">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<cm-comments update-method="updateMethod();" object="album">
						</cm-comments>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<cm-page-builder></cm-page-builder>