<section class="controls no-select">
	<div class="tControls">

		<div class="top">
			<a href="#!home">
			<span class="imgMenu" tooltip="Retourner à l'accueil" tooltip-placement="right" >
				<img src="img/Home_sketch_64.png" class="imgMenu"/></span>
			</a>
		</div>

		<div class="middle">
			<a href="#!albums/add">
				<img src="img/Draw_Adding_Cross_64.png" class="imgMenu"/>
			</a>
			<a href="#!albums">
				<img src="img/Draw_Adding_Cross_64.png" class="imgMenu"/>
			</a>
		</div>

		<div class="bottom">
		</div>

	</div>
</section>