<div class="row" >
  	<div class="col-md-12" style="margin-bottom: 20px;">
 		<div class="navbar-default" >
	       		<div class="navbar-inner toolbar">
		            	<ul class="nav navbar-nav navbar-default">
		            		<li data-ng-class="{active: view === 'gallery'}" class="toolbaritem">
			                        	<a href="#!/gallery"><span class="fa fa-picture-o"></span> {{'gallery_navbar_gallery_title' | translate}}</a>
			                  	</li>
			                  	<li data-ng-class="{active: view === 'list'}" class="toolbaritem">
			                        	<a href="#!{{section.url}}"><span class="fa fa-list"></span> {{'gallery_navbar_list_title' | translate}}</a>
			                  	</li>
			                  	<li data-ng-class="{active: view === 'grid'}" class="toolbaritem">
			                        	<a href="#!{{section.url}}/grid"><span class="fa fa-th"></span> {{'gallery_navbar_grid_title' | translate}}</a>
			                  		</li>
			                  	<li data-ng-class="{active: view === 'add'}" class="toolbaritem">
			                        	<a href='#!{{section.url}}/add'><span class="fa fa-plus"></span> {{'gallery_navbar_add_title' | translate}}</a>
			                  	</li>
		              	</ul>

			            <div class="navbar-right" ng-show="view === 'gallery'">
					<ul class="pagination" style="margin-top: 10px;">
						<li data-ng-click="clickPhoto(album._id, prev)">
							<a>&laquo;</a>
						</li>
						<li
						data-ng-repeat="p in album.photoList | slice:paginationMin:paginationMax"
						data-ng-class="(p._id === photo._id) ? 'active' : ''"
						data-ng-click="clickPhoto(album._id, $index)">
							<a>{{ (currentIndex < 5) ? $index + 1 : paginationMax - 6 + $index}}</a>
						</li>
						<li data-ng-click="clickPhoto(album._id, next)">
							<a>&raquo;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>