<div class="subnav navbar-default" >
	<div id="subnav" class="navbar-inner toolbar">
		<ul class="nav navbar-nav navbar-default">
			<li data-ng-class="{active: view === 'add'}" class="toolbaritem">
				<a href="#!{{section.url}}/add"><span class="fa fa-plus"></span> {{'gallery_navbar_add_title' | translate}}</a>
			</li>
			<li data-ng-class="{active: view === 'grid'}" class="toolbaritem">
				<a href="#!{{section.url}}"><span class="fa fa-th"></span> {{'gallery_navbar_grid_title' | translate}}</a>
			</li>
		</ul>
		<div id="search" class="pull-right" ng-if="view === 'articles'">
			<input data-ng-model="obj.searchTitle" type="text" placeholder="Recherche"/>
			<i class="fa fa-search"></i>
		</div>
	</div>
</div>