@media only screen and (max-width: 1400px) {
    .slider-container {height: 500px !important;}
}
@media only screen and (max-width: 1170px) {
    .slider-container {height: 400px !important;}
}
@media only screen and (max-width: 480px) {
    .slider-container {height: 300px !important;}
}  
@media only screen and (max-width: 900px) {
    .icon {
        width: 100%;
        padding: 0px 30px;
    }
    .icon p {
        margin-bottom:60px;
    }
    .icon-container > .icon:last-child p {
        margin-bottom:0px;
    }
    .icon-container.bottom-slider {
        margin-top: 0px;
    }
    .service-image,.service-content,.half-left,.half-right {
        float: none;
        width: 100%;
    }
    .service-name,.about-name {
        width: 100%;
    }
    .service-image,.half-left {
        padding-right: 0px;
        margin-bottom: 40px;
        border:none;
    }
    .service-content,.half-right {
        padding-left: 0px;
    }
    .half-left {
        border:none;
    }
    .service-content blockquote  {
        margin-left: 0px;
        margin-right: 0px;
    }
    .rounded-list span{
        margin-right: 0px !important;
    }
    .contact-left,.contact-right {
        float: none;
        width: 100%;
        padding: 0px;
    }
    .contact-left {
        border-right: none !important;
    }
    .contact-right {
        margin-bottom: 40px;
    }
    .footer-widget {
        float:none;
        width:100%;
        padding:0px 0px 60px 0px;
    }
    #footer-widgets > .footer-widget:first-child {
        padding-left: 0px;
    }
    #footer-widgets > .footer-widget:last-child {
        padding-right: 0px;
        padding-bottom: 0px;
    }
    .promo {
        width: 100%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 800px) {
    .cbp-qtrotator .cbp-qtcontent {
	    padding: 60px;
    }
    .cbp-qtrotator .cbp-qtcontent img {
        max-width: 100%;
    }
    .cbp-qtrotator .cbp-qtcontent .img-diamond,.cbp-qtrotator .cbp-qtcontent img {
        width: 100%;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: 0px;
        display: none;
    }
    .cbp-qtrotator .cbp-qtcontent .img-diamond {
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .ns_nerveSlider .ns_slideContent div span{
        font-size: 24px;
        padding: 20px 40px;
    }
    .slogan h1{
        font-size: 44px;
    }
    .slogan .button{
        font-size: 20px;
    }
    .page-title {
        padding: 0px;
        display: block;
    }
    .page-title h1{
        margin-bottom: 0px;
        width: 100%;
    }
    .page-title .page-title-box {
        margin: 0px;
    }
    .inner-img {
        max-width: 40%;
    }
}    
@media only screen and (max-width: 640px) {
    .sp-portfolio li {
        width: 50% !important;
    }
    .blogimage {
        display: none;
    }
    .postcontent {
        float: none;
        width: 100%;
    }
    .ionTabs__tab {
        width: 100%;
        top: 0px;
    }
    #menu-bar {
        width: 80px;
    }
    .menu-icons {
        height: 80px;
    }
    .menu-icons > .menu-bar-icon {
        background-image: url(../images/menu2.png);
    }
    .menu-icons > .close-icon {
        background-image: url(../images/close2.png);
    }
    .leftcontainer {
        margin-left: 80px;
    }
    .rightcontainer {
        padding-left: 80px;
    }
    #footer {
        padding-left: 80px;
    }
    #menu-bar img{
        padding: 10px;
    }
    .credits,.social-icons,.back-to-top {
        width: 100%;
        padding: 0px;
        float: none;
    }
    .social-icons li {
        margin:0px 5px 0px 0px;
    }
    .credits {
        padding-bottom: 20px;
    }
    .back-to-top {
        height: 40px;
        background-image:url('../images/gototop2.png');
    }
    #menu-bar img{
        bottom: 40px;
    }
    .inner-img {
        max-width: 100%;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 40px;
        float: none;
    }
    blockquote {
        padding-left:40px;
    }
    blockquote:before {
	   width: 10px;
    }
    blockquote:after {
	   content: '';
    }
}
@media only screen and (max-width: 480px) {
    blockquote p,.service-content blockquote p {
        font-size: 18px;
    }
    .service-blockquote {
        margin: 0px 0px 40px 0px;
    }
    .cbp-qtrotator p,.cbp-qtrotator .blockquote .footer,blockquote {
        font-size: 18px;
    }
    .icon-container-filter {
        margin-top: -40px;
        margin-left: -40px;
    }
    .icon-container-bg {
        padding: 40px 40px;
    }
    .icon {
        padding: 0px 40px;
    }
    .icon p {
        margin-bottom:40px;
    }
    .comments p {
        margin-bottom:40px !important;
    }
    .comments_content {
        padding-right:0px;
    }
    input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="password"], textarea
    {
        margin-bottom: 40px;
    }
    hr,.leftcontainer hr {
        margin-left: -40px;
        margin-right: -40px;
        margin-bottom:40px !important;
        margin-top:40px !important;
    }
    .slogan {
        padding: 80px 60px 100px 60px;
    }
    .slogan p {
        font-size: 14px;
    }
    .slogan .button {
        font-size: 18px;
    }
    .filters li a {
        font-size: 18px;
    }
    .filters {
        padding: 20px 40px;
    }
    .sp-portfolio li {
        width: 100% !important;
    }
    .filters li a {
        line-height: 3;
    }
    .ns_nerveSlider .ns_caption {
        font-size: 18px;
    }
    .icon .diamond:hover:after{
        display:none;
    }
    .faq dt:before {
        display:none;
    }
    .faq dt:after {
        font: bold 40px/1 Sans-Serif;
        padding: 10px;
    }
    .faq dt, .faq dd {
        padding-left: 65px;
    }
    .reply {
        padding-left:30px;
    }
    .pagecontent {
        padding: 40px;
    }
    .subtitle h1,.subtitle h2,.subtitle h3,.subtitle h4,.subtitle h5,.subtitle h6 {
        padding: 15px 40px;
    }
    .postcontent {
        padding: 40px;
    }
    .previous {
        padding:20px 0px 20px 40px;
    }
    .next {
        padding:20px 40px 20px 0px;
    }
    .pagecontainer {
        margin-top: 60px;
    }
    .leftcontainer {
        width: 100%;
        margin-left: 0px;
    }
    .leftcontainer-inner {
        padding: 100px 40px 40px 40px;
    }
    .rightcontainer,#footer {
        padding-left: 0px;
    }
    #menu-bar {
        height: 60px;
        width: 100%;
        opacity: 0.9;
    }
    .menu-icons {
        height: 60px;
        border:none !important;
    }
    #menu-bar > .logo{
        display: none !important;
    }
    .menu-icons > .menu-bar-icon, .menu-icons > .close-icon {
        background-position: 40px center;
    }
    .menu-icons > .menu-bar-icon > span, .menu-icons > .close-icon > span {
        display: block;
    }
    #footer-widgets {
        padding:40px;
    }
    .footer-info {
        padding:20px 40px;
    }
    .footer-widget {
        padding-bottom:40px;
    }
    .back-to-top {
        display: none;
    }
    .cbp-qtrotator .cbp-qtcontent {
	   padding: 40px;
    }
    .ns_nerveSlider .ns_slideContent div span{
        display: none !important;
    }
    .page-title h1,.page-title .page-title-box {
        padding: 40px;
    }
}