extends layouts/default

block content
  section#content.col-xs-8.col-sm-8
    .row.view-animate-container
      page-about.pop(data-ng-view)
  script(type="text/javascript").
    window.user = !{user};
