<!-- Application header -->
<header id="header">
	<div class="wrap">
		<div class="bp-header__main">
			<nav class="bp-nav">
				<a ng-repeat="item in menu.items" ng-class="item.icon" class="bp-nav__item bp-icon fa" ng-href="{{ item.link }}" data-info="{{ item.info }}" ng-click="item.callback($event);">
					<span>
						{{ item.info }}
					</span>
				</a>
			</nav>
		</div>
		<h2 ng-if="menu.title !== 'Accueil'">
			{{ menu.title }}
		</h2>
		<div class='console-container' ng-if="menu.title === 'Accueil'">
			<MARQUEE id="consoleMarquee"></MARQUEE>
		</div>
	</div>
</header>
