<section class="linksContainer">
	<section class="grid">
		<div deckgrid class="deckgrid col3" source="links" cardTemplate="js/links/views/linkCard.html"></div>

		<p>Ici le meilleur du web!</p>
		<br/>
		<div class="grid photo uselessSiteContainer">
			<a href="#!" ng-click="getUselessSite($event);">
				<figure class="effect-julia">

					<img
					src=""
					data-ng-src="img/tQEHA2B.gif"
					class="animation-fade photoCard"
					data-imageloaded data-loadedclass="animation-faded"/>

				</figure>
			</a>
		</div>
	</section>
</section>

