<h1 style="margin-left:15px; padding-left:0;">
	<i class="fa fa-share"></i>
	Liens
</h1>
<hr style="margin-left:15px; padding-left:0;">
<section data-ng-controller="LinkController">
	<div id="gallery" class="gallery isotope col-md-12">
		<div class="image gallery-group-1 isotope-item" data-ng-repeat="link in links" style="display: inline-block; width: 33%;">
			<div class="image-inner">
				<a href="{{link.adress}}" data-lightbox="gallery-group-1" target="_blank">
					<img ng-src="{{link.image && link.image || 'img/8962691008_7f489395c9_m.jpg'}}" alt="">
				</a>
				<p class="image-caption">
					#Site de {{link.author}}
				</p>
			</div>
			<div class="image-info" style="border: 1px solid lightgray;">
				<h5 class="title">{{link.title}}</h5>
				<div>
					<small>par</small>
					<a href="#!">{{link.author}}</a>
				</div>
				<div class="desc">
					{{link.content}}
				</div>
			</div>
		</div>
	</div>
</section>