<section class="rightcontainer">

	<!-- PAGE TITLE -->
	<div class="page-title">

	    <!-- PAGE TITLE TRANSPARENT BG -->
	    <div class="bgfilter"></div>
	    <h1>Ailleurs sur le web</h1>
	    <div class="page-title-box">
	        <p>Malis imitarentur offendit tamen laboris. Vidisse est sint laborum ne e lorem despicationes, nam veniam probant nostrud qui ipsum et litteris se aliqua. Ea iis aute proident, eiusmod cohaerescant ea commodo, se quo elit incididunt a nulla admodum incurreret. Ab malis fabulas.
	        </p>
	    </div>
	</div>

	<!-- FILTERS -->
	<ul id="filters1" class="filters">
	    <li>
	        <a href="#!" data-filter="all" class="active">All</a>
	    </li>
	    <li>
	        <a href="#!" data-filter="conneries">Conneries</a>
	    </li>
	    <li>
	        <a href="#!" data-filter="links">Liens</a>
	    </li>
	    <a href="#!/links/create" class="add-icon-sub">
        </a>
	</ul>
	<div class="clear"></div>

	<!-- GALLERY -->
	<ul id="gridbox1" class="sp-portfolio four-column">
		<li data-filter="conneries">
	        <a class="clb-link" href="#!" ng-click="getUselessSite($event);">
	            <img src="img/tQEHA2B.gif" alt="" />
	        </a>
	    </li>
	    <li data-filter="links" ng-repeat="link in links">
	        <a class="clb-link" href="{{link.adress}}" target="_blank">
	            <img ng-src="{{link.image}}" alt="" />
	        </a>
	    </li>
	</ul>

	<cm-portfolio></cm-portfolio>
</section>