<section data-ng-controller="SuggestionController">

	<div class="col-xs-12">
		<form class="form-horizontal" role="form" data-ng-submit="add();">
			<div class="form-group">
				<div class="col-md-12">
					<textarea
						class="form-control"
						placeholder="{{'suggestions_add' | translate}}"
						data-ng-model="content"
						style="width: 100%;"/>
					<button 
						class="btn btn-primary"
						type="submit"
						title="{{'suggestions_add' | translate}}"
						style="float:right;">
						<i class="glyphicon glyphicon-ok"></i>
					</button>
				</div>
			</div>
		</form>
	</div>

	<div class="row" data-ng-repeat="suggestion in SuggestionsCollection.all">
		<div class="col-xs-12 page-feed">
			<div class="box" style="border:0;">
				<div class="avatar">
					<img src="img/avatar.png" class="profile avatar-224 photo" style="margin-top: 0"/>
				</div>
				<div class="page-feed-content">
					<small class="time">{{global.user.name}}, le {{suggestion.created | date:dateFormat}}</small>
					<p>{{suggestion.content}}</p>
				</div>
			</div>
		</div>
	</div>

</section>