<section class="rightcontainer">

	<!-- PAGE TITLE -->
	<div class="page-title">

		<!-- PAGE TITLE TRANSPARENT BG -->
		<div class="bgfilter"></div>
		<h1>La fine équipe</h1>

		<!-- OUR TEAM CAROUSEL -->
		<data-team-carousel class="owl-carousel owl-theme owl-loaded">
		<figure
			ng-repeat="user in team track by $index"
			team-carousel-item="{{$index}}"
			class="our-team">
			<img src="img/photos/team2.jpg" alt="" />
			<figcaption>
				<div>
					<h5>Jonathan Doe</h5>
					<p>General Manager</p>
					<!-- SOCIAL ICONS -->
					<ul class="our-team-icons">
						<li>
							<a href="#!">
							<img class="social-icon" src="img/zoom.png" alt="" />
							</a>
						</li>
					</ul>
				</div>
			</figcaption>
		</figure>
		</data-team-carousel>
	</div>
</section>