<section class="rightcontainer">
	<!-- TITLE -->
	<div class="subtitle">
		<h1>Profil</h1>
	</div>

	<!-- PAGE CONTENT -->
	<div class="pagecontent">

		<!-- HALFBOX -->
		<div class="half-box">
			<div class="half-left">
				<h2>Présentation</h2>
				<img ng-src="{{user.avatar || 'img/avatar.png'}}" class="flex-image" alt="" />

				<input
				name="uploadAvatar"
				class="button"
				value="Changer l'avatar"
				nv-file-select
				uploader="uploader"
				type="file"/>

				<label>{{'profile_firstname' | translate}}</label>
				<input type="text" data-ng-model="user.name" required/>

				<label>{{'profile_lastname' | translate}}</label>
				<input type="text" data-ng-model="user.lastname" required/>

				<label>{{'profile_email' | translate}}</label>
				<input type="text" data-ng-model="user.email" required/>

				<label>{{'profile_username' | translate}}</label>
				<input type="text" data-ng-model="user.username" required/>

				<label>{{'profile_password' | translate}}</label>
				<input type="password" data-ng-model="heyhey" required/>

				<label>{{'profile_confirm' | translate}}</label>
				<input type="password" data-ng-model="heyhey" required/>

				<label>Présentation</label>
				<textarea data-ng-model="presentation">
				</textarea>
			</div>

			<div class="half-right">

				<h2>Skills</h2>
				<p>Minim singulis pariatur. De eram exercitation, cillum admodum non expetendis. Te qui sunt mandaremus.</p>

				<div class="skills">
					<div class="skillbar" data-ng-repeat="skill in user.skills" data-percent="{{skill.value}}">
						<div class="skillbar-title"><span>{{skill.name}}</span>
						</div>
						<div class="skillbar-bar"></div>
						<div class="skill-bar-percent">{{skill.value}}%</div>
					</div>
				</div>

				<input type="text" placeholder="Ajouter une compétence" data-ng-model="skillName"/>
				<input
				class="button"
				type="button"
				ng-click="addSkill()"
				ng-disabled="skillName === 0"
				value="+"/>

				<input type="submit" class="button pull-right" value="Enregistrer les modifs">
			</div>
		</div>
	</div>
</section>