<div class="grid__item">
	<div class="scotch"></div>
	<img ng-src="{{article.image && article.image || 'img/8962691008_7f489395c9_m.jpg'}}" alt="" scale="0" class="linkImage articleCell">
	<!-- <div class="ev2page-tickets" ng-if="article.category"><a href="#!">{{article.category}}</a></div> -->
	<!-- <h2 class="bl2page-title"><a href="#!">{{article.title}}</a></h2> -->

	<div class="he-view">
		<div class="bg a0 articleCell"></div>
	</div>

	<div class="adpage-info">
		<p class="bl2page-user"><span class="fa fa-user"></span> {{article.user.name}}</p>
		<p class="bl2page-date ellipsis"><span class="fa fa-clock-o"> {{article.created | date:dateFormat}}</p>
	</div>
</div>