<section class="rightcontainer">

	<div class="subtitle">
	    <h1>Nouvel article</h1>
	</div>

	<div class="pagecontent">
		<form class="comment-form" role="form" data-ng-submit="create()">

				<div class="imgThumbnail">
					<img ng-src="{{article.image && article.image || 'img/8962691008_7f489395c9_m.jpg'}}">
				</div>

				<button class="btn btn-default" style="margin-top: 70px;">
				<label for="upload-profile-picture" class="label-upload-profile-picture" style="width: 140px;">
					Changer d'image
					<input
					id="upload-profile-picture"
					nv-file-select
					uploader="uploader"
					type="file"
					class="manual-file-chooser js-manual-file-chooser js-avatar-field"/>
				</label>
				</button>

				<input type="text" data-ng-model="article.title" required/>

				<div class="wysiwyg--nao">
					<wysiwyg
					textarea-class=""
					textarea-height="200px"
					textarea-required
					ng-model="article.content"
					enable-bootstrap-title="true"
					textarea-menu="customMenu">
					</wysiwyg>
				</div>

			<input type="submit" class="button" value="Ajouter l'article" />
		</form>
	</div>
</section>