<section class="grid">
	<div class="grid__item" ng-repeat="article in articles | filter: nameFilter">
		<div class="ev2page-tickets" ng-if="article.category"><a href="#!">{{article.category}}</a></div>
		<h2 class="bl2page-title"><a href="#!">{{article.title}}</a></h2>
        <div class="bl2page-cover">
           <div class="wz-wrap wz-hover">
	         	<img ng-src="{{article.image && article.image || 'img/8962691008_7f489395c9_m.jpg'}}" alt="" scale="0" style="width: 100%;" class="linkImage">
              	<div class="he-view">
                 	<div class="bg a0"></div>
             	</div>
           </div>
        </div>

        <div class="bl2page-info">
           <p class="bl2page-user"><span class="fa fa-user"></span> {{article.user.name}}</p>
           <p class="bl2page-date"><span class="fa fa-clock-o"> {{article.created | date:dateFormat}}</p>
		</div>
	</div>
</section>
<section class="content">
	<div class="scroll-wrap">
		<article class="content__item" ng-repeat="article in articles | filter: nameFilter">
			<span class="category category--full">{{article.category}}</span>
			<h2 class="title title--preview">{{article.title}}</h2>
			<div class="meta meta--full">
				<img ng-src="{{article.image && article.image || 'img/8962691008_7f489395c9_m.jpg'}}" alt="" class="meta__avatar">
				<span class="meta__author">{{article.user.name}}</span>
				<span class="meta__date"><i class="fa fa-calendar-o"></i>
				{{article.created | date:dateFormat}}
				</span>
			</div>
			<div ng-bind-html="getFormattedContent(article.content)"></div>
		</article>
		<button class="close-button">
		<span class="closebutton"></span>
		</button>
	</div>
</section>