<section class="rightcontainer">

    <!-- TITLE -->
    <div class="subtitle">
        <h1>Blog</h1>
        <a href="#!/articles/create" class="add-icon">
        </a>
    </div>

    <!-- POSTS -->
    <article class="blogcontainer" ng-repeat="article in articles | filter: nameFilter">

        <!-- POST IMAGE -->
        <div class="blogimage" data-image="{{article.image || 'img/photos/2-s.jpg'}}">
            <a href="#!/articles/view/{{article._id}}"></a>
        </div>

        <!-- POST CONTENT -->
        <div class="postcontent">
            <h3><a href="#!/articles/view/{{article._id}}">{{article.title}}</a></h3>
            <p class="postdate">{{article.created | date:"dd MMM yyyy, H'h'mm"}}</p>
            <div ng-bind-html="getFormattedContent(article.content)" class="articleSummary"></div>
        </div>

    </article>

    <!-- FOOTER: PREVIOUS AND NEXT BUTTONS -->
    <div class="blogpager">
        <div class="previous">
            <a href="#!" class="button">&#8249; Précédents</a>
        </div>
        <div class="next">
            <a href="#!" class="button">Suivants &#8250;</a>
        </div>
    </div>

    <cm-Backstretch></cm-Backstretch>
</section>