<div id="post-116" class="post-116 page type-page status-publish hentry">
	<div class="row-fluid " style="min-height: 799px;">
		<div id="content_wrap" class="">
			<div class="content-wrap-inn ">
				<div class="container">
					<div class="title-bar-wrap title-centered" id="title-bar" style="padding: 50px 0;">
						<div id="title-wrap">
							<div class="title-wrap-inn">
								<div id="main-title">
									<h1 class="main-title"> LE FOURRE TOUT </h1>
								</div>
								<div class="post-expert">
									Cette section est un petit peu la foire à la saucisse, vous pouvez partager toute sorte de contenus: liens, vidéos, articles personnalisés... Tout ça en cliquant sur le petit bouton en bas à droite.
								</div>
							</div>
						</div>
						<!--End #title-wrap-->
					</div>
					<!--End #title-bar-wrap"-->
				</div>
				<div class="pagebuilder-wrap">
					<div class="container">
						<div class="row-fluid">
							<div class="span12 moudle">
								<div class="row-fluid">
									<div class="container-isotope clear" data-post="20140408-131759-171">
										<a name="20140408-131759-171" class="20140408-131759-171"></a>
										<div id="isotope-load" style="display: none;">
											<div class="ux-loading"></div>
											<div class="ux-loading-transform">
												<div class="loading-dot1">
													&nbsp;
												</div>
												<div class="loading-dot2">
													&nbsp;
												</div>
											</div>
										</div>
										<div class="isotope masonry isotope_fade" data-size="large" style="margin: -40px 0px 0px -40px;">
											<cm-blog-post ng-repeat="article in articles" type="{{article.type || 'standard'}}">
											</cm-blog-post>
										</div>
									</div>
									<!--End inside-->
								</div>
								<!--End isotope-item-->
							</div>
						</div>
						<!--End container-isotope-->
					</div>
					<div class="clearfix pagenums">
						<div class="pagination">
							<pagination
							previous-text="&#8249; Précédents"
							next-text="Suivants &#8250;"
							total-items="totalItems"
							page="page"
							on-select-page="pageChanged(page)">
							</pagination>
						</div>
						</div><!--End pagenums-->
					</div>
				</div>
			</div>
			<script type="text/javascript">
			setTimeout(function(){
				var ux_pb = new ThemePageBuilder();
				ux_pb.init();
			}, 500);
			</script>
		</div><!--End content-wrap-inn-->
		</div><!--end content_wrap-->
	</div>
</div>
<div id="float-bar" class="hidden-phone">
	<div class="float-bar-inn-wrap">
		<div class="float-bar-inn">
			<!--Social network share icon-->
			<div class="float-bar-social-share">
				<a href="#!/articles/create/standard" class="social-share-facebook" style="display: inline-block;">
					<i class="float-bar-triggler-inn"></i>
				</a>
				<a href="#!/articles/create/video" class="social-share-twitter" style="display: inline-block;margin-left: 30px;">
					<i class="float-bar-triggler-inn"></i>
				</a>
				<a href="#!/articles/create/link" class="social-share-twitter" style="display: inline-block;margin-left: 30px;">
					<i class="float-bar-triggler-inn"></i>
				</a>

				<button class="social-share-twitter" onclick="javascript:window.open('https://twitter.com/share?url=http://ximudesign.com/aside/','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-twitter"></i></button>
				<button class="social-share-google-plus" onclick="javascript:window.open('https://plus.google.com/share?url=http://ximudesign.com/aside/','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></button>

				<button class="social-share-pinterest" onclick="javascript:window.open('http://pinterest.com/pin/create/bookmarklet/?url=http://ximudesign.com/aside/&amp;is_video=false&amp;media=','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-pinterest"></i></button>
				<button class="social-share-vk" onclick="javascript:window.open('http://vkontakte.ru/share.php?url=http://ximudesign.com/aside/','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-vk"></i></button>

				<button class="social-share-linkedin" onclick="javascript:window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http://ximudesign.com/aside/','', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-linkedin"></i></button>
			</div>
		</div>
		<!--End float inn wrap-->
		</div><!--End float inn-->
		<div id="float-bar-triggler"><i class="float-bar-triggler-inn"></i></div>
	</div>
</div>