<section class="rightcontainer">

    <!-- TITLE -->
    <div class="subtitle">
        <h1>{{article.title}}</h1>
    </div>

    <div class="featured-image-date">
        <p>{{article.created | date:dateFormat}}</p>
    </div>

    <div class="pagecontent">

        <!-- ARTICLE -->
        <article>
            <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem si ita labore dolor si appellat, aut dolore doctrina. Commodo dolor esse in magna, a a multos senserit nam si aliqua iis multos.</p>
            <!-- FLEX IMAGE -->
            <figure class="featured-image caption-image">
                <div>
                    <img src="img/photos/s-post.jpg" alt="" />
                </div>
                <figcaption>Voluptate illum dolore</figcaption>
            </figure>
            <p>Appellat elit senserit litteris ubi ne eram voluptate commodo si aliqua occaecat ad quem enim, eram domesticarum fabulas quorum doctrina ut commodo efflorescere aut possumus. Cillum praetermissum mentitum quem cupidatat. Veniam a arbitror iis malis ab quo duis cupidatat. Tempor quem occaecat. Nescius si malis, non occaecat ne mentitum.</p>
            <!-- BLOCKQUOTE -->
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna.</p>
            </blockquote>
            <p>Anim admodum o possumus. Ea eu nisi senserit, eiusmod elit sunt cupidatat fugiat. Ad an tamen eiusmod, incurreret eram proident. Et noster quem e tempor. Non culpa exquisitaque. Aut enim graviterque. Ne cupidatat illustriora.</p>
            <hr/>
            <!-- HALFBOX -->
            <div class="half-box">
                <div class="half-left">
                    <img class="flex-image nomargin" src="img/photos/us.jpg" alt="" />
                </div>
                <div class="half-right">
                    <h2>Luctus dictum</h2>
                    <p>Anim admodum o possumus. Ea eu nisi senserit, eiusmod elit sunt cupidatat fugiat. Ad an tamen eiusmod, incurreret eram proident. Et noster quem e tempor. Non culpa exquisitaque. Aut enim graviterque. Ne cupidatat illustriora.</p>
                    <p>Iudicem ea probant, quo malis quid aut nostrud, summis ullamco qui laboris o ex culpa aliqua esse proident. Fore litteris qui quibusdam non do quorum excepteur probant. Anim incurreret do duis eram. Ipsum id ad fugiat laboris, ea id dolor eiusmod est hic irure qui quorum, voluptate multos anim pariatur nisi. Noster proident e admodum, aliqua ullamco probant.</p>
                    <p>Singulis quem quorum incurreret dolore. Consequat eram summis possumus amet id commodo dolore mentitum, fugiat nostrud nam cernantur an quorum consequat voluptatibus, hic elit incurreret imitarentur, quorum non probant in elit id appellat est qui esse praetermissum an quorum. Aut enim graviterque. Ne cupidatat illustriora.</p>
                </div>
            </div>
            <hr/>
            <h3>Probany Illugtriora</h3>
            <p>Voluptate illum dolore ita ipsum, quid deserunt singulis, labore admodum ita multos malis ea nam nam tamen fore amet. Vidisse quid incurreret ut ut possumus transferrem si ita labore dolor si appellat, aut dolore doctrina. Commodo dolor esse in magna, a a multos senserit nam si aliqua iis multos.</p>
            <!-- ACCORDION -->
            <div id="accordion-container">
                <div class="accordion-header">Vestibulum porta, tortor elementum luctus dictum</div>
                <div class="accordion-content">
                    <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                </div>
                <div class="accordion-header">Est odio egestas justo</div>
                <div class="accordion-content">
                    <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                </div>
                <div class="accordion-header">Tortor elementum luctus dictum</div>
                <div class="accordion-content">
                    <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                </div>
                <div class="accordion-header">Dapidus dio egestas justo</div>
                <div class="accordion-content">
                    <p>Vestibulum porta, tortor elementum luctus dictum, est odio egestas justo, dapibus aliquet sem nisl vel augue. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum. Nam laoreet pulvinar eros, sit amet sodales est venenatis eu. Fusce eu sapien tortor, a consequat nunc. Nunc pulvinar consequat turpis, sed vulputate nibh lacinia rutrum.</p>
                </div>
            </div>
            <p>Si quem incididunt pariatur id fugiat appellat eu amet summis ad lorem litteris do quid elit de cernantur quem malis an nisi. Ullamco irure aliqua offendit quem te amet ea commodo se possumus malis mentitum cernantur, esse distinguantur incurreret quis excepteur.</p>
        </article>
        <hr/>

        <!-- COMMENTS -->
        <h3>Comments</h3>

        <!-- COMMENT 1 -->
        <div class="comments" ng-repeat="comment in article.comments | orderBy:'-created'">
            <p class="meta">
                <a href="#">{{comment.user.name || global.user.name}}</a> - {{comment.created | date:dateFormat}}
            </p>
            <div class="comments_content">
                <p>{{comment.content}}</p>
                <a href="#" class="reply">Répondre</a>
                <div class="clr"></div>
                <div class="reply_icon"></div>
            </div>
        </div>

        <!-- COMMENT REPLY -->
        <!-- <div class="comments reply" >
            <p class="meta">
                <a href="#">Tom Black</a> - August 10, 2014</p>
            <div class="comments_content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sapien odio, sit amet felis scelerisque felis. Maecenas tincidunt ligula eu magna tincidunt eget erat males. Ut in diam et metus facilisis venenatis sit amet vel enim. Duis semper elementum felis.</p>
                <a href="#" class="reply">Reply</a>
                <div class="clr"></div>
                <div class="reply_icon"></div>
            </div>
        </div> -->

        <!-- COMMENT FORM -->
        <h4>Ajouter un commentaire</h4>
        <form class="comment-form" data-ng-submit="addComment()">
            <textarea data-ng-model="comment" rows="5" cols="60"></textarea>
            <input type="submit" class="button" value="Ajouter" />
        </form>
    </div>

</section>