<div class="subnav navbar-default" >
	<div id="subnav" class="navbar-inner toolbar">
		<ul class="nav navbar-nav navbar-default">
			<li data-ng-class="{active: view === 'create'}" class="toolbaritem">
				<a href="#!articles/create"><span class="fa fa-plus-circle"></span> {{'agenda_add' | translate}}</a>
			</li>
			<li data-ng-class="{active: view === 'articles'}" class="toolbaritem">
				<a href="#!articles"><span class="fa fa-tasks"></span> {{'article_title' | translate}}</a>
			</li>
		</ul>
	</div>
</div>