<div class="subnav navbar-default" >
	<div id="subnav" class="navbar-inner toolbar">
		<ul class="nav navbar-nav navbar-default">
			<li data-ng-class="{active: view === 'create'}" class="toolbaritem">
				<a href="#!articles/create"><span class="fa fa-plus-circle"></span> {{'agenda_add' | translate}}</a>
			</li>
			<li data-ng-class="{active: view === 'articles'}" class="toolbaritem">
				<a href="#!articles"><span class="fa fa-tasks"></span> {{'article_title' | translate}}</a>
			</li>
		</ul>
		<div id="search" class="pull-right" ng-if="view === 'articles'">
			<span class="input input--makiko">
				<input class="input__field input__field--makiko" type="text" data-ng-model="obj.searchTitle" name="search"/>
				<label class="input__label input__label--makiko" for="search">
					<span class="input__label-content input__label-content--makiko">Rechercher</span>
				</label>
			</span>
		</div>
	</div>
</div>