<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="container col-md-12">
		<div class="col-md-2">
			<img src="{{article.image}}" style="height: 80px; width: 80px; vertical-zlign: middle;"></img>
		</div>
		<div class="col-md-8" style="margin-bottom: 10px;">
			<h2>{{article.title}}</h2>
			<span class="author">{{article.user.name}}</span> - le <span class="pub-name">{{article.created | date:dateFormat}}</span>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-8" style="margin-bottom: 10px;">
			<div>{{article.content}}</div>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-12" data-ng-show="global.user._id == article.user._id" style="text-align:right;">
			<a style="padding-left: 0;">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<div id="modal" ng-controller="Modal" style="display: inline-block;">
				<a data-ng-click="open('appStructure/modal.html', 'Articles', 'Etes vous sure...', remove)">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>
</section>