<section class="mainContent">

		<section class="controls no-select">
			<div class="tControls">

				<div class="top">
					<a href="#!home">
						<img src="img/Home_sketch_64.png" class="imgMenu"/>
					</a>
				</div>

				<div class="middle">
					<a href="#!articles/create">
						<img src="img/Draw_Adding_Cross_64.png" class="imgMenu"/>
					</a>
					<a href="#!articles/create" ng-disabled="!items.hasPrev()">
						<img src="img/Sketched_up_arrow_triangle_64.png" class="imgMenu" />
					</a>
					<a href="#!articles/create" ng-disabled="!items.hasNext()">
						<img src="img/Sketched_down_arrow_triangle_64.png" class="imgMenu"/>
					</a>
				</div>

				<div class="bottom">
				</div>

			</div>
		</section>

		<section class="entries">
			<article class="entry active" ng-show="selected">
				<div class="row-fluid">
					<h2>{{selected.title}}</h2>
					<span class="author">
						{{selected.user.name}}</span> - le <span class="pub-name">{{selected.created | date:'medium'}}</span>
					<hr />
					<w-Viewarticle></w-Viewarticle>
				</div>
			</article>
		</section>

		<section class="summaries">

			<div id="search">
				<span class="input input--makiko">
				<input class="input__field input__field--makiko" type="text" data-ng-class="{'searchFocus': obj.searchTitle}" data-ng-model="obj.searchTitle" name="search"/>
				<label class="input__label input__label--makiko" for="search">
					<span class="input__label-content input__label-content--makiko">Rechercher</span>
				</label>
				</span>
			</div>

			<article ng-repeat="article in articles | filter: nameFilter"
				id="{{article._id}}"
				class="articleItem summary"
				ng-class="{active: selected && selected._id === article._id}"
				ng-click="selectArticle(article);">

				<img ng-src="{{article.image && article.image || 'img/heaven_earth_drib.jpg'}}" alt="" scale="0" class="linkImage articleCell">

				<div class="he-view">
					<div class="bg a0 articleCell">
						<img src="img/trash.png" class="left" ng-click="remove(article, $event)" ng-show="global.user._id === article.user._id"/>
						<img src="img/pencil.png" class="left" ng-click="edit(article, $event)" ng-show="global.user._id === article.user._id"/>
						<img src="img/magnifier_sketch.png" class="center" ng-class="{'negativeMargin' : global.user._id === article.user._id}"/>
					</div>
				</div>

				<div class="articleCellDetail">
					<p class="ellipsis">
						<span class="fa fa-user"></span>
						{{article.user.name}}
					</p>
					<p class="ellipsis">
						<span class="fa fa-clock-o">
						{{article.created | date:dateFormat}}
					</p>
				</div>
			</article>
		</section>

</section>
