//AngularJS
script(type='text/javascript', src='/libs/jquery/jquery.min.js')
script(type='text/javascript', src='/libs/angular/angular.min.js')
script(type='text/javascript', src='/libs/angular-cookies/angular-cookies.min.js')
script(type='text/javascript', src='/libs/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='/libs/angular-route/angular-route.min.js')
script(type='text/javascript', src='/libs/angular-translate/angular-translate.js')
script(type='text/javascript', src='/libs/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
script(type='text/javascript', src='/libs/imagesloaded/imagesloaded.pkgd.min.js')

//Angular UI
script(type='text/javascript', src='http://code.angularjs.org/1.0.8/i18n/angular-locale_fr-fr.js')
script(type='text/javascript', src='/libs/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/libs/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/libs/angular-ui-utils/ui-utils.min.js')
script(type='text/javascript', src='/libs/angular-ui.sortable.js')

//Utils
script(type='text/javascript', src='/libs/moment/moment.js')

//Angular boostrap calendar
script(type='text/javascript', src='/libs/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js')

//File upload librairies
script(type='text/javascript', src='/libs/es5-shim/es5-shim.js')
script(type='text/javascript', src='/libs/angular-file-upload/angular-file-upload.min.js')

//Angular google maps
script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyBJDXQCYvWOqxMWsQz7X0rE-vJOUD8ciPM')
script(type='text/javascript', src='/libs/lodash/dist/lodash.underscore.min.js')
script(type='text/javascript', src='/libs/angular-google-maps/dist/angular-google-maps.min.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')

//Aside
script(type='text/javascript', src='/libs/project-lib/bootstrap.js')
script(type='text/javascript', src='/libs/project-lib/lightbox/js/lightbox.min.js')
script(type='text/javascript', src='/libs/textboxio/textboxio.js')

//Application Services
script(type='text/javascript', src='/js/main.js')
script(type='text/javascript', src='/js/app/profile/controller.js')
script(type='text/javascript', src='/js/home/service.js')
script(type='text/javascript', src='/js/euro/service.js')
script(type='text/javascript', src='/js/articles/service.js')
script(type='text/javascript', src='/js/agenda/service.js')
script(type='text/javascript', src='/js/suggestions/service.js')
script(type='text/javascript', src='/js/albums/service.js')
script(type='text/javascript', src='/js/users/service.js')
script(type='text/javascript', src='/js/parameters/service.js')
script(type='text/javascript', src='/js/app/comments/service.js')
script(type='text/javascript', src='/js/app/chat/service.js')

//Application Controllers
script(type='text/javascript', src='/js/app/sidebar/controller.js')
script(type='text/javascript', src='/js/app/chat/controller.js')
script(type='text/javascript', src='/js/app/comments/controller.js')
script(type='text/javascript', src='/js/home/controller.js')
script(type='text/javascript', src='/js/articles/controller.js')
script(type='text/javascript', src='/js/agenda/controller.js')
script(type='text/javascript', src='/js/suggestions/controller.js')
script(type='text/javascript', src='/js/albums/controller.js')
script(type='text/javascript', src='/js/users/controller.js')
script(type='text/javascript', src='/js/parameters/controller.js')
script(type='text/javascript', src='/js/euro/controller.js')

//Applications directives and filters
script(type='text/javascript', src='/js/directive.js')
script(type='text/javascript', src='/js/articles/filter.js')
script(type='text/javascript', src='/js/agenda/filter.js')

//Initialize app
script(type='text/javascript', src='/js/init.js')