head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  title= appName+' - '+title
  meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
  meta(name="keywords", content="")
  meta(name="description", content="")

  link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

  meta(property='fb:app_id', content='APP_ID')
  meta(property='og:title', content='#{appName} - #{title}')
  meta(property='og:description', content='Les coqs soccer')
  meta(property='og:type', content='website')
  meta(property='og:url', content='APP_URL')
  meta(property='og:image', content='APP_LOGO')
  meta(property='og:site_name', content='Les coqs soccer')
  meta(property='fb:admins', content='APP_ADMIN')

  link(rel='stylesheet', href='/libs/angular-bootstrap-colorpicker/css/colorpicker.min.css')
  link(rel='stylesheet', href='/libs/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css')
  link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic&amp;ver=3.9.1')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Playfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic&amp;ver=3.9.1')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700"')

  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='css/pagebuild.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/icons.css')
  link(rel='stylesheet', href='css/scrollbar.css')
  link(rel='stylesheet', href='/libs/aside/lightbox/css/lightbox.css')
  link(rel='stylesheet', href='/libs/aside/galleria/themes/classic/galleria.classic.css')

  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
