<div id="comments">
	<div id="respondwrap">
		<div class="chat-wrapper" style="padding-left: 0;">

			<h3 id="reply-title" class="comment-reply-title" style="color: #7b7b7b;">
				COMMENTAIRES
			</h3>

			<ul id="conversationList" ng-if="object.comments.length>0" style="padding-top: 20px; padding-right: 10px; max-height: inherit;">
				<li ng-repeat="comment in object.comments | reverse" style="float: inherit;">
					<img ng-src="{{comment.user.avatar || global.user.avatar}}?dim100x100" alt="{{item.user.name || item.user.username}}">
					<b style="text-transform: uppercase;">{{comment.user.username || global.user.username}}</b><i>, le {{comment.created | date:dateFormat}}</i>
					<p>
						{{comment.content}}
					</p>

					<div>
						<ul style="padding-top: 20px; padding-right: 10px;">
							<li ng-repeat="reply in comment.replies | orderBy:'-created'" class="current" style="box-shadow: none;">
								<img ng-src="{{reply.user.avatar || global.user.avatar}}?dim100x100" alt="{{reply.user.username || global.user.username}}" class="img-circle" style="position: absolute;right: -80px;left: inherit;">
								<b style="text-transform: uppercase;">{{reply.user.username || global.user.username}}</b><i>, le {{reply.created | date:dateFormat}}</i>
								<p>
									{{reply.content}}
								</p>
							</li>
						</ul>
					</div>

					<!-- ajouter les commentaires anonymes -->
					<div class="comments_content">
						<a ng-attr-id="{{comment._id}}-reply" href="#!" ng-click="showAnswerForm($event, comment)" class="reply" ng-show="!currentReplyId">
							Répondre
						</a>
					</div>
				</li>
			</ul>

			<h3 id="reply-title" class="comment-reply-title">
				<span class="comm-reply-title">
					Laisser un commentaire
				</span>
			</h3>

			<form  id="formComment" class="comment-form">
				<p>
					<textarea
					name="newComment"
					ng-model="newComment"
					class="requiredFieldcomm"
					cols="100%"
					tabindex="4"
					aria-required="true"
					placeholder="COMMENTAIRE"
					style="width: 100%; padding: 0; height: 80px;">
					</textarea>
				</p>
				<p class="form-submit" style="text-align: right; margin-top: 20px;">
					<input name="submit" type="button" id="submit" value="AJOUTER" ng-click="addComment();">
				</p>
			</form>

			<form id="formAnswer" class="comment-form answer" ng-show="currentReplyId">
				<p style="margin-bottom: 0px !important;padding-right: 0;margin-right: -20px;">
					<textarea
					name="answer"
					ng-model="replyText"
					class="requiredFieldcomm"
					cols="100%"
					tabindex="4"
					aria-required="true"
					placeholder="REPONSE"
					style="width: 100%; padding: 0; height: 80px;">
					</textarea>
				</p>
				<p class="form-submit" style="text-align: right; margin-bottom: 0px !important;padding-right: 0;margin-right: -20px;">
					<input type="button" ng-click="hideAnswerForm($event)" class="reply-cancel" value="Annuler" style="color: white; margin: 10px 5px 0; height: inherit; line-height: inherit; padding: 5px 10px;">
					</input>
					<input name="submit" type="button" id="submit" value="Répondre" ng-click="addReply();" style="padding: 5px;line-height: inherit;margin-top: 10px;">
				</p>
			</form>

		</div>
	</div>
</div>