<div class="modal-header">
    <h3>Créer un nouvel évènement</h3>
</div>
<div class="modal-body">
	<section>
		<form class="form-horizontal" role="form">
			<div class="form-group">
			    <label for="title" class="col-md-2 control-label">Titre</label>
				<div class="col-md-10">
					<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Titre de l'évènement" required>
				</div>
			</div>
			<div class="form-group">
			    <label for="title" class="col-md-2 control-label">Contenu</label>
				<div class="col-md-10">
					<textarea class="form-control" data-ng-model="content" id="content" placeholder="Contenu de l'évènement" required style="min-height:150px;"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div>
				    <label for="title" class="col-md-2 control-label">Début</label>
			        <div class="col-md-4">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="start" is-open="$parent.openedStartDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
			              <span class="input-group-btn">
			                <button class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
			    </div>
			    <div>
				    <label for="title" class="col-md-2 control-label">Fin</label>
			        <div class="col-md-4">
			            <p class="input-group">
			              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="end" is-open="$parent.openedEndDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
			              <span class="input-group-btn">
			                <button class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
			              </span>
			            </p>
			        </div>
			    </div>
			</div>
			<div class="form-group">
				<div lass="col-md-10">
				    <label for="title" class="col-md-2 control-label">Localisation</label>
				     <!-- search/go to current location -->
				     <div class="col-md-10" style="margin-bottom: 15px;">
			            <p class="input-group">
			              <input type="text" class="form-control" data-ng-model="search"/>
			              <span class="input-group-btn">
				            <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="search" >
				              &nbsp;<i class="glyphicon glyphicon-search"></i>
				            </button>
				            <button class="btn" type="button" ng-click="gotoCurrentLocation()" title="current location">
				              &nbsp;<i class="glyphicon glyphicon-home"></i>
				            </button>
			              </span>
			            </p>
			        </div>
				    <div class="col-md-12">
			        	<google-map center="map.center" zoom="map.zoom"></google-map>
			        </div>
			    </div>
			</div>
			<div class="form-group">
				<div>
				    <label for="title" class="col-md-2 control-label">Notifier les utilisateurs</label>
				    <div class="col-md-10">
				        <div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    User 1
						    </input>
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    User 2
						    </input>
						  </label>
						</div>
						<div class="checkbox">
						  <label>
						    <input type="checkbox" value="">
						    User 3
						    </input>
						  </label>
						</div>
					</div>
			    </div>
			</div>
	    </form>
    </section>
</div>
<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li ng-class="getTabClass(1)" ng-click="setActiveTab(1)"><a href="#deal" data-toggle="tab">Infos</a></li>
        <li ng-class="getTabClass(2)" ng-click="setActiveTab(2)"><a href="#bond" data-toggle="tab">Communauté</a></li>
        <li ng-class="getTabClass(3)" ng-click="setActiveTab(3)"><a href="#collateral" data-toggle="tab">To do list</a></li>
        <li ng-class="getTabClass(4)" ng-click="setActiveTab(4)"><a href="#rating" data-toggle="tab">Rating</a></li>
    </ul>
  	<div class="tab-content">
        <div ng-class="getTabPaneClass(1)" id="deal" class="content">
	        <form>
	        	<div class="form-group">
				    <label for="title" class="col-md-2 control-label">Type</label>
					<div class="col-md-10">
						<select class="form-control" data-ng-model="type" id="type">
							<option>Restau</option>
							<option>Vacances</option>
							<option>Soirée</option>
							<option>Weekend</option>
						</select>
					</div>
				</div>
	            <div class="form-group">
				    <label for="title" class="col-md-2 control-label">Titre</label>
					<div class="col-md-10">
						<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Titre de l'évènement" required>
					</div>
				</div>
				<div class="form-group">
				    <label for="title" class="col-md-2 control-label">Contenu</label>
					<div class="col-md-10">
						<textarea class="form-control" data-ng-model="content" id="content" placeholder="Contenu de l'évènement" required style="min-height:150px;"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div>
					    <label for="title" class="col-md-2 control-label">Début</label>
				        <div class="col-md-4">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="start" is-open="$parent.openedStartDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
				              <span class="input-group-btn">
				                <button class="btn btn-default" ng-click="open($event, 'start')"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				    <div>
					    <label for="title" class="col-md-2 control-label">Fin</label>
				        <div class="col-md-4">
				            <p class="input-group">
				              <input type="text" class="form-control" datepicker-popup="{{format}}" data-ng-model="end" is-open="$parent.openedEndDate" min="minDate" max="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" show-button-bar="false"/>
				              <span class="input-group-btn">
				                <button class="btn btn-default" ng-click="open($event, 'end')"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>
				    </div>
				</div>
			</form>
        </div>

        <div ng-class="getTabPaneClass(2)" id="bond" class="content">
          Tab2
        </div>

        <div ng-class="getTabPaneClass(3)" id="collateral" class="content">
          Tab3
        </div>

        <div ng-class="getTabPaneClass(4)" id="rating" class="content">
          Tab4
        </div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

