doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product').html-authentication
  include ../includes/head
  body
    section.container-fluid
      section.row
        section.container
          block content
  include ../includes/foot