doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    section.mainContent
        .subview(data-ng-include="'js/appStructure/sidebar.html'", data-ng-controller="SidebarController", data-role="navigation")
        section.view-animate-container
            block content
  include ../includes/foot
