doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body.home.page.page-template-default.responsive-ux.boxed-line.aside-layout-ux
    cm-header
    #wrap
      cm-sidebar
      cm-mobile-menu
      #main-wrap
        #main
          block content
  include ../includes/foot
