doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .navbar(data-ng-include="'js/appStructure/header.html'", data-role="navigation")
    section#main.container-fluid
        .col-xs-3.col-sm-3(data-ng-include="'js/appStructure/sidebar.html'", data-ng-controller="SidebarController")
        section#content.col-xs-8.col-sm-8
          section.row.view-animate-container
              block content
  include ../includes/foot
