<div class="pageContent homeContainer" ng-init="initialize();">
	<div class="row-fluid" style="margin-top: 30px;">
		<div id="content_wrap">
			<div class="content-wrap-inn bottom-space">
				<div class="container responsive-ux" style="padding: 0 30px;">
					<div class="row-fluid">
						<div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20">
							<div id="timeline">
								<div class="timelineContainer">
									<cm-timeline ng-repeat="item in timelineContent | orderBy:'-created'" type="{{ item.type || 'standard' }}">
									</cm-timeline>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20">
							<div class='app_inner'>
								<div class="profile-card user-card card">
									<div class="banner">
										<img src="img/logo-euro-2016-france-Rogne1.jpg"/>
									</div>
									<div class="user-image" ng-click="showPointsRulesPopUp($event);" style="cursor: pointer;">
										<div>
											{{ global.user.euroPoints || 0 }} pts
										</div>
									</div>
									<header>
										<h1 style="margin-top: 20px;">
											C'est parti !!!
										</h1>
										<p style="text-align: justify; margin-top: 20px;">
											Eh oué c'est l'euro les cocos! Pour cet évènement et pour relancer la flamme des coqs soccer, je vous propose les traditionnels paris, faites vos jeux!
										</p>
									</header>
									<div class="card-footer">
										<ul class="stats">
											<li>
												<a href='#!/euro'>
													<span ng-if="!global.user.favoriteEuroTeam">
														Choisis ton Equipe
													</span>
													<span ng-if="global.user.favoriteEuroTeam">
														Aller parier>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20">
							<cm-conversations>
							</cm-conversations>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
