<header id="header">
	<div class="wrap">
		<div class='console-container'>
			<span id='text'>
			</span>
			<div class='console-underscore' id='console'>
				&#95;
			</div>
		</div>
	</div>
</header>

<div class="post-330 page type-page status-publish hentry pageContent homeContainer" ng-init="initialize();">
	<div class="row-fluid" style="margin-top: 30px;">
		<div id="content_wrap">
			<div class="content-wrap-inn bottom-space">
				<div class="container responsive-ux" style="padding: 0 30px; max-width: inherit;">
					<div class="row-fluid">
						<div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20" style="margin-left: -15px;">
							<div class='app_inner'>
								<div class="profile-card user-card card">
									<div class="banner">
										<img src="http://s10.postimg.org/k9pfyr4yh/Y213_Ec8.jpg"/>
									</div>
									<div class="user-image">
										<div>
											114 pts
										</div>
									</div>
									<header>
										<h1>
											Tu es fanfaron
										</h1>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt eaque quae tenetur, suscipit quasi accusantium blanditiis doloribus expedita sapiente enim facilis at ipsa similique, nobis consectetur iusto.
										</p>
									</header>
									<div class="card-footer">
										<ul class="stats">
											<li>
												<a href='#!/articles'>
													<strong>
														{{ unreadAlbumCount }}
													</strong>
													<span>
														Albums
													</span>
												</a>
											</li>
											<li>
												<a href='#!/articles'>
													<strong>
														{{ unreadArticleCount }}
													</strong>
													<span>
														Articles
													</span>
												</a>
											</li>
											<li>
												<a href='#!/articles'>
													<strong>
														{{ unreadVoteCount }}
													</strong>
													<span>
														Votes
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20 timelineParent">
							<div id="timeline">
								<div class="timelineContainer">
									<cm-timeline ng-repeat="item in userDatas.content | orderBy:'-created'" type="{{item.type || 'standard'}}">
									</cm-timeline>
								</div>
							</div>
						</div>

						<div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20" style="overflow: auto; padding: 0;box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12); margin-left: 15px;">
							<div class="nicescroll">
								<ul ng-if="!conversation" class="list-group list-group-list" style="max-height: calc(100vh - 130px);">
									<li class="list-group-item" ng-repeat="conversation in conversations | orderConversations: 'conversation'" ng-click="selectUser($event, conversation.userId)">
										<div class="media">
											<div class="media-left media-middle">
												<a href="#!">
													<img ng-src="{{ conversation.avatar && conversation.avatar + '?dim=300x300' || 'img/Professor.png' }}" alt="conversation.username" class="img-circle border-white" width="40" style="max-width: inherit; "/>
												</a>
											</div>
											<div class="media-body media-middle ellipsis">
												<a href="#!" class="ellipsis" style="color: #1c1d22; text-transform: uppercase; font-weight: 700;">
													{{ conversation.username }}
												</a>
												<div class="ellipsis" style="max-height: 15px;line-height: 15px; white-space: initial;">
													{{ (conversation.conversation.messages.length>0) ? (conversation.conversation.messages.slice(-1).pop().user.username || "moi") + ": " + conversation.conversation.messages.slice(-1).pop().content : "Pas encore de message" }}
												</div>
											</div>
											<div class="media-right media-middle" ng-if="getUnreadMessageCount(conversation.userId)> 0" style="background: red;    border-radius: 50%;">
												<span style="color: white; display: flex; font-weight: 600; padding: 0px 15px 0 5px;">
													{{ getUnreadMessageCount(conversation.userId); }}
												</span>
											</div>
										</div>
									</li>
								</ul>
								<div id="respondwrap" class="chat-wrapper" ng-if="conversation">
									<i class="icon-m-close-thin liquid-item-close" style="background:white; color: black;z-index: 8040; color: #333; right: 20px; top: 10px; cursor: pointer;position: absolute;font-size: 18px;" ng-click="closeDialog();">
									</i>
									<ul id="conversationList">
										<li ng-repeat="item in conversation.messages | orderBy:'created'" ng-class="{'current': item.user === global.user._id || item.user._id === global.user._id}">
											<img ng-src="{{ item.user.avatar && item.user.avatar + '?dim=300x300' || global.user.avatar + '?dim=300x300' || 'img/Professor.png' }}" alt="{{ item.user.name || item.user.username }}"/>
											<p>
												<b>
													{{ item.user.username || global.user.username }}
												</b>
												: {{ item.content }}
											</p>
										</li>
									</ul>
									<h4 ng-if="conversation.messages.length === 0" style="margin-top: 20px; text-align: center;font-size: medium;">
										Aucun message
									</h4>
									<div ng-if="conversation" class="message-comment" style="padding-right: 20px;padding-top: 10px;">
										<textarea placeholder="Ecrire un message" ng-model="message.content" ng-enter="sendMessage()" style="height: 110px; width: 100%; margin-bottom: 10px;"/>
										</textarea>
										<button class="pull-right" style="margin-bottom: 20px; color: white;" ng-click="sendMessage();">
											<i class="fa fa-comment">
											</i>
											Envoyer
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<cm-page-builder>
</cm-page-builder>
