<section data-ng-controller="calendarController">

	<div data-ng-include="'/js/agenda/views/subnav.html'"></div>

	<!-- Agenda global view : fullcalendar and map -->
	<article>

		<!-- Calendar -->
		<div class="col-xs-12">
			<article class="well" style="background-color: rgba(0, 0, 0, 0);">
				<div class="row-fluid">
					<div class="span8">
						<div class="calendar"
							ng-model="eventSources"
							ui-calendar="uiConfig.calendar"
							calendar="calendar"></div>
						</tab>
					</div>
				</div>
			</article>
		</div>

	</article>
</section>
