<h1 style="margin-left:15px; padding-left:0; color: white;">
	<i class="fa fa-dot-circle-o"  style="color: white; "></i>
	Agenda
	<a href="#!/agenda/create" class="pull-right" style="color: white;">
		<i class="fa fa-plus-circle"></i>
	</a>
	<a href="#!/agenda/map" class="pull-right" style="color: white; margin-right: 10px;">
	 	<i class="fa fa-globe"></i>
	</a>
</h1>
<hr style="margin-left:15px; padding-left:0;">
<section data-ng-controller="calendarController" data-ng-init="load()">
	<div class="col-md-12">

		<!-- <div data-ng-include="'/js/agenda/views/subnav.html'"></div>
 -->
		<!-- Calendar -->
		<div class="col-md-12" style="padding: 0; ">
			<article class="well">
				<div class="row-fluid">
					<div class="span8">
						<div class="calendar"
							ng-model="eventSources"
							ui-calendar="uiConfig.calendar"
							calendar="calendar"></div>
						</tab>
					</div>
				</div>
			</article>
		</div>

	</div>
</section>
