<div class="grid__item	 agenda_item">
	<div class="scotch"></div>
	<h2 class="ev2page-title three-line-ellipsis"><!-- <a href="#!">{{event.title}}</a> --></h2>
	<div class="ev2page-data">
		<div class="ev2page-day">{{event.start | date:"dd"}}</div>
		<div class="ev2page-month">{{event.start | date:"MMM"}}</div>
		<div class="ev2page-year">{{event.start | date:"yyyy"}}</div>
	</div>
	<div class="ev2page-cover">
		<div class="wz-wrap wz-hover">
			<img ng-src="{{event.image && event.image || 'img/400x300beer.jpg'}}" alt="" scale="0" class="meta__avatar">
			<div class="he-view">
				<div class="bg a1 meta__avatar" data-animate="fadeIn">
				</div>
			</div>
		</div>
	</div>
	<div class="ev2page-week">{{event.start | date:"EEEE"}}</div>
	<div class="ev2page-tickets"><a href="#!" style="top: 20px;">{{ eventTypes | getNameByIdentifier:event.type}}</a></div>
</div>