<div class="clearfix filters filter-floating">
	<div class="filter-floating-triggle hidden-phone" style="top:20px; right: 125px;" ng-click="global.back();">
		<i class="fa fa-arrow-left"></i>
	</div>
	<div class="filter-floating-triggle" style="top:20px; right: 60px;" ng-click="create();">
		<i class="fa fa-save"></i>
	</div>
</div>

<div ng-init="gotoCurrentLocation();">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap" class="span10" style="margin-left: 9%;">

			<div class="title-bar-wrap " id="title-bar" style="padding: 50px 0;">
				<div id="title-wrap">
					<div class="title-wrap-inn">
						<div id="main-title">
							<h1 class="main-title" text-transform="uppercase">Nouvel évènement</h1>
						</div>
					</div>
				</div>
			</div>

			<div id="comments">
				<div id="respondwrap">
					<div id="respond" class="comment-respond">
						<form role="form">

							<div class="span6">
								<label for="startsAt">Nom de l'évènement</label>
								<input
								name="title"
								type="text"
								data-ng-model="userEvent.title" style="margin-bottom: 20px;">

								<label for="content">Contenu</label>
								<textarea
								type="text"
								name="content"
								data-ng-model="userEvent.content"
								style="margin-bottom: 20px;">
								</textarea>

								<label for="localisation">Lieu</label>
								<input
								class="localisation"
								name="localisation"
								type="text"
								data-ng-model="search"
								ng-enter="geoCode()"/>
								<input
								class="button localisationButton"
								type="button"
								ng-click="geoCode()"
								ng-disabled="search.length === 0"
								title="search"
								value="GO"/>

								<google-map
								center="map.center"
								zoom="map.zoom"
								draggable="true"
								events="map.events"
								options="map.options"
								control="map.control"
								style="margin-bottom: 20px;">

									<marker
										ng-repeat="m in map.markers"
										coords="m"
										events="m.events"
										options ="m.options"
										icon="'img/icons/pin.png'">
									</marker>

								</google-map>
							</div>

							<div class="span6">
								<label for="startsAt">Début</label>
								<input
								type="text"
								name="startsAt"
								datepicker-popup="{{format}}"
								data-ng-model="userEvent.startsAt"
								is-open="$parent.openedStartDate"
								datepicker-options="dateOptions"
								show-weeks="false"
								show-button-bar="false"
								style="margin-bottom: 20px;"/>

								<label for="endsAt">Fin</label>
								<input
								type="text"
								name="endsAt"
								datepicker-popup="{{format}}"
								data-ng-model="userEvent.endsAt"
								is-open="$parent.openedEndDate"
								datepicker-options="dateOptions"
								show-weeks="false"
								show-button-bar="false"
								style="margin-bottom: 20px;"/>

<!-- 								<label for="repeat">Répéter</label>
								<select
									name="repeat"
									data-ng-model="userEvent.recursOn"
									ng-options="recurseOn.identifier as recurseOn.value for recurseOn in eventRepeater"
									style="margin-top: 10px; width:100%; margin-bottom: 40px;">
								</select> -->

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<cm-page-builder></cm-page-builder>