<div class="agendaContainer expandable-container">
	<div class="comingEvents">
		<h3>A venir</h3>
		<div class="grid__item eventSmall" ng-repeat="event in filteredAgenda = (agenda | filter: isPastEvent) | limitTo:limit">
			<h2 class="ev2page-title ellipsis">
				<a href="#!">{{event.title}}</a>
			</h2>

			<div class="ev2page-tickets">
				<a href="#!">{{ eventTypes | getNameByIdentifier:event.type}}</a>
			</div>
		</div>

		<div class="commingEventEmpty" data-ng-show="filteredAgenda.length === 0">
			<h4>FAR... Y'a rien à faire !!!!</h4>
		</div>

		<hr/>
	</div>

	<div class="calendarContainer">
		<div class="btn-group pull-left">
            <button
              class="btn"
              mwl-date-modifier
              date="calendarDay"
              decrement="calendarView">
              Précédent
            </button>
            <button
              class="btn"
              mwl-date-modifier
              date="calendarDay"
              set-to-today>
              Aujourd'hui
            </button>
            <button
              class="btn"
              mwl-date-modifier
              date="calendarDay"
              increment="calendarView">
              Suivant
            </button>
        </div>

		<div class="btn-group">
			<h2 class="text-center">{{ calendarTitle }}</h2>
		</div>

        <div class="btn-group pull-right">
	        <label class="btn" ng-model="calendarView" btn-radio="'year'">Year</label>
	        <label class="btn" ng-model="calendarView" btn-radio="'month'">Month</label>
	        <label class="btn" ng-model="calendarView" btn-radio="'week'">Week</label>
	        <label class="btn" ng-model="calendarView" btn-radio="'day'">Day</label>
	    </div>

		<mwl-calendar
		view="calendarView"
		current-day="calendarDay"
		events="events"
		view-title="calendarTitle"
		on-event-click="eventClicked(calendarEvent)"
		on-event-drop="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
		edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
		delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
		on-edit-event-click="eventEdited(calendarEvent)"
		on-delete-event-click="eventDeleted(calendarEvent)"
		auto-open="true">
		</mwl-calendar>
	<div>
</div>