<div class="clearfix filters filter-floating">
	<div class="filter-floating-triggle" style="top:20px; right: 0;" ng-click="openCalendar($event);">
		<i class="fa fa-calendar"></i>
	</div>
</div>
<div id="post-1039" class="post type-post status-publish format-standard hentry category-blog">
    <div class="row-fluid two-cols-layout" style="min-height: 100vh;">
        <div id="content_wrap" class="span8">
            <div class="content-wrap-inn bottom-space">
                <div class="container" style="padding:0;">
                    <div class="title-bar-wrap" id="title-bar" style="padding: 50px 0;">
                        <div id="title-wrap">
                            <div class="title-wrap-inn">
                                <div id="main-title">
                                    <h1 class="main-title">Alors maintenant on fait quoi?!</h1>
                                </div>
                                <div class="post-expert">
                                    Mattis scelerisque nisi, in, ac risus montes. Proin, integer est magna lundium odio diam mus, cursus placerat, vut magnis pellentesque dictumst.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagebuilder-wrap">
                	<div class="container" style="padding:0;">
                        <div class="row-fluid">
                            <div class="moudle">
                                <div class="tabs-v">
                                    <ul class="nav nav-tabs nav-tabs-v" style="width: 25%;">
                                        <li class="active" ng-show="filteredAgenda.length === 0">
                                        	<a href="#noevent">
                                        		Aujourd'hui
                                        	</a>
                                        </li>
                                        <li ng-repeat="event in filteredAgenda = (agenda | filter: isComingEvent)" ng-class="{'active': $index === 0}">
                                        	<a href="#{{event._id}}">
                                        		{{event.title}}
                                        	</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content tab-content-v" style="width: 75%; overflow: hidden;">
                                        <div id="noevent" ng-show="filteredAgenda.length === 0" class="tab-pane active">
											<p>
												Aucun évènement à venir
											</p>
                                        </div>
                                        <div id="{{event._id}}" ng-repeat="event in filteredAgenda = (agenda | filter: isComingEvent)" class="tab-pane" ng-class="{'active': $index === 0}">
                                            <div>
                                                <div class="pull-left" style="margin-right: 20px;">
                                                    <div class="date-block">
                                                        <p class="date-block-m">
                                                            {{event.startsAt | date:"MMM"}}
                                                        </p>
                                                        <p class="date-block-big">
                                                            {{event.startsAt | date:"dd"}}
                                                        </p>
                                                        <p class="date-block-y">
                                                            {{event.startsAt | date:"yyyy"}}
                                                        </p>

                                                        <div class="date-block-bg" style="background: #333;">
                                                        </div>
                                                    </div>
                                                </div>
                                                <p class="txt-label" style="margin: 10px 0;">
                                                    <span class="label" style="font-size: 14px;">
                                                        <strong>{{ eventTypes | getNameByIdentifier:event.eventType}}</strong>
                                                    </span>
                                                </p>

                                                <h3 class="ellipsis">{{event.title}}</h3>
    											<p class="postdate txt-label">
    											{{event.startsAt | date:"dd MMM yyyy"}}{{(event.endsAt !==  event.startsAt) ? " - " + getFormattedDate(event.endsAt) : ""}}
    											</p>

                                            </div>

											<p class="three-line-ellipsis" style="margin-top: 10px;">
												{{event.content}}
											</p>

											<div id="google-map" class="google-map" style="border: 10px solid white !important; margin-top: 30px;">
												<google-map
												center="map.center"
												zoom="map.zoom"
												draggable="true"
												dragging="map.dragging"
												bounds="map.bounds"
												events="map.events"
												options="map.options"
												control="map.control">
												<marker
													ng-repeat="m in map.markers"
													icon="'img/icons/pin.png'"
													coords="m"
													animation="google.maps.Animation.DROP"
													click="onMarkerClicked(m);">
												</marker>
												</google-map>
											</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside id="sidebar-widget" class="span4">
            <ul class="sidebar_widget" style="padding-top: 90px;">
                <li id="tag_cloud-2" class="widget-container widget_tag_cloud">
                    <h3 class="widget-title" style="text-transform: uppercase;">
                        évènements passés
                    </h3>
                    <div ng-repeat="event in filteredAgenda = (agenda | filter: isPastEvent) | limitToCustom:10:0" style="margin-bottom: 10px;">
                        <a ng-href="#!/agenda/view/{{event._id}}" title="{{event.title}}">
                            {{event.title}}
                        </a>
                    </div>
                </li>
            </ul>
        </aside>
  	</div>

  	<div class="addButton">
        <div class="float-bar-inn-wrap"></div>
        <a href="#!/agenda/create">
            <div id="float-bar-triggler">
                <i class="float-bar-triggler-inn"></i>
            </div>
        </a>
    </div>
</div>

<cm-page-builder></cm-page-builder>