<div id="post-362" class="post-362 page type-page status-publish hentry">
    <div class="row-fluid" style="min-height: 100vh;">
        <div id="content_wrap" class="">
            <div class="content-wrap-inn bottom-space ">
                <div class="container">
                    <div class="title-bar-wrap" id="title-bar" style="padding: 50px 0;">
                        <div id="title-wrap">
                            <div class="title-wrap-inn">
                                <div id="main-title">
                                    <h1 class="main-title">AGENDA</h1>
                                </div>
                            </div>
                        </div>
                        <!--End #title-wrap-->
                    </div>
                    <!--End #title-bar-wrap"-->
                </div>
                <div class="pagebuilder-wrap">
                	<div class="container">
                        <div class="row-fluid">
                            <div class="span6 moudle">
                            	<div class="btn-group" style="margin-bottom: 30px;">
									<h2 class="uppercase">A venir</h2>
								</div>
                                <div class="tabs-v">
                                    <ul id="myTab-20140404-042436-333"
                                        class="nav nav-tabs nav-tabs-v" style="width: 25%;">
                                        <li class="active">
                                        	<a href="#tabs_20140404-042436-3330">
                                        		Egestas adipiscing
                                        	</a>
                                        </li>
                                        <li class="">
                                        	<a href="#tabs_20140404-042436-3331">
                                        		Magnis
                                        	</a>
                                        </li>
                                        <li class="">
                                        	<a href="#tabs_20140404-042436-3332">
                                        		Scelerisqueet
                                        	</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content tab-content-v" style="width: 75%;">
                                        <div id="tabs_20140404-042436-3330" class="tab-pane active">
                                            <p>Egestas adipiscing purus elementum risus turpis
                                                tincidunt, nascetur a, ultricies lacus nisi platea risus
                                                sed tincidunt adipiscing ultrices tempor. Ac in ridiculus
                                                mid nec vel proin lundium, lacus. Pid phasellus nunc,
                                                integer et dictumst mus, integer vel, elit ultricies et
                                                proin integer pid, penatibus sagittis et egestas! Hac odio
                                                parturient phasellus porta lacus, elementum quis, in
                                                porttitor urna nisi pid mus! Lorem velit. Magnis.
                                                Scelerisque et pulvinar eros tempor, mattis arcu auctor,
                                                hac porttitor facilisis integer sed tristique scelerisque.</p>
                                        </div>
                                        <div id="tabs_20140404-042436-3331" class="tab-pane">
                                            <p>Egestas adipiscing purus elementum risus turpis
                                                tincidunt, nascetur a, ultricies lacus nisi platea risus
                                                sed tincidunt adipiscing ultrices tempor. Ac in ridiculus
                                                mid nec vel proin lundium, lacus. Pid phasellus nunc,
                                                integer et dictumst mus, integer vel, elit ultricies et
                                                proin integer pid, penatibus sagittis et egestas!&nbsp;</p>
                                        </div>
                                        <div id="tabs_20140404-042436-3332" class="tab-pane">
                                            <p>Hac odio parturient phasellus porta lacus, elementum
                                                quis, in porttitor urna nisi pid mus! Lorem velit. Magnis.
                                                Scelerisque et pulvinar eros tempor, mattis arcu auctor,
                                                hac porttitor facilisis integer sed tristique scelerisque.</p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="span6 moudle">
								<!-- <div class="btn-group pull-left monthGroupBtn">
									<input
									type="button"
									class="btn previousMonth"
									mwl-date-modifier
									date="calendarDay"
									decrement="calendarView"
									value="Précédent"/>

									<input
									type="button"
									class="btn todayBtn"
									mwl-date-modifier
									date="calendarDay"
									set-to-today
									value="Aujourd'hui"/>
									<input
									type="button"
									class="btn nextMonth"
									mwl-date-modifier
									date="calendarDay"
									increment="calendarView"
									value="Suivant"/>
								</div> -->
								<div class="btn-group">
									<h2 class="uppercase" style="text-transform: uppercase;">{{ calendarTitle }}</h2>
								</div>
								<!-- <div class="btn-group pull-right">
									<label class="btn" ng-model="calendarView" btn-radio="'year'">Année</label>
									<label class="btn" ng-model="calendarView" btn-radio="'month'">Mois</label>
									<label class="btn" ng-model="calendarView" btn-radio="'week'">Semaine</label>
									<label class="btn" ng-model="calendarView" btn-radio="'day'">Jour</label>
								</div> -->

								<mwl-calendar
								view="calendarView"
								current-day="calendarDay"
								events="agenda"
								view-title="calendarTitle"
								on-event-click="eventClick($event, calendarEvent)"
								on-event-drop="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
								edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
								delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
								on-edit-event-click="eventEdited(calendarEvent)"
								on-delete-event-click="eventDeleted(calendarEvent)"
								auto-open="true">
								</mwl-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  	</div>
  	<div class="hidden-phone addButton">
        <div class="float-bar-inn-wrap">
        </div>
        <a href="#!/agenda/create">
            <div id="float-bar-triggler">
                <i class="float-bar-triggler-inn"></i>
            </div>
        </a>
    </div>
</div>
<cm-page-builder></cm-page-builder>