<h1 style="margin-left:15px; padding-left:0;">
	<i class="fa fa-dot-circle-o"></i>
	Agenda
	<a href="#!/agenda/create" class="pull-right" style="color: lightgray;">
		<i class="fa fa-plus-circle"></i>
	</a>
	<a href="#!/agenda" class="pull-right" style="color: lightgray; margin-right: 10px;">
	 	<i class="fa fa-calendar-o"></i>
	</a>
</h1>
<hr style="margin-left:15px; padding-left:0;">

<section data-ng-controller="mapController" data-ng-init="load()">
	<div class="container col-md-12">
		<!-- <div data-ng-include="'/js/agenda/views/subnav.html'"></div> -->

		<!-- Map -->
		<div class="col-md-12" style="padding: 0; ">
			<google-map
			ng-if="view === 'map'"
			center="map.center"
			zoom="map.zoom"
			draggable="true"
			dragging="map.dragging"
			bounds="map.bounds"
			events="map.events"
			options="map.options"
			control="map.control">

				<marker ng-repeat="m in map.markers" coords="m" click="onMarkerClicked(m);">
					<window isIconVisibleOnClick="true" show="m.showWindow">
						<p>{{ m.title }}</p>
						<p>{{ m.content }}</p>
					</window>
				</marker>
			</google-map>
		</div>
	</div>
</section>
