<section class="rightcontainer">

    <!-- TITLE -->
    <div class="subtitle maintitle">
        <h1>Map</h1>
    </div>

    <!-- GOOGLE MAP -->
	<div id="google-map" class="flex-video google-map">

		<google-map
		center="map.center"
		zoom="map.zoom"
		draggable="true"
		dragging="map.dragging"
		bounds="map.bounds"
		events="map.events"
		options="map.options"
		control="map.control">

			<marker
			ng-repeat="m in map.markers"
			icon="'img/icons/pin.png'"
			coords="m"
			animation="google.maps.Animation.DROP"
			click="onMarkerClicked(m);">

				<window isIconVisibleOnClick="true" show="m.showWindow">
					<div>
						<div style="display: inline-block;">
							<p style="text-align: center">{{m.title}}</p>
							<p style="display: inline-block; vertical-align: top;">{{m.content}}</p>
						</div>
					</div>
				</window>

			</marker>
		</google-map>
	</div>
</section>