<section class="controls no-select">
	<div class="tControls">

		<div class="top">
			<a href="#!home">
				<img src="img/Home_sketch_64.png" class="imgMenu"/>
			</a>
		</div>

		<div class="middle">
			<a href="#!articles/create">
				<img src="img/Draw_Adding_Cross_64.png" class="imgMenu"/>
			</a>
			<a href="#!" ng-click="setPreviousArticle($event);">
				<img src="img/Sketched_up_arrow_triangle_64.png" class="imgMenu" />
			</a>
			<a href="#!" ng-click="setNextArticle($event);" >
				<img src="img/Sketched_down_arrow_triangle_64.png" class="imgMenu"/>
			</a>
		</div>

		<div class="bottom">
		</div>

	</div>
</section>