<div data-ng-include="'/js/agenda/views/subnav.html'"></div>

<div id="search">
	<span class="input input--makiko">
	<input class="input__field input__field--makiko" type="text" data-ng-class="{'searchFocus': obj.searchTitle}" data-ng-model="obj.searchTitle" name="search"/>
	<label class="input__label input__label--makiko" for="search">
		<span class="input__label-content input__label-content--makiko">Rechercher</span>
	</label>
	</span>
</div>
<section class="grid">

	<div class="grid__item	 agenda_item" ng-repeat="event in events | filter: nameFilter">
		<h2 class="ev2page-title three-line-ellipsis"><a href="#!">{{event.title}}</a></h2>
		<div class="ev2page-data">
			<div class="ev2page-day">{{event.start | date:"dd"}}</div>
			<div class="ev2page-month">{{event.start | date:"MMM"}}</div>
			<div class="ev2page-year">{{event.start | date:"yyyy"}}</div>
		</div>
		<div class="ev2page-cover">
			<div class="wz-wrap wz-hover">
				<img ng-src="{{event.image && event.image || 'img/400x300beer.jpg'}}" alt="" scale="0" class="meta__avatar">
				<div class="he-view">
					<div class="bg a1 meta__avatar" data-animate="fadeIn">
					</div>
				</div>
			</div>
		</div>
		<div class="ev2page-week">{{event.start | date:"EEEE"}}</div>
		<div class="ev2page-tickets"><a href="#!">{{ eventTypes | getNameByIdentifier:event.type}}</a></div>
	</div>
</section>
<section class="content">
	<div class="scroll-wrap">
		<article class="content__item" ng-repeat="event in events | filter: nameFilter">
			<span class="category category--full">{{ eventTypes | getNameByIdentifier:event.type}}</span>
			<h2 class="title title--preview">{{event.title}}</h2>
			<div class="ev2page-data" style="margin-left: 50px;">
				<div class="ev2page-day">{{event.start | date:"dd"}}</div>
				<div class="ev2page-month">{{event.start | date:"MMM"}}</div>
				<div class="ev2page-year">{{event.start | date:"yyyy"}}</div>
			</div>
			<div class="meta meta--full">
				<img ng-src="{{event.image && event.image || 'img/400x300beer.jpg'}}" alt="" class="meta__avatar">
				<span class="meta__author">{{event.user.name}}</span>
			</div>
			<p>
			{{event.content}}
			</p>
		</article>
		<button class="close-button">
		<span class="closebutton"></span>
		</button>
	</div>
</section>