<div class="post type-post status-publish format-standard hentry category-blog pageContent">
	<div class="row-fluid two-cols-layout" style="min-height: 100vh;">
		<div id="content_wrap">
			<div class="content-wrap-inn">
				<div class="pagebuilder-wrap">
					<div class="container suggestionCreationContainer">
						<div class="title-bar-wrap " id="title-bar" style="padding: 50px 0 0; max-height: 280px;">
							<div id="title-wrap">
								<div class="title-wrap-inn">
									<div id="main-title" style="text-align: center;">
										<h1 class="main-title" style="text-transform: uppercase;">
											{{ userEvent.title }}
										</h1>
										<div class="post-meta" style="font-size: initial;cursor: pointer;" ng-click="showUserDetail($event, userEvent.user);">
											<img class="img-circle" ng-src="{{ userEvent.user.avatar }}?dim100x100 || 'img/Professor.png'" alt="{{ userEvent.user.username }}" style="width: 50px; height: 50px; border-radius: 2px;"/>
											<p style="display: inline-block;">
												par
												<b style="text-transform: uppercase;">
													{{ userEvent.user.username }},
												</b>
												<span>
													le {{ userEvent.created | date:"dd MMM yyyy" }}
												</span>
											</p>
											<span class="post-meta-unit tag">
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="three-line-ellipsis" style="font-size: 20px; margin: 30px 0;">
							{{ userEvent.content }}
						</div>
						<div class="ev2page-tickets" style="margin-top: 30px; text-align: center; padding-top: 20px;">
							<a class="igo" href="#!" ng-click="addMeToEvent($event, userEvent);">
								Je viens
							</a>
							<a class="igoNot" href="#!" ng-click="notAddMeToEvent($event, userEvent);">
								Je peux pas
							</a>
						</div>
						<div id="google-map" class="google-map google-map-agenda" style="padding: 0; margin: 30px 0;">
							<google-map center="map.center" zoom="map.zoom" draggable="true" dragging="map.dragging" bounds="map.bounds" events="map.events" options="map.options" control="map.control">
								<marker icon="'img/icons/pin.png'" coords="marker" animation="google.maps.Animation.DROP">
								</marker>
							</google-map>
						</div>
						<cm-comments update-method="updateMethod();" object="userEvent">
						</cm-comments>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
