<section data-ng-controller="ProfileController" data-ng-init="load()">

	<!-- avatar column -->
	<div class="col-md-2 avatar-box" style="display: table;">
		<div style="display: table-cell; vertical-align:middle;">
			<div class="personal-image">
				<div class="site-avatar">
					<a href="#!">
						<img
						ng-src="{{user.avatar || 'img/avatar.png'}}"
						class="profile avatar-224 photo"
						height="224"
						width="224">
					</a>
				</div>
				<div style="text-align: center;">
					<button class="btn btn-default">
						<label for="upload-profile-picture" class="label-upload-profile-picture">
							<div class="ellipsis" style="width: 150px;">
								{{'photos_upload' | translate}}
							</div>
							<input  id="upload-profile-picture"
							nv-file-select
							uploader="uploader"
							type="file"
							class="manual-file-chooser js-manual-file-chooser js-avatar-field"/>
						</label>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9 well" style="margin-bottom: 20px; padding: 0; ">
		<form id="profileForm" class="form-horizontal" role="form" data-ng-submit="update()" style="min-height: 75%">
			<tabset justified="true">

				<tab heading="Infos">
					<div style="padding: 10px;">
						<div class="form-group">
							<label class="col-md-4 control-label">{{'profile_firstname' | translate}}</label>
							<div class="col-md-8">
								<input class="form-control" type="text" data-ng-model="user.name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{'profile_lastname' | translate}}</label>
							<div class="col-md-8">
								<input class="form-control" type="text" data-ng-model="user.lastname">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{'profile_email' | translate}}</label>
							<div class="col-md-8">
								<input class="form-control" type="text" data-ng-model="user.email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{'profile_username' | translate}}</label>
							<div class="col-md-8">
								<input class="form-control" type="text" data-ng-model="user.username">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{'profile_password' | translate}}</label>
							<div class="col-md-8">
								<input class="form-control" type="password" data-ng-model="heyhey">
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">{{'profile_confirm' | translate}}</label>
							<div class="col-md-8">
								<input class="form-control" type="password" data-ng-model="heyhey">
							</div>
						</div>
						<div class="actions" style="text-align:right; padding: 20px 0 0 0;">
							<input type="submit" class="btn btn-default" value="Enregistrer les modifs">
						</div>
					</div>
				</tab>

				<tab heading="Skills">
					<div style="padding: 10px;">

						<div class="form-group" data-ng-repeat="skill in user.skills">
							<label class="col-md-4 control-label">{{skill.name}}</label>
							<div class="col-md-8" style="text-align: right;">
								<rating value="skill.value"
								max="max"
								readonly="false"
								on-hover="hoveringOver(value); updateSkill(skill);"
								on-leave="updateSkill(skill);">
								</rating>
								<span   class="label"
								ng-class=" {'label-warning': skill.percent<30,
								'label-info': skill.percent>=30 && skill.percent<70,
								'label-success': skill.percent>=70}">
									{{skill.percent}}%
								</span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<p class="input-group">
									<input  type="text"
									class="form-control"
									placeholder="Ajouter une compétence"
									data-ng-model="skillName"/>
									<span class="input-group-btn">
										<button class="btn btn-primary"
										type="button"
										data-ng-click="addSkill();"
										title="Ajouter une compétence">
											<i class="glyphicon glyphicon-star"></i>
										</button>
									</span>
								</p>
							</div>
						</div>

						<div class="actions" style="text-align:right; padding: 20px 0 0 0;">
							<input type="submit" class="btn btn-default" value="Enregistrer les modifs">
						</div>

					</div>
				</tab>
			</tabset>
		</form>
	</div>
</section>