<div class="pageContent">
	<div class="row-fluid two-cols-layout">
		<div id="content_wrap">
			<div class="content-wrap-inn">
				<div class="pagebuilder-wrap">
					<div class="container parameterContainer">
						<div id="comments">
							<div id="respondwrap">
								<div id="respond" class="comment-respond">
									<form role="form">
										<div class="span12" style="margin-left: 0; margin-bottom: 60px;">
											<h4 class="widget-title" style="margin: 10px 0 30px 0;">
												Choisis déjà ton vainqueur final
											</h4>
											<a href="#!" ng-repeat="team in teams" ng-class="{'active' : global.user.favoriteEuroTeam === team.code}" ng-click="selectTeam($event, team);" class="teamItem">
												{{ team.name }}
											</a>
										</div>
										<div class="span12" style="margin-left: 0; margin-bottom: 60px;">
											<h4 class="widget-title" style="margin: 10px 0 30px 0;">
												La liste des matchs
											</h4>
											<div ng-repeat="match in matchs" class="matchList">
												<div class="matchItem">
													<span class="span2">
														{{ match.startsAt | date:"dd MMM yyyy, à HH:mm" }}
													</span>
													<span class="span2">
														Group {{ match.type }}
													</span>
													<span class="span4 matchRow" style="text-align:center;">
														{{ getTeamName(match.home) }} : {{ getTeamName(match.away) }}
													</span>
													<span class="span4">
														<input id="{{match._id}}_home" type="number" min="0" placeholder="Score 1" style="width: 45%;     text-align: center;" ng-value="getBet(match).homeScore"/>
														:
														<input id="{{match._id}}_away" type="number" min="0" placeholder="Score 2" style="width: 45%;     text-align: center;" ng-value="getBet(match).awayScore"/>
														<input ng-click="updateBet($event, match);" type="button" ng-value="(getBet(match).empty) ? 'Parier' :'Changer le pari'"
														ng-class="{'toBet': getBet(match).empty}"/>
													</span>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
