<div class="pageContent">
	<div class="row-fluid two-cols-layout">
		<div id="content_wrap">
			<div class="content-wrap-inn">
				<div class="pagebuilder-wrap">
					<div class="container parameterContainer">
						<div id="respond" class="comment-respond">
							<form role="form">
								<div class="col-md-12 col-sm-6 col-xs-12" style="margin-left: 0; padding-left:0; text-align: center;">
									<h4 style="background: #eee; margin-bottom: 40px;" ng-if="global.user.isEuroAdmin">
										On dirait que c'est à toi qu'est confiée la lourde tâche de rentrer les scores?!
										<a href="#!/euro/admin">
											C'est par là :)
										</a>
									</h4>
									<a href="#" ng-click="showPointsRulesPopUp($event);" style="    text-decoration: underline;">
										<h4 class="widget-title" style="margin: 10px 0 30px 0; color: #2196F3;">
											Rappel des règles ici
										</h4>
									</a>
								</div>
								<div class="col-md-12" style="text-align:center;">
									<div class="span12 bottom-space-60">
										<div class="isotope masonry" data-size="large" data-width="width2" style="margin: -20px 0px 0px -20px;">
											<div class="width2 isotope-item hover-effect" ng-repeat="user in team | limitTo: 3">
												<div class="inside ranking" style="padding: 20px;" data-count="{{ $index + 1 }}">
													<div class="profile-card user-card card item_des">
														<div class="banner">
															<img src="img/logo-euro-2016-france-Rogne1.jpg"/>
														</div>
														<div class="user-image">
															<img ng-src="{{ user.avatar && user.avatar + '?dim=100x100' || 'img/Professor.png' }}" style="background: white;"/>
														</div>
														<header>
															<h1 style="color: black;">
																{{ user.euroPoints || 0 }} pts
															</h1>
															<p style="font-size: 20px; font-weight: 500">
																{{ user.username }}
															</p>
														</header>
													</div>
												</div>
											</div>
										</div>
									</div>
									<a href="#!/users" style="font-size: 20px; margin-bottom: 30px;display:block;">
										Voir le classement complet
									</a>
								</div>
								<div class="col-md-12 col-sm-6 col-xs-12 bottom-space-60" style="margin-left: 0; padding: 0;">
									<h4 class="widget-title" style="margin: 10px 0 30px 0;">
										Ton vainqueur final:
									</h4>
									<a href="#!" class="teamItem active">
										{{ getTeamName(global.user.favoriteEuroTeam) }}
									</a>
									<a href="#!" ng-if="!global.user.favoriteEuroTeam" class="teamItem active">
										Trop tard
									</a>
								</div>
								<div class="span12 bottom-space-60" style="margin-left: 0; margin-top: 20px;">
									<h4 class="widget-title" style="margin: 10px 0 30px 0;">
										Les paris
									</h4>
									<div class="widget-title" style="margin: 10px 0 30px 0; font-size: medium; cursor: pointer;" ng-click="showOldMatch();">
										Afficher les anciens matchs
									</div>
									<div class="isotope masonry" data-size="large" data-width="width2" style="margin: -20px 0px 0px -20px;">
										<div class="width2 isotope-item hover-effect" ng-repeat="match in matchs" ng-show="match.type === 'FINALE' || showMatch">
											<div class="inside item_des" style="margin:20px; padding: 20px;" ng-class="{'hadBetContainer': !getBet(match).empty}">
												<div style="font-size: large; font-weight: 600;">
													{{ match.startsAt | date:"dd MMM yyyy, à HH:mm" }}
												</div>
												<div ng-if="match.type !== 'R16' && match.type !== 'QF' && match.type !== 'SF' && match.type !== 'FINALE'" style="font-size: large; font-weight: 400;">
													Group {{ match.type }}
												</div>
												<div ng-if="match.type === 'R16'" style="font-size: large; font-weight: 400;">
													Huitièmes de finale
												</div>
												<div ng-if="match.type === 'QF'" style="font-size: large; font-weight: 400;">
													Quart de finale
												</div>
												<div ng-if="match.type === 'SF'" style="font-size: large; font-weight: 400;">
													Demi-finale
												</div>
												<div ng-if="match.type === 'FINALE'" style="font-size: large; font-weight: 400;">
													Finale
												</div>
												<div class="matchRow" style="text-align:center; margin-top: 20px;">
													<div>
														<span style="width: 49%;    display: inline-block;">
															<img ng-src="img/euro/{{ match.home }}.png"/>
														</span>
														<span style="width: 49%;    display: inline-block;">
															<img ng-src="img/euro/{{ match.away }}.png"/>
														</span>
													</div>
													<div style="margin-top: 10px;">
														<span style="width: 49%;    display: inline-block;">
															{{ getTeamName(match.home) }}
														</span>
														<span style="width: 49%;    display: inline-block;">
															{{ getTeamName(match.away) }}
														</span>
													</div>
												</div>
												<div style="text-align:center; margin-top: 20px;">
													<input id="{{ match._id }}_home" type="number" min="0" placeholder="Score 1" style="width: 49%;text-align: center;" ng-value="getBet(match).homeScore" ng-disabled="!isBetAuthorize(match)"/>
													<input id="{{ match._id }}_away" type="number" min="0" placeholder="Score 2" style="width: 49%;text-align: center;" ng-value="getBet(match).awayScore" ng-disabled="!isBetAuthorize(match)"/>
													<input ng-click="updateBet($event, match);" type="button" ng-value="(getBet(match).empty) ? 'Parier' :'Changer le pari'" ng-class="{'toBet': getBet(match).empty}" ng-if="isBetAuthorize(match)"/>
													<a ng-href="#!/euro/view/{{ match._id }}" ng-if="hasResults(match)">
														Voir le résultat
													</a>
													<div ng-if="!isBetAuthorize(match) && !hasResults(match)">
														En attente des résultats
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<cm-isotope>
</cm-isotope>
