<div class="site-loading-logo centered-ux" style="margin: 50px 0 120px 0; text-align: center; color: #757575;">
	LES COQS SOCCER
</div>
<div class='login'>
	<input type="button" ng-click="showLogin();" ng-if="errorMessage" value="Retour au formulaire" style="text-align: center; margin: 20px 80px; background: #757575;">
	</input>

	<div class='login_inner'>
	  	<form class="formSignin" name="form" action="users/session" method="POST">
	   		<div class='login_inner__avatar'>
	   			<img src="img/coq.png">
	   		</div>
			<input ng-model='email' name="email" placeholder='Email' type='email' style="border-radius: 2px 2px 0 0;">
			<input ng-model='password' name="password" placeholder='Mot de passe' type='password' style="border-radius: 0 0 2px 2px;">
			<input type='submit' value='Connexion'>
	  	</form>
	</div>
</div>