<section data-ng-controller="ArticlesController">
    <h2>{{items.selected.title}}</h2>
    <div>{{items.selected.content}}</div>
    <div data-ng-show="global.user._id == items.selected.user._id">
        <a class="btn" ng-click="items.showEditionForm()" style="padding-left: 0;">
        	<i class="glyphicon glyphicon-edit"></i>
        </a> 
        <div id="modal" ng-controller="Modal" style="display: inline-block;">
            <a class="btn" data-ng-click="open('articles/delete.html', 'ArticlesDeleteController')">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
</section>
