<section>
     <div class="row-fluid">
        <div class="col-md-2">
            <img src="img/news-icon.png" style="height: 80px; width: 80px; vertical-zlign: middle;"></img>
        </div>
        <div class="col-md-8" style="margin-bottom: 10px;">
            <h2>{{selected.title}}</h2>
            <span class="author">{{selected.user.name}}</span> - le <span class="pub-name">{{selected.created | date:dateFormat}}</span>
        </div>
        <div class="clear"></div>
        <hr/>
        <h2>{{selected.title}}</h2>
        <div>{{selected.content}}</div>
        <div data-ng-show="global.user._id == selected.user._id">
            <a class="btn" ng-click="showEditionForm()" style="padding-left: 0;">
            	<i class="glyphicon glyphicon-edit"></i>
            </a> 
            <div id="modal" ng-controller="Modal" style="display: inline-block;">
                <a class="btn" data-ng-click="open('modal.html', 'Articles', 'Etes vous sure...', remove)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
    </div>
</section>
