/****

Articles

*****/

[ng-cloak] {
  display: none;
}

body ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .05);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
body ::-webkit-scrollbar-corner {
  background: transparent;
}

html {
  height: 100%;
}

.articleCell{
	width: 135px;
  	z-index: 9;
}

.articleCellDetail {
  margin-top: 10px;
}

.articleCellDetail p{
  text-align: left;
}

.articleContent{
	display: inline-block;
	padding-bottom: 30px;
  margin-top: 30px;
}

.imageAction{
	float: left;
	padding-top: 15px;
  width: 40px;
	cursor: pointer;
}

.avatarArticleParent{
  width: 100%;
  text-align: center;
}

.avatarArticle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 40px;
}

.articleImage{
	margin: 1em auto;
  width: 100%;
  height: 200px;
  position: absolute;
  left: 20px;
  top: -10px;
  opacity: 0.4;
  z-index: -5;
}

.articleItem{
  padding: 20px;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  display: inline-block;
  margin-bottom: 20px;
}

.articleItem:not(.active){
  opacity: 0.3;
}

.articleItem *{
  opacity: 1 !important;
}

.articleItem:not(.active) .arrow{
  display: none;
}

.articleItem.active .arrow {
  width: 14px;
  height: 28px;
  overflow: hidden;
  position: absolute;
  left: -14px;
  top: 50%;
  margin-top: -14px;
}

.articleItem.active .arrow:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.15),1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.15),1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15),1px 1px 0 rgba(0,0,0,0.1);
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #f5f5f5;
  top: 7px;
  right: -7px;
}

.navbar .navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar .container {
  width: 100%;
}

.itemCount {
  width: 90px;
  text-align: center;
}

section.mainContent {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  box-sizing: border-box;
}

section.controls{
  	height: 100%;
}

.subview{
	height: 100%;
}

div.tooltip, div.tooltip div{
	height: inherit !important;
}

.controls {
  box-sizing: border-box;
  width: 75px;
  height: 100%;
  padding: 5px;
  margin: 0;
  background-color: #1e2226;
}

.controls .btn {
  width: 65px;
  height: 65px;
  margin-top: 5px;
}

.imgMenu{
  width: 50px;
  height: 50px;
}

.imgMenu:hover, .imageAction:hover{
  transform: scale(1.1);
}

.tControls {
  display: table;
  height: 100%;
}

.controls div.top {
  margin-top:15px;
  min-height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: top;
}

.controls div.middle {
  text-align: center;
  min-height: 185px;
  display: table-cell;
  vertical-align: middle;
}

.controls div.bottom {
  text-align: center;
  min-height: 50px;
  display: table-cell;
  vertical-align: bottom;
}

.summaries {
  box-sizing: border-box;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(35% - 35px);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: absolute;
  bottom:0;
  left: calc(65% + 35px);
  right:0;
  top:0;
}

.summary {
  color: #222;
  width: 100%;
}

.summary.read {
  opacity: 0.6;
}

.summary.active {
  background-color: #f5f5f5;
  opacity: 1.0;
}

.summary .pub-name {
  font-size: 0.9em;
}
.summary .pub-date {
  font-size: 0.9em;
  text-align: right;
}

.entries {
  position: absolute;
  bottom:0;
  left: 75px;
  right:0;
  top:0;
  width: calc(65% - 40px);
  padding: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.entry {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
}

.entry h1{
  font-size: xx-large;
  padding-top: 30px;
  margin-right: 80px;
}

.entry.active {
  border: 0px solid #222;
  text-align: center;
}

.entry .pub-date {
  font-size: 0.9em;
}
.entry .actions {
  text-align: right;
}

.entry .post-content img {
  margin: 5px;
}

.entry .actions div, .entry .actions label {
  display: inline;
}

.entry .actions input[type=checkbox] {
  -webkit-appearance: none;
  -webkit-box-shadow: transparent;
  border: 0;
  display: inline-block;
  font-size: 15px;
  line-height: 1em;
  margin: 0 0.25em 0 0;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  -webkit-border-radius: 0.25em;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
 }

.entry .actions input[type=checkbox].star {
  background-position: -144px 0;
}

.entry .actions input[type=checkbox].star:checked {
  background-position: -120px 0;
}

.entry .actions input[type=checkbox].read {
  background-position: -192px -96px;
}

.entry .actions input[type=checkbox].read:checked {
  background-position: -72px -96px
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Search */

#search {
  width: 100%;
  margin-bottom: -20px;
}

.input--makiko {
  overflow: hidden;
  background: gray;
  margin-bottom: 2em;
}
.input__field--makiko {
  width: 100%;
  background: transparent;
  color: #797693;
  z-index: 10;
  font-weight: 500;
  line-height: 2em;
}
.input__label--makiko {
  position: absolute;
  width: 100%;
  text-align: left;
  pointer-events: none;
  color: #fff;
}
.input__label--makiko::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 25px;
  top: 40%;
  left: 10px;
  background: url(../img/search.svg) no-repeat center center;
  background-size: 100%;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.input__label-content--makiko {
  display: block;
  padding: 1.1em 0 0 2.75em;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.input__field--makiko:focus + .input__label--makiko::before, .input__field--makiko.searchFocus + .input__label--makiko::before, .input--filled .input__label--makiko::before, .input--filled .input__label--makiko::before {
  -webkit-transform: scale3d(38, 38, 1);
  transform: scale3d(38, 38, 1);
}
.input__field--makiko:focus, .input__field--makiko.searchFocus {
  border: 1px solid #1e2226;
}

/***
*
*CREATE
*
***/

