html, body {
	height: 100%;
}
body {
	opacity: 1;
	background-size: cover;
	/*background: #3fcbba;*/
}

div, p, a, select{
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/****

Animate view

*****/

.view-animate.ng-enter {
	opacity: .5;
	top: 100%;
}
.view-animate.ng-enter, .view-animate.ng-leave {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
	webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}
.view-animate.ng-enter.ng-enter-active {
	opacity: 1;
	top: 0;
}
.view-animate.ng-leave.ng-leave-active {
	opacity: 0;
	top: -100%;
}
.view-animate-container {
	min-height: 100%;
	position: relative;
}
/*

Bootstrap override

*/

.hidden-xs, .hidden-sm {
	display: inline-block!important;
}
@media screen and (min-width: 768px) {
	.navbar-nav {
		float: inherit;
}
}
.btn-cm{
	background: #eee;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #262626;
	text-decoration: none;
	background-color: rgba(245, 245, 245, 0.5);
}
.nav-tabs.nav-justified>li>a {
	margin-right: -1px;
	border-radius: 4px;
}
#content {
	z-index: 2;
	float: inherit;
}
.slim-view {
	max-width: 350px;
	margin: 15px auto;
}
.mainContent {
	margin-top: 20px;
}
.full-content {
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#main {
	min-height: 100%;
	overflow: hidden;
}
.avatar {
	width: 40px;
	float: left;
	margin-right: 5px;
}
.avatar > img {
	width: 40px;
	height: 40px;
	border: 1px solid #F8F8F8;
}
.user-mini > span {
	display: block;
	font-size: 12px;
	color: #363636;
	margin-bottom: -4px;
}
.user-mini > span.welcome {
	font-weight: bold;
	margin-top: 2px;
}
.well {
	padding: 15px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	min-height: inherit;
	padding-top: 0;
}
.form-horizontal .control-label {
	padding-top: 4px;
}
.input-group-addon {
	padding: 0px 6px;
}
.form-group .form-control, .form-group .input-group {
	margin-bottom: 5px;
}
.input-group .form-control {
	margin: 0;
}
.page-feed .avatar {
	width: 60px;
	float: left;
	margin: 10px 15px;
	text-align: center;
	overflow: hidden;
}
.page-feed .avatar img {
	width: 60px;
	height: 60px;
	border: 1px solid #F8F8F8;
}
.edit-profile-avatar .manual-file-chooser {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 146px;
	height: 34px;
	margin-left: 0;
	padding: 0;
	cursor: pointer;
}
.edit-profile-avatar .button.button-change-profile-picture .label-upload-profile-picture {
	display: block;
	margin: 0;
	padding: 0;
}
.manual-file-chooser {
	position: absolute;
	width: 240px;
	margin-left: -50px;
	margin-top: -25px;
	padding: 5px;
	opacity: .0001;
}
.imgThumbnail {
	vertical-align: middle;
	margin-right: 20px;
	border-radius: 5px;
	vertical-align: bottom;
	width: 165px;
	height: 130px;
}
.imgThumbnail>img {
	vertical-align: middle;
	border-radius: 5px;
	vertical-align: bottom;
	width: 165px;
	height: 153px;
}
.my-drop-zone {
	border: dotted 3px lightgray;
}
.form-horizontal .control-label {
	text-align: left;
}
/****

Navbar

*****/

.navbar {
	margin: 0;
	border: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	z-index: 2;
}
#cms-sidebar-nav {
	position: fixed;
	width: 25%;
	left: 0;
	padding-top: 176px;
	height: 100%;
	/*background: url('../img/mochaGrunge.png');*/
	background-color: rgb(4, 189, 242);
}
#content h1, #cms-sidebar-nav-list span {
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin-left: 15px;
}
#cms-sidebar-nav-list li {
	margin-top: 15px;
}
a.sidebarItem {
	text-align: left;
	padding: 1.2rem;
	text-transform: uppercase;
	font-size: large;
	font-weight: 200;
}
.nav {
	padding: 0px;
	margin: 0 0 10px 0;
	position: relative;
}
.nav li {
	display: block;
}
.nav li a {
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.nav:hover li a {
	text-shadow: 0px 0px 6px #fff;
}
.nav li a:hover, .nav li a:focus {
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
	background: none;
}
.nav li.active a {
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
	background: none;
}
.nav li.active a.hidden {
	text-shadow: none;
}
.navbar-default .filter {
	height: 50px;
}
.nav li a img {
	height: 40px;
}
.nav li:not(.active) a img {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}
.nav li:not(.active) a:focus img, .nav li:not(.active) a:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}
.picto-circle {
	position: absolute;
	left: 5px;
	top: 0;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	/*border: 2px dashed #FFF;*/
	display: block;
	margin: 0 auto;
	opacity: 0.5;
}
.nav li a:hover .picto-circle, .nav li a:focus .picto-circle, .nav li.active a .picto-circle {
	left: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	opacity: 1;
}
.nav li.active .picto-circle {
	-webkit-animation: rotating 20s linear infinite;
	-moz-animation: rotating 20s linear infinite;
	-o-animation: rotating 20s linear infinite;
	animation: rotating 20s linear infinite;
	opacity: 1;
}
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
.subnav {
	margin-bottom: 20px;
}
.navbar-default {
	background-color: transparent;
}
#subnav {
	padding: 0;
	padding-top: 15px;
}

#subnav li.active a{
	width: 190px;
  	height: 71px;
	background: url('../img/bg-tab.png') no-repeat;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	font-size: 22px;
	line-height: 60px;
	font-weight: 700;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
#subnav li:hover a {

}
#subnav li a {
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
#search {
	display: inline-block;
	background: url(../img/leftlinks.png) no-repeat;
	background-position: 80% -50px;

}

/****

FallingLamp

*****/

canvas {
	display: block;
	width: 100%;
	height: 200px;
	z-index: 5;
	background: none;
}
@font-face {
	font-family: "aaaiight";
	font-weight: bold;
	src: url('../fonts/aaaiight.ttf');
}
@font-face {
	font-family: "rispaBold";
	font-weight: bold;
	src: url('../fonts/Rispa-Bold.otf');
}
@font-face {
	font-family: "WC Mano Negra";
	font-weight: bold;
	src: url('../fonts/wcmanonegrabta-webfont.woff');
}
/****


*****/

.profile, .site-header .site-avatar img {
	border-radius: 50%;
	display: block;
	float: none;
	height: 112px;
	margin: 0 auto 24px;
	margin: 0 auto 2.4rem;
	width: 112px;
}
.profile {
	margin-top: 10px;
	border: none;
}
a.close-link {
	color: #ff5b57 !important;
}
a.collapse-link {
	color: #f59c1a !important;
}
.nav-tabs.nav-justified a {
	color: white !important;
	background: rgba(0, 0, 0, 0.5) !important;
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	border-color: rgba(0, 0, 0, 0.5) !important;
}
.nav-tabs.nav-justified a:hover:not(.active) {
	background: rgba(0, 0, 0, 0.7) !important;
	color: white !important;
}
.nav-tabs.nav-justified>.active>a {
	background: transparent !important;
	color: #242a30 !important;
	border: 0 !important;
}
.nav-tabs.nav-justified>.active>a:hover {
	background: transparent !important;
	color: #242a30 !important;
}
.nav-tabs.nav-justified a, .nav-tabs.nav-justified a:hover, .nav-tabs.nav-justified a:focus {
	border-radius: 0 !important;
	border: 0 !important;
}
textarea {
	min-height: 150px;
}
.modal-dialog {
	margin-top: 80px;
}
.right {
	text-align: right;
}
.login-box {
	position: fixed;
	top: 80px;
	left: 50%;
	margin-left: -250px;
	width: 500px;
}
.login-container {
	background-color: aliceblue;
}
.alert {
	border: 1px solid black;
}
a {
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
table.table-striped td {
	vertical-align: middle !important;
}
.datepicker ul {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.datepicker ul .btn-info {
	background-color: steelblue !important;
}
.ellipsis {
	overflow: hidden;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 0;
}
/****

Suggestions : post-it;

*****/

ul.suggestionList, li {
	text-align: center;
}
ul.suggestionList, li {
	list-style: none;
}
ul.suggestionList li a {
	text-decoration: none;
	color: #000;
	background: rgb(4, 189, 242);
	display: block;
	height: 10em;
	width: 10em;
	padding: 1em;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
}
ul.suggestionList li {
	margin: 1em;
	display: inline-block;
}
ul.suggestionList li h2 {
	font-size: 140%;
	font-weight: bold;
	padding-bottom: 10px;
}
ul.suggestionList li p {
	font-family: "Reenie Beanie", arial, sans-serif;
	font-size: 180%;
	word-wrap: break-word;
}
ul.suggestionList li a {
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
}
ul.suggestionList li:nth-child(even) a {
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	top: 5px;
	background: #eee;
}
ul.suggestionList li:nth-child(3n) a {
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	position: relative;
	top: -5px;
	background: rgb(4, 189, 242);
}
ul.suggestionList li:nth-child(5n) a {
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	top: -10px;
}
ul.suggestionList li a:hover, ul.suggestionList li a:focus {
	box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position: relative;
	z-index: 5;
}
.suggestionList {
	padding-top: 0;
}
.suggestionItem h4 {
	font-size: medium;
	/*padding: 5px;*/
	margin: 0;
	font-family: "Reenie Beanie";
}
.three-line-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/****

Map

*****/

/*#mapBorder {
	position: absolute;
	top: 0;
	left: 0;
	height: 440px;
	width: 800px;
	background: url('../../img/map_mask.png') no-repeat;
	background-size: 100%;
	pointer-events: none;
}*/

.mapContainer div {
	background: none;
}
.angular-google-map-container {
	height: 500px;
	width: 100%;
	margin-bottom: 30px;
}

/****

Articles

*****/

.close-button {
	opacity: 1;
	top: 52px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: opacity .3s ease-out .3s, -webkit-transform .3s, top 0;
	transition: opacity .3s ease-out .3s, transform .3s, top 0s;
	margin: 0 auto;
	z-index: 30;
}
.closebutton {
	border-radius: 38px;
	height: 38px;
	width: 38px;
	border: 1px solid #afafaf;
	right: 20px;
	top: 15px;
	position: absolute;
	text-decoration: none;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: border .3s, box-shadow .3s, -webkit-transform .3s;
	transition: border .3s, box-shadow .3s, transform .3s;
}
.closebutton:hover {
	border: 1px solid transparent;
	box-shadow: 0 0 0 4px #e1e1e1;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	border-radius: 38px;
	height: 38px;
	width: 38px;
}
.closebutton:after {
	height: 36px;
	line-height: 36px;
	width: 36px;
	font-family: 'icons';
	position: absolute;
	color: #afafaf;
	content: "x";
	font-size: 14px;
	left: 0;
	text-align: center;
	top: 0;
}
.add-button {
	opacity: 1;
	margin: 0 auto;
	border: none;
	background: none;
	display: inline-block;
}
.addbutton {
	border-radius: 38px;
	height: 38px;
	width: 38px;
	border: 1px solid #afafaf;
	top: 30px;
	margin-left: 20px;
	position: absolute;
	text-decoration: none;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transition: border .3s, box-shadow .3s, -webkit-transform .3s;
	transition: border .3s, box-shadow .3s, transform .3s;
}
.addbutton:hover {
	border: 1px solid transparent;
	box-shadow: 0 0 0 4px #e1e1e1;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	border-radius: 38px;
	height: 38px;
	width: 38px;
}
.addbutton:after {
	line-height: 25px;
	font-family: 'icons';
	color: #afafaf;
	content: "+";
	font-size: 30px;
	text-align: center;
}
@font-face {
	font-family: "icons";
	src: url('../fonts/icons.woff');
}
/****

Article list

****/

.bl2page-cover {
	height: 150px;
	position: relative;
	overflow: hidden;
}
h2.bl2page-title {
	font-size: 20px
}
h2.bl2page-title a {
	font-weight: 600;
	margin-bottom: -10px;
	color: black;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 30px;
}
.bl2page-text {
	margin-top: -3px
}
.bl2page-info {
	margin-top: 240px;
	float: left;
	display: block;
	margin-left: -15%;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p.bl2page-user, p.bl2page-date, p.bl2page-comment {
	padding-left: 28px;
	padding-right: 10px;
	float: left;
	line-height: 27px;
	margin: 0;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 20px;
}

p.bl2page-date span{
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

p.bl2page-comment a {
	color: #1b1b1b;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.articleCell{
	width: 100%;
  	height: 235px !important;
  	z-index: 9;
}

.articleCell .center{
	margin-top: 35%;
}

.articleCell .center.negativeMargin{
	margin-left: -80px;
}

.articleCell .left{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	height: 40px;
	width: 40px;
}

/****

Forms

****/

.form-horizontal {
	padding-top: 20px;
}
.input {
	position: relative;
	display: inline-block;
	margin-bottom: 3em;
	margin-left: 0;
	width: calc(100% - 2em);
	vertical-align: top;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	-webkit-appearance: none;
}
.input__field:focus {
	outline: none;
}
.input__label {
	display: inline-block;
	float: right;
	padding: 0;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 90%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
}
.input__label-content {
	position: relative;
	padding: 1.6em 0;
	width: 100%;
}
.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
.textareaGraphic {
	position: absolute;
	top: 2px;
	left: 0;
	fill: none;
}
.icon {
	color: #ddd;
	font-size: 150%;
}
/* Yoshiko */

.input__field--yoshiko {
	width: 100%;
	background-color: #eee;
	border: 2px solid transparent;
	-webkit-transition: background-color 0.25s, border-color 0.25s;
	transition: background-color 0.25s, border-color 0.25s;
}
select.input__field--yoshiko {
	padding: 0.75em;
	color: rgb(139, 140, 139);
	cursor: default;
	display: inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12.6000003814697px;
	height: 45px;
}
select.input__field--yoshiko:focus, .wysiwyg-textarea:focus {
	outline-color: white;
}
.input__label--yoshiko {
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	overflow: hidden;
	padding: 0 1.25em;
	-webkit-transform: translate3d(0, 2.2em, 0);
	transform: translate3d(0, 2.2em, 0);
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.input__label-content--yoshiko {
	color: #8B8C8B;
	padding: 0.25em 0;
	-webkit-transition: -webkit-transform 0.25s;
	transition: transform 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.input__label-content--yoshiko: :after {
	content: attr(data-content);
	position: absolute;
	font-weight: 800;
	bottom: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	color: #a3d39c;
	padding: 0.25em 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.85em;
}
.input__field--yoshiko:focus + .input__label--yoshiko, .input--filled .input__label--yoshiko {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	padding: 0;
}
.input__field--yoshiko:focus + .input__label--yoshiko .input__label-content--yoshiko, .input--filled .input__label-content--yoshiko {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.input__field--yoshiko:focus, .input--yoshiko.input--filled .input__field--yoshiko {
	background-color: transparent;
	border-color: rgb(4, 189, 242);
}
/* Makiko */

.input--makiko {
	overflow: hidden;
	background: url(../img/footer-input-background.png);
	top: 20px;
	width: 100%;
}
.input__field--makiko {
	width: 85%;
	top: 5px;
	font-family: "WC Mano Negra Bold", "WC Mano Negra", "Impact", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 20px;
	height: 57px;
	background: transparent;
	color: #fff;
	z-index: 10;
	font-weight: bold;
	line-height: 2em;
}

*::-webkit-input-placeholder {
    color: #fff;
}
/*.input__label--makiko {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #fff;
}*/

/*.input__label--makiko::before {
	content: '';
	position: absolute;
	width: 20px;
	height: 25px;
	top: 35%;
	left: 10px;
	background: url(../img/search.svg) no-repeat center center;
	background-size: 100%;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}*/
.input__label-content--makiko {
	display: block;
	padding: 0.7em 0 0 2em;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
	transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.input__field--makiko:focus + .input__label--makiko::before, .input__field--makiko.searchFocus + .input__label--makiko::before, .input--filled .input__label--makiko::before, .input--filled .input__label--makiko::before {
	-webkit-transform: scale3d(38, 38, 1);
	transform: scale3d(38, 38, 1);
}
/*.input__field--makiko:focus, .input__field--makiko.searchFocus {
	border: 1px solid rgb(4, 189, 242);
}*/
/****

Agenda

*****/

.agendaForm .angular-google-map-container {
	height: 350px;
	width: calc(100% - 2em);
}
.ev2page-col {
	padding: 2%;
	border: 1px solid rgba(74, 74, 74, 0.3);
	width: 100%;
	line-height: 1;
}
.ev2page-col:hover {
	border: 1px solid rgba(24, 206, 207, 1);
	cursor: pointer;
}
.ev2page-col .ev2page-info p {
	margin-top: 150px !important
}
.ev2page, .ev2page .ev3page {
	padding: 2%;
	width: 96%;
}
.ev2shr-data, .ev2page-data {
	color: #1d1d1b;
	position: absolute;
	text-align: center;
	top: 0;
	left: 10px;
}
.ev2shr-day, .ev2page-day {
	font-size: 54px
}
.ev2shr-month, .ev2page-month {
	text-transform: uppercase;
	position: relative;
	font-size: 32px;
	top: -20px;
}
.ev2shr-year, .ev2page-year {
	text-transform: uppercase;
	position: relative;
	font-size: 28px;
	top: -30px;
}
.ev2shr-col, .ev2page-col {
	margin-bottom: 10px;
	float: left;
	padding: 15px;
}
.ev2shr-cover, .ev2page-cover {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
h2.ev2shr-title, h2.ev2page-title, h2.ev3page-title {
	font-size: 20px;
	margin-top: 0px;
	padding-left: 50px;
	padding-right: 50px;
	height: 65px;
}
h2.ev2shr-title a, h2.ev2page-title a, h2.ev3page-title a {
	font-weight: 600;
	margin-bottom: -10px;
	color: #1b1b1b;
}
.ev2shr-info, .ev2page-info {
	top: 0px;
	color: #888;
	position: relative;
}
.ev2shr-venue, .ev2page-venue {
	margin-top: 3px;
	float: left;
	color: #1d1d1b;
	margin-right: 20px;
	overflow: hidden;
	height: 16px;
	width: 180px;
}
.ev2shr-hour, .ev2page-hour {
	color: #1d1d1b;
}
.ev2page-tickets a {
	text-transform: uppercase;
	text-decoration: none;
	float: right;
	color: white;
	background: gray;
	padding: 5px 8px 5px 8px;
	border-radius: 3px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.ev2page-tickets a:hover, .ev3page-tickets a:hover {
	background: #000;
	color: #fff;
}
.ev2page-week {
	position: relative;
	cursor: default;
	font-size: 36px;
	color: rgb(4, 189, 242);
	text-transform: uppercase;
}
.ev2page-col .ev2page-week {
	transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.location-btn {
	position: absolute;
	right: 29px;
}
.location-btn button {
	height: 47px;
/*	margin-top: -1px;*/
}

.eventSmall{
	/*height: 80px;*/
	min-height: 80px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	margin-bottom: 30px;
}

.eventSmall h2.ev2page-title{
	padding-left: 0px;
	padding-right: 0px;
	height: inherit;
}

/****

Links

*****/

.adpage1-col {
	margin-top: 20px;
}
.adpage1-col {
	width: 32%;
	display: inline-block;
	background: #eeeeee;
}
.wz-last {
	margin-bottom: 15px;
	margin-right: 1%;
}
.adpage1-cover {
	width: 100%;
	height: 290px;
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
}
.wz-hover .adpage1-link {
	float: left;
	background: url("images/audio-link.png");
	margin: 95px 0px 0 0px;
	margin-left: 68px;
	width: 45px;
	height: 45px;
}
.wz-hover .adpage1-zoom {
	float: left;
	background: url("images/media-zoom.png");
	text-decoration: none;
	margin: 95px 0px 0 0px;
	margin-left: 10px;
	width: 45px;
	height: 45px;
}

.he-view .bg {
	text-align: center;
	background: #eee;
}

.adpage1-cover .bg {
	height: 100%;
	width: 100%;
}

.adpage1-link:hover, .adpage1-zoom:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.adpage-info {
	background: #eee;
	padding: 5px 5px 5px 10px;
	border-bottom: 3px solid #bbbbbb;
}
.adpage1-col:hover .adpage-info,  .grid__item:hover{
	border-bottom: 3px solid rgb(4, 189, 242);
}

.grid__item{
	border-bottom: 3px solid #bbbbbb;
}

.adpage-title {
	color: #1b1b1b;
	font-size: 15px;
	font-weight: 600;
	height: 21px;
	overflow: hidden;
}
.linkImage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	overflow: hidden;
}
.adpage-info {
	transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.a0, .a1, .a2, .a3, .a4, .a5, .a6, .a7 {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: .6s;
	-moz-animation-duration: .6s;
	-ms-animation-duration: .6s;
	-o-animation-duration: .6s;
	animation-duration: .6s;
}
.a1 {
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}
.a2 {
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	animation-delay: .4s;
}
.he-wrap {
	position: relative;
	zoom: 1;
	display: inline-block;
	*display: inline;
	position: relative;
}
.he-view {
	position: absolute;
	z-index: -2;
	bottom: 0;
	opacity: 0.8;
	left: 0;
	right: 0;
	top: 100%;
	overflow: hidden;
	visibility: hidden;
}
.adpage1-col:hover .he-view, .grid__item:hover .he-view {
	visibility: visible;
	bottom: 0;
	top: 0;
/*	transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;*/
}
.he-view-show {
	visibility: visible;
}
