html, body {
    height: 100%;
}
body {
    opacity: 1;
    /*background-image: -webkit-linear-gradient(left, rgba(19, 78, 94, 0.8), rgba(113, 178, 128, 0.8));*/

/*background: url(../img/abstract-room-empty-wallpaper-wallwuzz-hd-wallpaper-11134.jpg) no-repeat center center fixed;*/

background-size: cover;
}
.navbar {
    margin: 0;
    border: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 1039;
}
.navbar .row {
    height: 0;
}
/* @group Animate */

/*.view-animate.ng-enter {
    opacity: .5;
    top: 100%;
}
.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition: opacity ease-in-out 500ms;
      transition: opacity ease-in-out 500ms;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
}
.view-animate.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
}
.view-animate.ng-leave.ng-leave-active {
    opacity: 0;
    top: -100%;
}*/
/*Bootstrap override*/

.hidden-xs, .hidden-sm {
    display: inline-block!important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0.5);
}
.nav-tabs.nav-justified>li>a {
    margin-right: -1px;
    border-radius: 4px;
}
.slim-view {
    max-width: 350px;
    margin: 15px auto;
}
.mainContent {
    margin-top: 20px;
}
.full-content {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#top-panel {
    line-height: 50px;
    height: 50px;
    background: #f5f5f5;
    box-shadow: 0 1px 2px #272727;
}
#main {
    min-height: 100%;
    overflow: hidden;
}
#search {
    position: relative;
    margin-left: 10px;
}
#search > input {
    background: #dfdfdf;
    border: 1px solid #C7C7C7;
    text-shadow: 0 1px 1px #EEE;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #686868;
    line-height: 1em;
    height: 30px;
    padding: 0 15px 0 10px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
#search > input + i {
    opacity: 0;
    position: absolute;
    top: 18px;
    right: 10px;
    color: #fff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
#search > input:focus {
    width: 100%;
    outline: none;
}
#search > input:focus + i {
    opacity: 1;
}
.panel-menu {
    margin: 0;
}
.top-panel-right {
    padding-left: 0;
}
.panel-menu > li > a {
    padding: 0 5px 0 10px;
    line-height: 50px;
}
.panel-menu > li > a:hover {
    background: none;
}
.panel-menu a.account {
    height: 50px;
    padding: 5px 0 5px 10px;
    line-height: 18px;
}
.panel-menu i {
    margin-top: 8px;
    padding: 5px;
    font-size: 20px;
    color: currentColor;
    line-height: 1em;
    vertical-align: top;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.panel-menu > li > a:hover > i {
    background: #f5f5f5;
}
.panel-menu i.pull-right {
    color: #000;
    border: 0;
    box-shadow: none;
    font-size: 16px;
    background: none !important;
}
.panel-menu .badge {
    margin-top: 3px;
    padding: 3px 6px;
    vertical-align: top;
    background: #ff5b57;
}
#header-logo {
    -webkit-transform: rotate(-2deg) scale(1.2);
    -ms-transform: rotate(-2deg) scale(1.2);
    transform: rotate(-2deg) scale(1.2);
}
.avatar {
    width: 40px;
    float: left;
    margin-right: 5px;
}
.avatar > img {
    width: 40px;
    height: 40px;
    border: 1px solid #F8F8F8;
}
.user-mini > span {
    display: block;
    font-size: 12px;
    color: #363636;
    margin-bottom: -4px;
}
.user-mini > span.welcome {
    font-weight: bold;
    margin-top: 2px;
}
.panel-menu .dropdown-menu {
    position: absolute !important;
    background: rgba(0, 0, 0, 0.7) !important;
    padding: 0;
    border: 0;
    right: 0;
    left: auto;
    min-width: 100%;
}
.panel-menu .dropdown-menu > li > a {
    padding: 5px 10px !important;
    color: #f0f0f0;
}
.panel-menu .dropdown-menu > li > a > i {
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 20px;
    display: inline-block !important;
    text-align: center;
    vertical-align: middle;
}
.well {
    padding: 15px;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    min-height: inherit;
    padding-top: 0;
}
.form-horizontal .control-label {
    padding-top: 4px;
}
.input-group-addon {
    padding: 0px 6px;
}
.form-group .form-control, .form-group .input-group {
    margin-bottom: 5px;
}
.input-group .form-control {
    margin: 0;
}
.page-feed .avatar {
    width: 60px;
    float: left;
    margin: 10px 15px;
    text-align: center;
    overflow: hidden;
}
.page-feed .avatar img {
    width: 60px;
    height: 60px;
    border: 1px solid #F8F8F8;
}
.page-feed-content {
    position: relative;
    padding: 3px 15px 5px;
    background: #FCFCFC;
    margin-left: 90px;
    min-height: 80px;
}
.page-feed-content small.time {
    font-style: italic;
}
.page-feed .page-feed-content:before {
    font-family: FontAwesome;
    content: "\f0d9";
    position: absolute;
    left: -10px;
    top: 15px;
    font-size: 30px;
    color: #fcfcfc;
}
@media (min-width: 768px) {
    #sidebar-left.col-sm-2 {
        opacity: 1;
        width: 16.666666666666664%;
        padding: 0 15px;
   }
   .sidebar-show #sidebar-left.col-sm-2 {
       opacity: 0;
       width: 0;
       padding: 0;
  }
  .sidebar-show #content.col-sm-10 {
      opacity: 1;
      width: 100%;
 }
 .page-404 .form-inline {
     width: 60%;
}
}
@media (min-width: 992px) {
    .nav.main-menu > li > a, .nav.msg-menu > li > a {
        text-align: left;
   }
   .nav.main-menu > li > a > i, .nav.msg-menu > li > a > i {
       font-size: 14px;
       display: inline-block;
  }
  .main-menu .dropdown-menu {
      position: relative;
      z-index: inherit;
      left: 0;
      margin: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.2);
      visibility: visible;
 }
 .main-menu .dropdown-menu > li > a {
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}
.page-404 .form-inline {
    width: 40%;
}
}
@media (max-width: 767px) {
    .page-404 .form-inline {
        width: 100%;
   }
   #dashboard_links .nav {
       -webkit-border-radius: 4px 4px 0 0;
       -moz-border-radius: 4px 4px 0 0;
       border-radius: 4px 4px 0 0;
  }
  #dashboard_links .nav-stacked > li {
      float: left;
 }
 #dashboard_links .nav-pills > li > a {
     padding: 15px;
}
#dashboard_links .nav-pills > li.active > a:before {
    bottom: 0;
    left: 50%;
    margin-left: -9px;
}
}
@media (max-width: 767px) {
    .user-mini {
        display: none;
   }
}
@media (max-width: 620px) {
    .user-mini {
        display: none;
   }
}
@media (max-width: 400px) {
    .panel-menu a.account {
        padding: 5px 0px 5px 0;
   }
   .avatar {
       margin: 0;
  }
  .panel-menu i.pull-right {
      margin-left: 0;
 }
 .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
     background: none;
}
#dashboard_links .nav-stacked > li {
    float: none;
}
#dashboard_links .nav-pills > li.active > a:before {
    display: none;
}
}
.angular-google-map-container {
    height: 440px;
}
.edit-profile-avatar .manual-file-chooser {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 146px;
    height: 34px;
    margin-left: 0;
    padding: 0;
    cursor: pointer;
}
.edit-profile-avatar .button.button-change-profile-picture .label-upload-profile-picture {
    display: block;
    margin: 0;
    padding: 0;
}
.manual-file-chooser {
    position: absolute;
    width: 240px;
    margin-left: -50px;
    margin-top: -25px;
    padding: 5px;
    opacity: .0001;
}
.imgThumbnail {
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 20px;
    border-radius: 5px;
    vertical-align: bottom;
    width: 120px;
    height: 120px;
}
.imgThumbnail>img {
    vertical-align: middle;
    border-radius: 5px;
    vertical-align: bottom;
    width: 120px;
    height: 120px;
}
.my-drop-zone {
    border: dotted 3px lightgray;
}
.form-horizontal .control-label {
    text-align: left;
}
.gallery .image {
    padding-right: 30px;
    margin-bottom: 20px;
    width: 33%;
}
.gallery .image-inner {
    position: relative;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.gallery .image-info {
    background: #fff;
    padding: 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: 1px solid lightgray;
}
.gallery .image a {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.gallery .image-caption {
    position: absolute;
    top: 15px;
    left: 0;
    background: #333;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
}
.gallery .image-info .title {
    margin: 0 0 10px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gallery .image-info .rating {
    line-height: 20px;
    margin: 0 0 3px;
}
.gallery .image-info .desc {
    line-height: 16px;
    font-size: 12px;
    height: 48px;
    overflow: hidden;
    margin-top: 5px;
}
.gallery .rating span.star {
    font-family: FontAwesome;
    display: inline-block;
}
.gallery .image a:focus, .gallery .image a:hover {
    opacity: .8;
    filter: alpha(opacity=60);
}
.gallery .image img {
    height: 200px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    width: 100%;
}
.gallery.isotope {
    position: relative;
    overflow: hidden;
}
#cms-sidebar-nav {
    position: fixed;
    width: 25%;
    left: 0;
    margin: 191px 0;
    height: calc(100% - 220px);
}
#cms-sidebar-nav li.active {
    background-color: white;
}
a.sidebarItem {
    text-align: center;
    padding: 1.2rem;
    text-align: center !important;
    text-transform: uppercase;
    font-size: large;
    font-weight: 200;
}
a.sidebarItem:hover {
    background: white !important;
}
a.sidebarItem.active {
    background: white !important;
    color: #333 !important;
    box-shadow: 0 1px 5px #272727;
}
.profile, .site-header .site-avatar img {
    border-radius: 50%;
    display: block;
    float: none;
    height: 112px;
    margin: 0 auto 24px;
    margin: 0 auto 2.4rem;
    width: 112px;
}
.profile {
    margin-top: 10px;
    border: none;
}
a.close-link {
    color: #ff5b57 !important;
}
a.collapse-link {
    color: #f59c1a !important;
}
.nav-tabs.nav-justified a {
    color: white !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
}
.nav-tabs.nav-justified a:hover: not(active) {
    background: rgba(0, 0, 0, 0.7) !important;
    color: white !important;
}
.nav-tabs.nav-justified>.active>a {
    background: transparent !important;
    color: #242a30 !important;
    border: 0 !important;
}
.nav-tabs.nav-justified>.active>a:hover {
    background: transparent !important;
    color: #242a30 !important;
}
.nav-tabs.nav-justified a, .nav-tabs.nav-justified a:hover, .nav-tabs.nav-justified a:focus {
    border-radius: 0 !important;
    border: 0 !important;
}
textarea {
    min-height: 150px;
}
.modal-dialog {
    margin-top: 80px;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(50% - 50px);
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline-panel {
    background-color: white;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -13px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 13px;
    left: -13px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
   }
   ul.timeline > li > .timeline-panel {
       width: calc(100% - 90px);
       width: -moz-calc(100% - 90px);
       width: -webkit-calc(100% - 90px);
  }
  ul.timeline > li > .timeline-badge {
      left: 15px;
      margin-left: 0;
      top: 16px;
 }
 ul.timeline > li > .timeline-panel {
     float: right;
}
ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
}
.right {
    text-align: right;
}
.login-box {
    position: fixed;
    top: 80px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
}
.login-container {
    background-color: aliceblue;
}
.alert {
    border: 1px solid black;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.animate-show {
    -moz-transition: all linear 1s;
    -o-transition: all linear 1s;
    transition: all linear 1s;
    -webkit-transform: all linear 1s;
    transition: all linear 1s;
    display: absolute!important;
    opacity: 1;
    top: 50px;
}
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    display: block!important;
    opacity: 1;
}
.animate-show.ng-hide, .animate-show.ng-hide div {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    /* -moz-transform: scale(3);
    -webkit-transform: scale(3);*/

opacity: 0;
}
table.table-striped td {
    vertical-align: middle !important;
}
.datepicker ul {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.datepicker ul .btn-info {
    background-color: steelblue !important;
}
.ellipsis {
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
padding: 8px;
line-height: 1.428571429;
vertical-align: top;
 border-top: 0;
}

ul.suggestionList,li{
  list-style:none;
}

ul.suggestionList li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
ul.suggestionList li{
  margin:1em;
  float:left;
}
ul.suggestionList li h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
ul.suggestionList li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
  word-wrap: break-word;
}
ul.suggestionList li a{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
ul.suggestionList li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
ul.suggestionList li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
ul.suggestionList li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
ul.suggestionList li a:hover,ul.suggestionList li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
.suggestionList{
	padding-top: 0;
}
.suggestionItem h4{
	font-size: x-small;
	padding: 5px;
  	margin: 0;
}
.three-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/*
FallingLamp*/

canvas {
    display: block;
    width: 100%;
    height: 200px;
    z-index: 5;
    background: none;
    margin-left: 9px;
}
@font-face {
    font-family: "aaaiight";
    font-weight: bold;
    src: url('../fonts/aaaiight.ttf');
}
#content h1, #cms-sidebar-nav-list span {
    font-family: "aaaiight";
}
.bookTitle {
    margin-top: 10px !important;
    font-family: "aaaiight";
    color: #2c3e50;
}
#mapBorder {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% + 40px);
    width: 100%;
    background: url('../../img/map_mask.png') no-repeat;
    background-size: 100%;
    pointer-events: none;
}
.mapContainer div {
    background: none;
}
#cms-sidebar-nav-list>li>a:hover: :after {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
}
#cms-sidebar-nav-list>li>a: :after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    content: '';
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
    transform: translateX(-50%) translateY(-50%) scale(0.2);
}
.pentagon {
    float: left;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
}

a .pentagon i {
    font-size: xx-large;
    color: white;
    margin-top: 3em;
}

/*.pentagon a {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    position: relative;
}
.pentagon a span.mask {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: 2;
    background: url("../img/pentagon_mask.png") no-repeat;
    -webkit-transition: -webkit-transform 300ms ease-out;
    -moz-transition: -moz-transform 300ms ease-out;
    -o-transition: -o-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    -webkit-backface-visibility: hidden;
}
.pentagon a img {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 300ms ease-out;
    -moz-transition: 300ms ease-out;
    -o-transition: 300ms ease-out;
    transition: 300ms ease-out;
    -webkit-backface-visibility: hidden;
}*/
.pentagon .portfolio-title {
    position: relative;
    float: left;
    width: 100%;
    height: 20px;
    overflow: hidden;
    margin-top: 20px;
}
.pentagon .portfolio-title h4 {
    position: relative;
    line-height: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 0;
}
.portfolio-title h4 span {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    left: 0;
    color: white;
    top: 20px;
}
.pentagon:hover a span.mask {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.pentagon:hover .portfolio-title h4 {
    top: -20px;
}
.pentagon .portfolio-title h4 {
    top: 0px;
    transition: top 0.5s;
}

#content {
    width: 100%;
    height: 100%;
}

#content .page-agenda    {
    background: #F98262;
    color:#a55400;
    width: 100%;
    height: 100%;
    display: inline-block;
}

#content .page-contact   { background:#ffa6bb; color:#9e0000; }
#content .page.ng-leave  { z-index:9999; }
#content .page.ng-enter  { z-index:8888; }

.pentagonContainer {
    background:#00D0BC;
    color:#00907c;
    width: 33%;
    height: 50%;
    position: absolute;
}

.pentagonContainer:first-child{
    background: #EE4444;
}
.pentagonContainer:nth-child(2){
    background: #F98262;
    width: 34%;
    left: 33%;
}
.pentagonContainer:nth-child(3){
    background: #4BBE8E;
    left: 67%;
}
.pentagonContainer:nth-child(4){
    background: #0D8278;
    width: 34%;
    top: 50%;
}
.pentagonContainer:nth-child(5){
    background: #EE4444;
    width: 34%;
    left: 33%;
    top: 50%;
}
.pentagonContainer:nth-child(6){
    background: #F98262;
    left: 67%;
    top: 50%;
}

/******

View animate

*******/

.pop.ng-enter,
.pop.ng-leave {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/******
Home
*******/

.pop.ng-leave .page-home .pentagonContainer.active .pentagon{
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.pop.ng-enter section:not(.page-home){
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0s ease 0.5s;
	-moz-transition: opacity 0s ease 0.5s;
}

.pop.ng-leave .page-home .pentagonContainer.active{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}

/******
Others
*******/

.pop.ng-leave section:not(.page-home){
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    opacity: 0.5;
}

.pop.ng-leave section:not(.page-home) *{
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.pop.ng-enter .page-home{
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    transition: all 0s linear;

    pointer-events: auto;
    width: 100%;
    height: 100%;
    position: absolute;
}

/******

Button close

*******/

@font-face{
    font-family:'icons';
    src:url("../fonts/icons.woff") format("woff");
    font-style:normal;
    font-weight:400;
}

.closebutton {
    border: 1px solid #a55400;
    border-radius: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: border .3s,box-shadow .3s,-webkit-transform .3s;
    transition: border .3s,box-shadow .3s,transform .3s;
    width: 30px;
    z-index: 1;
}

.closebutton:after {
    color: #a55400;
    content: "x";
    font-size: 14px;
    height: 28px;
    left: 0;
    line-height: 28px;
    text-align: center;
    top: 0;
    width: 28px;
    font-family: 'icons';
    position: absolute;
}

.closebutton:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 0 4px #a55400;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}