/*
Home
*/

.homeContainer{
	background-color: #f5f5f5;
	height: 100%;
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.2;
  margin: 0;
}

.menu .menu-inner {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: table;
  padding: 10px;
  width: 100%;
}

.menu .menu-inner .menu-info {
  height: 582px;
  width: 40%;
  float: left;
  vertical-align: middle;
  color: #E3E8DC;
}

.menu-elts{
	float: left;
	width: calc(60% - 10px);
	margin-left: 10px;
}

.menu_home a{
  width: 100%;
  height: 100%;
  padding-top: 1em;
  font-size: 70px;
}

.menu_suggestions{
  font-size: xx-large;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

.menu .menu-inner .menu-info .menu-phrase {
  height: 582px;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.1em;
  font-weight: 300;
  vertical-align: top;
  margin-top: 20px;
  padding: 15px;
}

.menu-phrase p {
    /*width: 100%;
    white-space: pre-wrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);*/
    text-align: left;
}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

.menu .menu-inner .menu-info .menu-date {
  font-weight: 600;
  margin-bottom: 50px;
  text-transform: uppercase;
  height: 60px;
}

strong, b {
  font-weight: 600;
}

.menu .menu-inner nav {
  position: relative;
  z-index: 2;
  padding: 0;
  overflow-y: hidden;
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu .menu-inner nav .menu_elt {
  display: inline-block;
  position: relative;
  font-size: 36px;
  line-height: 1;
  margin: 5px 5px 0 0;
  overflow: hidden;
  width: 48%;
  height: 185px;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: -webkit-transform 0.3s ease,opacity 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease,opacity 0.3s ease;
  transition: transform 0.3s ease,opacity 0.3s ease;
}

h3, .h3, h5, .h5, .fn-h1, .small-text {
  letter-spacing: 0.1em;
}

.small-text {
  font-size: 14px;
}

/*Forkit*/

.forkit {
  position: fixed;
  left: 0;
  top: 0;

  width: 75px;
  height: 80px;

  font-family: 'Lato', sans-serif;
  text-decoration: none;
  z-index: 13;
  background-color: #f5f5f5;
}
.forkit .tag {
  display: block;
  height: 80px;
  width: 75px;
  background: url(../img/Home_sketch_64.png) 5px 5px no-repeat;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

  -webkit-transform-origin: 15px 0px;
     -moz-transform-origin: 15px 0px;
      -ms-transform-origin: 15px 0px;
       -o-transform-origin: 15px 0px;
          transform-origin: 15px 0px;
}

.forkit-curtain {
  position: fixed;
  width: calc(100% + 5px);
  height: 100%;
  background: #f5f5f5;
  z-index: 14;
  margin-left: -5px;
}

.homeTooltip{
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 80px;
  z-index: 13;
  cursor: pointer;
}

.includeView{
	position: absolute;
  height: 100%;
  display: table;
  width: 100%;
  border-bottom: 1px solid black;
}

/*
*
Spinner
*
*/

.spinnerContainer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.bokeh {
  font-size: 100px;
  width: 1em;
  height: 1em;
  position: relative;
  margin: auto;
  margin-top: 3em;
  border-radius: 50%;
  border: .05em solid rgba(150,150,150,0.1);
  list-style: none;
}

.bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #00C176;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation:
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation:
        rota 1.13s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: #FF003C;
    -webkit-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation:
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation:
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #FABE28;
    -webkit-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation:
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation:
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: #88C100;
    -webkit-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation:
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation:
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

@-webkit-keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

@keyframes opa {
    0% { }
    12.0% { opacity: 0.80; }
    19.5% { opacity: 0.88; }
    37.2% { opacity: 0.64; }
    40.5% { opacity: 0.52; }
    52.7% { opacity: 0.69; }
    60.2% { opacity: 0.60; }
    66.6% { opacity: 0.52; }
    70.0% { opacity: 0.63; }
    79.9% { opacity: 0.60; }
    84.2% { opacity: 0.75; }
    91.0% { opacity: 0.87; }
}

/**
*
* Items
*
**/

/* Background colors */
.color-1 { background: #E8E0DA; }
.color-2 { background: #576b67; }
.color-3 { background: #383A35; }
.color-4 { background: #333; }
.color-5 { background: #fda9a9; }
.color-7 { background: #cde7d3; }
.color-8 { background: #DCECDD; }
.color-9 { background: #dedbba; }
.color-10 { background: #222; }
.color-11 { background: #515151; }


/* General link styles */
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 2em;
  line-height: 1;
  color: #9e9ba4;
  display: inline-block;
}

/* Kukuri */
.link--kukuri {
  text-transform: uppercase;
  font-weight: 900;
  overflow: hidden;
  color: #c5c2b8;
}

.link--kukuri:hover {
  color: #c5c2b8;
}

.link--kukuri::after {
  content: '';
  position: absolute;
  height: 16px;
  width: 100%;
  top: 50%;
  margin-top: -8px;
  right: 0;
  background: #F9F9F9;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.link--kukuri::before {
  content: attr(data-letters);
  position: absolute;
  left: 0;
  z-index: 2;
  overflow: hidden;
  color: white;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: all 0.4s 0.3s;
  transition: all 0.4s 0.3s;
}

.link--kukuri:hover::before {
  width: 100%;
}

/* Takiri */
.link--takiri {
  font-style: italic;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding-top: 0.75em;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.link--takiri:hover {
  color: #1e1a1b;
}

.link--takiri::before {
  content: '';
  position: absolute;
  height: 36px;
  width: 120%;
  top: 50%;
  margin-top: -18px;
  left: -10%;
  z-index: -1;
  background: #F9F9F9;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.link--takiri:hover::before {
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}

.link--takiri span {
  font-size: 20%;
  font-weight: 400;
  position: absolute;
  right: 15px;
  color: #e53369;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate3d(-10px,-10px,0);
  transform: translate3d(-10px,-10px,0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.link--takiri:hover span {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Nukun */
.link--nukun {
  color: #E3E8DC;
  font-weight: 900;
  text-transform: uppercase;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 0.75em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link--nukun:hover {
  color: #1e1a1b;
}

.link--nukun::before,
.link--nukun::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 5px;
  background: #E3E8DC;
  bottom: 30%;
  left: 35%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun::after {
  background: #ACD07A;
  -webkit-transform: translate3d(-300%,0,0) scale3d(0,1,1);
  transform: translate3d(-300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::before {
  -webkit-transform: translate3d(300%,0,0) scale3d(0,1,1);
  transform: translate3d(300%,0,0) scale3d(0,1,1);
}

.link--nukun:hover::after {
  -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
  transform: translate3d(0,0,0) scale3d(1,1,1);
}

.link--nukun span {
  color: #E3E8DC;
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
  transform: perspective(1000px) rotate3d(0,1,0,0deg);
  -webkit-transition: -webkit-transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--nukun:hover span {
  color: #fff;
  -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
  transform: perspective(1000px) rotate3d(0,1,0,180deg);
}

/* Kumya */
.link--kumya {
  font-family: 'Syncopate', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px 10px 0;
  line-height: 1;
  color: #242424;
}

.link--kumya:hover {
  color: #242424;
}

.link--kumya::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: #242424;
  -webkit-transform: translate3d(101%,0,0);
  transform: translate3d(101%,0,0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.link--kumya span {
  display: block;
  position: relative;
  margin-top: 0.75em;
}

.link--kumya span::before {
  content: attr(data-letters);
  position: absolute;
  color: #fff;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
  width: 100%;
  height: 150px;
}

/* Manko */
.link--manko {
  width: 100%;
  color: #B1C0B2;
  font-weight: 900;
  font-style: italic;
  padding: 0.65em 0 0.8em;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.link--manko:hover {
  color: white;
}

.link--manko::before,
.link--manko::after {
  content: '';
  position: absolute;
  border-width: 4px 0;
  border-style: solid;
  border-color: #fff;
  pointer-events: none;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--manko::before {
  width: 50%;
  left: 25%;
  height: 80%;
  top: 10%;
}

.link--manko::after {
  width: 30%;
  left: 35%;
  height: 100%;
  top: 0;
}

.link--manko:hover::before,
.link--manko:hover::after {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}