/*
Home
*/

.homeContainer{
	background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.2;
  margin: 0;
}

.menu .menu-inner {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  min-width: 240px;
  display: table;
}

.menu .menu-inner .menu-info {
  width: 40%;
  display: table-cell;
  vertical-align: top;
  padding: 80px 0 0 40px;
}

.menu .menu-inner .menu-info .menu-phrase {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0.1em;
  font-weight: 300;
}

.menu .menu-inner .menu-info .menu-date {
  font-weight: 600;
  margin-bottom: 50px;
  text-transform: uppercase;
  height: 60px;
}

strong, b {
  font-weight: 600;
}

.menu .menu-inner nav {
  position: relative;
  z-index: 2;
  padding: 80px 0;
  overflow-y: scroll;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.menu .menu-inner nav a {
  position: relative;
  font-size: 36px;
  padding: 5px 30px 8px;
  line-height: 1;
  margin: 5px 5px 0 0;
  overflow: hidden;
  opacity: 0;
  width: 49%;
  height: 185px;
  background: none;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: -webkit-transform 0.3s ease,opacity 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease,opacity 0.3s ease;
  transition: transform 0.3s ease,opacity 0.3s ease;
}

.menu .menu-inner nav a:hover {
  border-style: dashed;
  cursor: pointer;
}

.simple-border-box {
  position: relative;
  display: block;
  background: #fff;
  border-style: solid;
}

.menu.active nav a {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.menu.active nav a:first-child {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu .menu-inner nav a .sbb-contents {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 26px;
  text-transform: uppercase;
}

.menu .menu-inner nav a span {
  display: block;
  font-weight: 400;
  margin: 14px 0 0;
}

h3, .h3, h5, .h5, .fn-h1, .small-text {
  letter-spacing: 0.1em;
}

.small-text {
  font-size: 14px;
}

/*Forkit*/

.forkit {
  position: fixed;
  left: 0;
  top: 0;

  width: 75px;
  height: 80px;

  font-family: 'Lato', sans-serif;
  text-decoration: none;
  z-index: 12;
}
.forkit .tag {
  display: block;
  height: 80px;
  width: 75px;
  background: url(../img/Home_sketch_64.png) 5px 5px no-repeat;
  text-align: center;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

  -webkit-transform-origin: 15px 0px;
     -moz-transform-origin: 15px 0px;
      -ms-transform-origin: 15px 0px;
       -o-transform-origin: 15px 0px;
          transform-origin: 15px 0px;
}

.forkit .string {
  display: block;
  height: 1px;
  width: 0px;
  position: absolute;

  background: rgba( 255, 255, 255, 0.7 );
  box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

  -webkit-transform-origin: 0px 0px;
     -moz-transform-origin: 0px 0px;
      -ms-transform-origin: 0px 0px;
       -o-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
}


.forkit-curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 12;
}

.homeTooltip{
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 80px;
  z-index: 12;
}

.includeView{
	position: absolute;
  	top: -30px;
}