/****

Suggestions : post-it;

*****/
.suggestionsContainer{
	position: absolute;
	top: 0;
	bottom: 0;
  	padding: 10px;
  	width: calc(100% - 75px);
}

ul.suggestionList, li {
	text-align: center;
}
ul.suggestionList, li {
	list-style: none;
}
ul.suggestionList li a {
	text-decoration: none;
	color: #000;
	background: rgb(4, 189, 242);
	display: block;
	height: 10em;
	width: 10em;
	padding: 1em;
	-moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
	-webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
}
ul.suggestionList li {
	margin: 1em;
	display: inline-block;
}
ul.suggestionList li h2 {
	font-size: 140%;
	font-weight: bold;
	padding-bottom: 10px;
}
ul.suggestionList li p {
	font-family: "Reenie Beanie", arial, sans-serif;
	font-size: 180%;
	word-wrap: break-word;
}
ul.suggestionList li a {
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
}
ul.suggestionList li:nth-child(even) a {
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	position: relative;
	top: 5px;
	background: #eee;
}
ul.suggestionList li:nth-child(3n) a {
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	position: relative;
	top: -5px;
	background: rgb(4, 189, 242);
}
ul.suggestionList li:nth-child(5n) a {
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	position: relative;
	top: -10px;
}
ul.suggestionList li a:hover, ul.suggestionList li a:focus {
	box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	position: relative;
	z-index: 5;
}
.suggestionList {
	padding-top: 0;
}
.suggestionItem h4 {
	font-size: medium;
	margin: 0;
	font-family: "Reenie Beanie";
}
.three-line-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}