<div id="post-330" class="post-330 page type-page status-publish hentry" ng-init="initializeConversations();" style="max-height: calc(100vh - 40px);">
    <div class="row-fluid" style="margin-top: 40px;">
        <div id="content_wrap">
            <div class="content-wrap-inn bottom-space">
                
                <div class="container responsive-ux">
                    <div class="row-fluid">
                        <div class="span12 moudle bottom-space-20">
                            <div class='console-container'>
                                <span id='text'></span>
                                <div class='console-underscore' id='console'>&#95;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container responsive-ux">
                    <div class="row-fluid">
                        <div class="span3 moudle bottom-space-20">
                            <!-- <div class="text_block withbg bg-theme-color-1" style="text-align: center;">
                                <a href='#!/articles'>
                                    <md-icon class="fa fa-file-text" aria-hidden="true" style="font-size: 48px;"></md-icon> 
                                    <br><span>5 Articles non lues</span>
                                </a>
                            </div>
                            <div class="text_block withbg bg-theme-color-5" style="text-align: center; margin-top: 20px;">
                                <a href='#!/albums'>
                                    <md-icon class="fa fa-picture-o" aria-hidden="true" style="font-size: 48px;"></md-icon> 
                                    <br><span>1 Nouvel album photo</span>
                                </a>
                            </div>
                            <div class="text_block withbg bg-theme-color-7" style="text-align: center; margin-top: 20px;">
                                <a href='#!/suggestions'>
                                    <md-icon class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size: 48px;"></md-icon> 
                                    <br><span>10 Votes en attente</span>
                                </a>
                            </div> -->
    <div class='app_inner'>
      <input checked='' id='tab-1' name='buttons' type='radio'>
      <label for='tab-1'>
        <div class='app_inner__tab'>
          <h2>
            <i class='icon ion-android-alarm-clock'></i>
            8am - 10am
          </h2>
          <div class='tab_left'>
            2
            <div class='tab_left__image'>
              2
            </div>
          </div>
          <div class='tab_right'>
            <h3>Jamie talks design</h3>
            <h4>Monday - Thursday</h4>
            <p>I talk a bunch of rubbish</p>
            <button>More information</button>
          </div>
        </div>
      </label>
      <input false='' id='tab-2' name='buttons' type='radio'>
      <label for='tab-2'>
        <div class='app_inner__tab'>
          <h2>
            <i class='icon ion-android-alarm-clock'></i>
            10am - 12am
          </h2>
          <div class='tab_left'>
            <i class='big icon ion-music-note'></i>
            <div class='tab_left__image'>
              <i class='icon ion-music-note'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Arctic Monkeys Live</h3>
            <h4>Monday - Wednesday</h4>
            <p>Music for your lug holes</p>
            <button>More information</button>
          </div>
        </div>
      </label>
      <input false='' id='tab-3' name='buttons' type='radio'>
      <label for='tab-3'>
        <div class='app_inner__tab'>
          <h2>
            <i class='icon ion-android-alarm-clock'></i>
            12am - 4pm
          </h2>
          <div class='tab_left'>
            <i class='big icon ion-android-microphone'></i>
            <div class='tab_left__image'>
              <i class='icon ion-android-microphone'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Steven Fry podcast</h3>
            <h4>Staurday - Sunday</h4>
            <p>Steven Fry says words</p>
            <button>More information</button>
          </div>
        </div>
      </label>
      <input false='' id='tab-4' name='buttons' type='radio'>
      <label for='tab-4'>
        <div class='app_inner__tab'>
          <h2>
            <i class='icon ion-android-alarm-clock'></i>
            4pm - 8pm
          </h2>
          <div class='tab_left'>
            <i class='big icon ion-android-bar'></i>
            <div class='tab_left__image'>
              <i class='icon ion-android-bar'></i>
            </div>
          </div>
          <div class='tab_right'>
            <h3>Massive event</h3>
            <h4>Monday - Friday</h4>
            <p>Some kind of music festival</p>
            <button>More information</button>
          </div>
        </div>
      </label>
    </div>

                        </div>

                        <div class="span3 moudle bottom-space-20">
                            <div class="container" style="background: white; box-shadow: 0 1px 2px rgba(0,0,0,0.15); color: #7b7b7b; border-radius: 5px; padding-left: 10px;">
                                <div class="evwdg first" ng-repeat="event in agenda">                                                          
                                    <div class="evwdg-data">
                                        <div class="evwdg-day">{{event.startsAt | date:"dd"}}</div>
                                        <div class="evwdg-month">{{event.startsAt | date:"MMM"}}</div>
                                        <div class="evwdg-year">{{event.startsAt | date:"yyyy"}}</div>
                                    </div>

                                    <div class="evwdg-title">
                                        <a href="http://rtu.fm/event/mama-watt-michel-platine-a-la-maison-m/" rel="bookmark" title="{{event.title}}">
                                        {{event.title}}
                                        </a>
                                    </div>

                                    <div class="evwdg-status">
                                        <div class="evwdg-venue">
                                            <img ng-src="{{event.user.avatar && event.user.avatar + '?dim=300x300' || 'img/Professor.png'}}" alt="{{user.name || user.username}}" class="img-circle border-white" width="40" style="max-width: inherit;"/>
                                            <span>{{event.user.username}}</span>
                                        </div>
                                        <div class="evwdg-test">
                                            <div class="evwdg-out"><a><p>Je viens</p></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="span6 moudle bottom-space-20" style="background: white; box-shadow: 0 1px 2px rgba(0,0,0,0.15); border-radius: 5px; overflow: auto;">
                            <div class="nicescroll">
                                
                                <ul ng-if="!conversation" class="list-group list-group-list" style="max-height: calc(100vh - 150px);">
                                    <li class="list-group-item" ng-repeat="(userId, conversation) in conversations" ng-click="selectUser($event, userId)">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#!">
                                                    <img ng-src="{{conversation.avatar && conversation.avatar + '?dim=300x300' || 'img/Professor.png'}}" alt="conversation.username" class="img-circle border-white" width="40" style="max-width: inherit;
                                                    ">
                                                </a>
                                            </div>
                                            <div class="media-body media-middle ellipsis">
                                                <a href="#!" class="ellipsis" style="color: #1c1d22; text-transform: uppercase; font-weight: 700;">
                                                    {{conversation.username}}
                                                </a>
                                                <p class="ellipsis">
                                                    {{(conversation.conversation.messages.length > 0) ? (conversation.conversation.messages.slice(-1).pop().user.username || "moi") + ": " + conversation.conversation.messages.slice(-1).pop().content : "Pas encore de message" }}
                                                </p>
                                            </div>
                                            <div class="media-right media-middle" ng-if="counters[user._id]">
                                                <span style="color: red; display: flex;">
                                                    {{getUnreadMessageCount(userId)}} 
                                                    <i class="fa fa-comment text-muted" style="margin: 3px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div id="respondwrap" class="chat-wrapper" ng-if="conversation">
                                    <i class="fa fa-times" style="cursor: pointer;z-index: 8040;background:white; color: black;position: absolute; font-size: 30px; right: 10px;" ng-click="closeDialog();"></i>
                        
                                    <ul id="conversationList">
                                        <li ng-repeat="item in conversation.messages | orderBy:'created'" ng-class="{'current': item.user === global.user._id || item.user._id === global.user._id}">
                                            <img ng-src="{{item.user.avatar && item.user.avatar + '?dim=300x300' || global.user.avatar + '?dim=300x300' || 'img/Professor.png'}}" alt="{{item.user.name || item.user.username}}">
                                            <p>
                                                <b>{{item.user.username || global.user.username}}</b>: {{item.content}}
                                            </p>
                                        </li>
                                    </ul>

                                    <h3 ng-if="conversation.messages.length === 0" style="margin-top: 20px; text-align: center;">
                                        Aucun message
                                    </h3>

                                    <div ng-if="conversation" class="message-comment" style="padding-right: 20px;padding-top: 10px;">
                                        <textarea
                                        placeholder="Ecrire un message"
                                        ng-model="message.content"
                                        ng-enter="sendMessage()"
                                        style="height: 110px; width: 100%; margin-bottom: 10px;"/>
                                        </textarea>
                                        <button class="pull-right" style="margin-bottom: 20px; color: white;" ng-click="sendMessage();">
                                            <i class="fa fa-comment"></i> Ecrire
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <!--  <div class="span3 moudle bottom-space-20">
                            <div class="text_block withbg bg-theme-color-5" style="text-align: center;">
                                <a href='#!/albums'>
                                    <md-icon class="fa fa-picture-o" aria-hidden="true" style="font-size: 48px;"></md-icon> 
                                    <br><span>1 Nouvel album photo</span>
                                </a>
                            </div>
                        </div>
                        <div class="span3 moudle bottom-space-20">
                            <div class="text_block withbg bg-theme-color-7" style="text-align: center;">
                                <a href='#!/suggestions'>
                                    <md-icon class="fa fa-thumbs-o-up" aria-hidden="true" style="font-size: 48px;"></md-icon> 
                                    <br><span>10 Votes en attente</span>
                                </a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<cm-page-builder></cm-page-builder>