<div id="post-330" class="post-330 page type-page status-publish hentry" ng-init="initialize();" style="max-height: calc(100vh - 40px);">
    <div class="row-fluid" style="margin-top: 40px;">
        <div id="content_wrap">
            <div class="content-wrap-inn bottom-space">
                
                <div class="container responsive-ux">
                    <div class="row-fluid">
                        <div class="span12 moudle bottom-space-20">
                            <div class='console-container'>
                                <span id='text'></span>
                                <div class='console-underscore' id='console'>&#95;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container responsive-ux">
                    <div class="row-fluid">
                        
                        <div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20" style="margin-left: -15px;">
                            
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20" style="background: white; padding: 5px; border-radius: 5px; height: calc(100vh - 150px); box-shadow: 0 1px 2px rgba(0,0,0,0.15);">
                            <div class='app_inner'>
                                <div style="height: 80px; margin: 20px 0 40px;">
                                    <div class='tab_right' style="float: right; display: flex;width: 33%;">
                                        <div class="text_block withbg bg-theme-color-5" style="text-align: center;         margin: auto !important; display: flex; width: 60px; height: 60px; padding: 0;">
                                            <a href='#!/articles' style="margin: auto;">
                                                <span style="font-size: 30px;line-height: 60px;">{{unreadArticleCount}}</span> 
                                                <br><p style="margin-top: 10px; color: #1c1d22; font-size: medium;"><b>Article</b></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class='tab_right' style="float: right; display: flex;width: 33%;">
                                        <div class="text_block withbg bg-theme-color-8" style="text-align: center;     margin: auto !important; display: flex; width: 60px; height: 60px;padding: 0;">
                                            <a href='#!/albums' style="margin: auto;">
                                                <span style="font-size: 30px;line-height: 60px;">{{unreadAlbumCount}}</span> 
                                                <br><p style="margin-top: 10px; color: #1c1d22; font-size: medium;"><b>Albums</b></p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class='tab_right' style="float: right; display: flex;width: 33%;">
                                        <div class="text_block withbg bg-theme-color-7" style="text-align: center;     margin: auto !important; display: flex; width: 60px; height: 60px;    padding: 0;">
                                            <a href='#!/suggestions' style="margin: auto;">
                                                <span style="font-size: 30px;line-height: 60px;">{{unreadVoteCount}}</span> 
                                                <br><p style="margin-top: 10px; color: #1c1d22; font-size: medium;"><b>Votes</b></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-repeat="event in agenda">
                                    <input id='tab-{{$index+1}}' ng-checked="{{$index === 0}}" name='buttons' type='radio'>
                                    <label class="tab-{{$index+1}}" for='tab-{{$index+1}}'>
                                        <div class='app_inner__tab'>
                                            <h2>
                                                <i class='icon ion-android-alarm-clock'></i>
                                                {{event.startsAt | date:"dd MMM yyyy"}}
                                            </h2>
                                            <div class='tab_left'>
                                                <div class='tab_left__image'>
                                                </div>
                                            </div>
                                            <div class='tab_right ellispis' style="width: 66%;">
                                                <h3 class="ellispis">{{event.title}}</h3>
                                                <p>{{event.user.username}}</p>
                                                <button style="width: 110px;">Je viens</button>
                                            </div>
                                        </div>
                                    </label>  
                                </div>                                             
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 moudle bottom-space-20" style="background: white; box-shadow: 0 1px 2px rgba(0,0,0,0.15); border-radius: 5px; overflow: auto; margin-left: 15px;    padding: 0;">
                            <div class="nicescroll">
                                
                                <ul ng-if="!conversation" class="list-group list-group-list" style="max-height: calc(100vh - 150px);">
                                    <li class="list-group-item" ng-repeat="(userId, conversation) in conversations" ng-click="selectUser($event, userId)">
                                        <div class="media">
                                            <div class="media-left media-middle">
                                                <a href="#!">
                                                    <img ng-src="{{conversation.avatar && conversation.avatar + '?dim=300x300' || 'img/Professor.png'}}" alt="conversation.username" class="img-circle border-white" width="40" style="max-width: inherit;
                                                    ">
                                                </a>
                                            </div>
                                            <div class="media-body media-middle ellipsis">
                                                <a href="#!" class="ellipsis" style="color: #1c1d22; text-transform: uppercase; font-weight: 700;">
                                                    {{conversation.username}}
                                                </a>
                                                <p class="ellipsis">
                                                    {{(conversation.conversation.messages.length > 0) ? (conversation.conversation.messages.slice(-1).pop().user.username || "moi") + ": " + conversation.conversation.messages.slice(-1).pop().content : "Pas encore de message" }}
                                                </p>
                                            </div>
                                            <div class="media-right media-middle" ng-if="counters[user._id]">
                                                <span style="color: red; display: flex;">
                                                    {{getUnreadMessageCount(userId)}} 
                                                    <i class="fa fa-comment text-muted" style="margin: 3px;"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div id="respondwrap" class="chat-wrapper" ng-if="conversation">
                                    <i class="fa fa-times" style="cursor: pointer;z-index: 8040;background:white; color: black;position: absolute; font-size: 30px; right: 10px;" ng-click="closeDialog();"></i>
                        
                                    <ul id="conversationList">
                                        <li ng-repeat="item in conversation.messages | orderBy:'created'" ng-class="{'current': item.user === global.user._id || item.user._id === global.user._id}">
                                            <img ng-src="{{item.user.avatar && item.user.avatar + '?dim=300x300' || global.user.avatar + '?dim=300x300' || 'img/Professor.png'}}" alt="{{item.user.name || item.user.username}}">
                                            <p>
                                                <b>{{item.user.username || global.user.username}}</b>: {{item.content}}
                                            </p>
                                        </li>
                                    </ul>

                                    <h3 ng-if="conversation.messages.length === 0" style="margin-top: 20px; text-align: center;">
                                        Aucun message
                                    </h3>

                                    <div ng-if="conversation" class="message-comment" style="padding-right: 20px;padding-top: 10px;">
                                        <textarea
                                        placeholder="Ecrire un message"
                                        ng-model="message.content"
                                        ng-enter="sendMessage()"
                                        style="height: 110px; width: 100%; margin-bottom: 10px;"/>
                                        </textarea>
                                        <button class="pull-right" style="margin-bottom: 20px; color: white;" ng-click="sendMessage();">
                                            <i class="fa fa-comment"></i> Ecrire
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<cm-page-builder></cm-page-builder>