<div class="post type-post status-publish format-standard hentry category-blog pageContent">
	<div class="row-fluid two-cols-layout">
		<div id="content_wrap">
			<div class="content-wrap-inn">
				<div class="pagebuilder-wrap">
					<div class="container suggestionCreationContainer">
						<div id="comments">
							<div id="respondwrap">
								<div id="respond" class="comment-respond">
									<form role="form">
										<p class="span12" style="margin-left: 0;">
											<textarea
											name="content"
											data-ng-model="suggestion.content"
											placeholder="La proposition de vote aux suceurs..."
											style="height: 150px;">
											</textarea>
										</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
