<h1 style="margin-left:15px; padding-left:0; color: white;">
	<a href="#!/suggestions">
		<i class="fa fa-arrow-circle-left"></i>
	</a>
	{{'suggestions_title' | translate}}
</h1>
<hr style="margin-left:15px; padding-left:0;">
<section data-ng-controller="SuggestionController">
	<div class="col-xs-12">
		<form class="form-horizontal" role="form" data-ng-submit="add();">
			<div class="form-group">
				<textarea
					class="form-control"
					placeholder="{{'suggestions_add' | translate}}"
					data-ng-model="content"
					style="width:calc(100% - 15px); margin-left: 15px;"/>
				<button
					class="btn btn-primary"
					type="submit"
					title="{{'suggestions_add' | translate}}"
					style="float:right;">
					<i class="glyphicon glyphicon-ok"></i>
				</button>
			</div>
		</form>
	</div>
</section>