<div class="subnav navbar-default" >
	<div id="subnav" class="navbar-inner toolbar">
		<ul class="nav navbar-nav navbar-default">
			<li data-ng-class="{active: view === 'create'}" class="toolbaritem">
				<a href="#!/suggestions/create"><span class="fa fa-plus-circle"></span> {{'agenda_add' | translate}}</a>
			</li>
			<li data-ng-class="{active: view === 'suggestions'}" class="toolbaritem">
				<a href="#!/suggestions"><span class="fa fa-puzzle-piece"></span> {{'suggestions_title' | translate}}</a>
			</li>
		</ul>
	</div>
</div>