<h1 style="margin-left:15px; padding-left:0; color: white;">
	<i class="fa fa-puzzle-piece"  style="color: white; "></i>
	{{'suggestions_title' | translate}}
	<a href="#!/suggestions/create" class="pull-right" style="color: white;">
		<i class="fa fa-plus-circle"></i>
	</a>
</h1>
<hr style="margin-left:15px; padding-left:0;">
<section data-ng-controller="SuggestionController">
	<ul class="suggestionList">
		<li class="suggestionItem" data-ng-repeat="suggestion in SuggestionsCollection.all">
			<a href="#">
				<h4>{{global.user.name}}, le {{suggestion.created | date:dateFormat}}</h4>
		        		<p class="three-line-ellipsis">{{suggestion.content}}</p>
		      	</a>
		</li>
	</ul>
</section>