<div>
	<p>
		{{ getDateFrom(item) }}
	</p>
	<div class="timeline-item">
		<div class="timeline-icon">
			<img ng-src="{{ item.user.avatar && item.user.avatar + '?dim=50x50' || 'img/Professor.png' }}" alt="{{ user.username }}" title="{{ user.username }}" style="background: white;"/>
		</div>
		<a href="#!/albums/view/{{item._id}}">
			<div class="timeline-content">
				<h2>
					{{ user.username }} a ajouté un album : {{ item.name }}
				</h2>
				<ul class="liquid-body-thumbs clearfix">
					<li ng-repeat="photo in item.photoList | limitTo:5">
						<a ng-href="{{ photo.filepath }}" title="{{ photo.name }}" class="imgwrap" data-lightbox="image1">
							<img ng-src="{{ photo.filepath }}?dim=100x100"/>
						</a>
					</li>
				</ul>
			</div>
		</a>
	</div>
</div>
