<div>
	<p>
		{{ getDateFrom(item) }}
	</p>
	<div class="timeline-item suggestion">
		<div class="timeline-icon">
			<img ng-src="{{ item.user.avatar && item.user.avatar + '?dim=50x50' || 'img/Professor.png' }}" alt="{{ user.username }}" title="{{ user.username }}" style="background: white;"/>
		</div>
		<a href="#!/articles/view/quote/{{item._id}}">
			<div class="timeline-content">
				<h2 style="background: #1b2d41;">
					{{ item.title }}
				</h2>
				<div class="three-line-ellipsis item_des bg-theme-color-7" style="margin: 0 -20px -20px;">
					<div>
						<p style="margin: 10px 0 0; padding: 0 20px 0;">
							Vote de
							<b style="text-transform: uppercase; font-size: medium;">
								{{ item.user.username }}
							</b>
							, {{ getDateFrom(item) }}:
						</p>
					</div>
					<p style="padding: 0 20px 0;" class="three-line-ellipsis">
						{{ item.content }}
					</p>
					<div style="text-align: center; line-height: 50px; font-size: 16px; font-weight: 500;">
						Voir le résultat du vote
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
