<div>
	<p>
		{{ getDateFrom(item) }}
	</p>
	<div class="timeline-item">
		<div class="timeline-icon">
			<img ng-src="{{ item.user.avatar && item.user.avatar + '?dim=50x50' || 'img/Professor.png' }}" alt="{{ user.username }}" title="{{ user.username }}" style="background: white;"/>
		</div>
		<a href="#!/articles/view/standard/{{item._id}}">
			<div class="timeline-content">
				<h2>
					{{ item.title }}
				</h2>
				<div class="three-line-ellipsis">
					{{item.contentHTML}}
				</div>
			</div>
		</a>
	</div>
</div>
