<div>
	<p>
		{{ getDateFrom(item) }}
	</p>
	<div class="timeline-item agenda">
		<div class="timeline-icon" ng-click="showUserDetail($event, item.user);">
			<img ng-src="{{ item.user.avatar && item.user.avatar + '?dim=50x50' || 'img/Professor.png' }}" alt="{{ item.user.username }}" title="{{ item.user.username }}" style="background: white;"/>
		</div>
		<a href="#!/agenda/view/{{ item._id }}">
			<div class="timeline-content">
				<h2 style="background: #F44336;">
					<i class="fa fa-calendar"></i>&nbsp;
					{{ item.title }}
				</h2>
				<div class="three-line-ellipsis item_des" style="margin: 0 -20px -20px;">
					<div class="evwdg" style="height: 85px;">
						<div class="evwdg-data">
							<div class="evwdg-day">
								{{ item.startsAt | date:"dd" }}
							</div>
							<div class="evwdg-month">
								{{ item.startsAt | date:"MMM" }}
							</div>
						</div>
						<div class="evwdg-title">
							<div class="three-line-ellipsis" style="">
								{{ item.content }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
