<div class="filter_blog width2 isotope-item audio">
	<div class="inside" style="margin:40px 0 0 40px;">
		<div>
			<div class="item_des soundcloudWrapperParent">
				<div class="item_des">
					<h2 class="item_title">
						<a href="#!/articles/view/audio/{{ article._id }}" title="{{ article.title }}">
							{{ article.title }}
						</a>
					</h2>
					<div class="clear">
					</div>
					<div class="soundcloudWrapper embed-container">
						<iframe frameborder="0" allowtransparency='true' ng-src="{{ trustSrc(article.audioLink) }}">
						</iframe>
					</div>
					<div class="tagcloud" style="padding: 0 20px 10px;">
						<a ng-repeat="category in article.categories" title="{{ category.value }}" style="font-size: 11px;" class="active">
							{{ category.value }}
						</a>
						<a ng-if="article.categories.length === 0" style="font-size: 11px;" class="active">
							Aucune catégorie associée
						</a>
					</div>
					<div class="clear">
					</div>
					<div class="pull-right" style="margin: -40px 20px; font-size: initial;">
						<span class="pull-right">
							{{ article.comments.length }}
							<i class="fa fa-comment">
							</i>
						</span>
					</div>
					<hr/>
					<div style="width:40px; margin: 0 20px; padding: 0 0 20px; cursor: pointer;" ng-click="showUserDetail($event, article.user);">
						<p style="margin: 10px 0 10px 50px;position: absolute;">
							<b style="text-transform: uppercase; font-size: medium;">
								{{ article.user.username }},
							</b> {{ getDateFrom(article) }}
						</p>
						<img class="img-circle" ng-src="{{ article.user.avatar }}?dim=40x40" alt="{{ article.user.username }}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
