<div class="filter_blog filter_uncategorized width2 isotope-item link">
	<div class="inside" style="margin:40px 0 0 40px;">
		<div>
			<div class="item_topbar post-bgcolor-default">
				<a ng-href="#!/articles/view/link/{{article._id}}" title="{{article.title}}" class="item_link"></a>
			</div>
			<div class="item_des post-bgcolor-default">
				<h2 class="item_title">
					<a ng-href="#!/articles/view/link/{{article._id}}" title="{{article.title}}">
						{{article.title}}
					</a>
				</h2>
				<div class="item-link-wrap">
					<p class="item-link" ng-repeat="link in article.linkAdress">
						<a title="{{link.value}}" href="{{link.adress}}" target="_blank">
							{{link.value}}
						</a>
					</p>
				</div>
				<div class="like clear"></div>
				<div class="pull-right" style="margin: 10px 20px;">
					<span class="pull-right"><i class="fa fa-comment"></i> {{article.comments.length}}</span>
				</div>
				<div style="width:40px;margin: 0 20px; padding-bottom: 20px;">
					<img class="img-circle" ng-src="{{article.user.avatar}}?dim=300x300" alt="{{article.user.username}}"/>
				</div>
			</div>
		</div>
	</div>
</div>