<div class="filter_blog width2 isotope-item quote">
	<div class="inside" style="margin:40px 0 0 40px;">
		<div>
			<div class="item_topbar bg-theme-color-7">
				<a ng-href="#!/articles/view/quote/{{article._id}}" title="{{article.title}}" class="item_link"></a>
			</div>
			<div class="item_des bg-theme-color-7">
				<i class="icon-m-quote-left center-ux"></i>
				<p>
				{{article.quote}}
				</p>
				<div class="like clear"></div>
				<!--End like-->
			</div>
		</div>
	</div>
	<!--End inside-->
</div>