<div class="filter_blog width2 isotope-item video">
	<div class="inside" style="margin:40px 0 0 40px;">
		<div>
			<div class="item_topbar post-bgcolor-default">
				<a href="#!/articles/view/video/{{article._id}}" title="{{article.title}}" class="item_link"></a>
			</div>
			<div ng-if="article.videoLink" class="videoWrapper vimeo">
				<iframe
				ng-src="{{trustSrc(article.videoLink + '?showinfo=0')}}"
				width="100%"
				height="auto"
				frameborder="0"
				webkitallowfullscreen="true"
				mozallowfullscreen="true"
				allowfullscreen="true">
				</iframe>
			</div>
			<div class="item_des post-bgcolor-default">
				<h2 class="item_title">
					<a href="#!/articles/view/video/{{article._id}}" title="{{article.title}}">
					{{article.title}}
					</a>
				</h2>
				<div class="like clear"></div>
				<div style="padding: 10px 20px;">
					<i class="fa fa-user"></i> {{article.user.username}}
					<i class="fa fa-comment"></i> {{article.comments.length}}
				</div>
			</div>
		</div>
	</div>
</div>