<div class="pop_up">
 	<div class="member-content clearfix">
     	<div class="left-col">
            <div class="member-avatar">
            	<img src="images/member-1.jpg" alt=""/>
            </div>
            <ul class="social-link clearfix">
                <li><a href="#"><img src="../images/Facebook.png" alt=""/></a></li>
                <li><a href="#"><img src="../images/Twitter.png" alt=""/></a></li>
                <li><a href="#"><img src="../images/Google.png" alt=""/></a></li>
                <div class="clear"></div>
            </ul>
            <a class="border-line-btn contact-member" href="mailto:contact@company.com">Envoyer un mail</a>
        </div>
        <div class="right-col">
            <div class="member-intro">
               <h2>{{global.user.name}}<span>Developer</span></h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum,Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="flx-skill-widget widget">
                <h3 class="widget-title">Our skills<span></span></h3>
                <div class="flx-skill clearfix">
                    <p class="flx-skill-title">Web & UI design</p>
                    <div class="progress-bar flexible animate"> 
                        <span class="progress-75">
                       		<span></span>
                       	</span>
                    </div>
                    <p class="flx-skill-number">75%</p>
                </div>
                <div class="flx-skill clearfix">
                    <p class="flx-skill-title">iOs Development</p>
                    <div class="progress-bar flexible animate"><span class="progress-90">
                   		<span></span></span> 
                	</div>
                	<p class="flx-skill-number">90%</p>
                </div>
                <div class="flx-skill clearfix">
                    <p class="flx-skill-title">Logo Design</p>
                    <div class="progress-bar flexible animate"> 
                   		<span class="progress-50"><span></span></span> 
                   	</div>
                   <p class="flx-skill-number">50%</p>
                </div>
                <div class="flx-skill clearfix">
                    <p class="flx-skill-title">Laboratory</p>
                    <div class="progress-bar flexible animate">
                   		<span class="progress-60"><span></span></span> 
                   	</div>
                   <p class="flx-skill-number">60%</p>
                </div>
        	</div>
   		</div>
 		<div class="clear"></div>
	</div>	      
</div>